#searchPane {
    margin: 1%;
    padding: 1%;
}

table.dataTable thead th, table.dataTable thead td{
    padding: 0 0;
    width: 180px;
}
tr th input{
    width: 100%;
}

#filterTable input {
    margin: 10px;
}
