@(jobLocation: String, jobRoleCompanyName: String, jobRoleName: String, jobPostId: Long)
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>
            Trujobs - Apply for @jobRoleName.split('_').map(_.capitalize).mkString(" ") Job at @jobRoleCompanyName.split('_').map(_.capitalize).mkString(" ")</title>

        <meta name="keywords" content="driving jobs, fresher jobs, jobs for freshers, job search sites, job posting, sales jobs, beautician jobs,
                medical transcription jobs, online job search, find jobs, receptionist jobs, admin jobs, office assistant jobs,
                plumbing work, teacher job, online teaching jobs, jobs in schools, teacher vacancy, teacher recruitment, entry level jobs,
                delivery boy jobs,call center jobs, BPO jobs, kpo jobs, job job job, data entry jobs, back office jobs,
                receptionist jobs, beautician jobs, experienced jobs, jobs in Bangalore, cashier jobs, entry level jobs,
                plumber jobs, electrician jobs, job search, accountant jobs, job vacancy, bangalore vacancy">

        <meta name="description" content='Search and apply for jobs online.Apply for
                    @jobRoleName.split('_').map(_.capitalize).mkString(" ") Job at @jobRoleCompanyName.split('_').map(_.capitalize).mkString(" ")
                    . Give a missed call at 8880007799 for best jobs.'>
        <meta http-equiv="Cache-control" content="public">
        <meta name="theme-color" content="#286ab6">
            <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" type="text/css" href="/assets/common/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/assets/common/css/myStyle.css"/>
        <link rel="stylesheet" type="text/css" href="/assets/common/css/pre_screen_candidate.css"/>

        <link rel="stylesheet" href="/assets/common/css/token-input-facebook.css" type="text/css" />
        <link rel="stylesheet" href="/assets/support/css/bootstrap-multiselect.css" type="text/css" />


        <link rel="icon" type="image/png" href="/assets/common/img/icon.png">

        <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
        <style>
        #finalSubmitBtn{
            width: 100%;
            font-weight:bold;
            font-size: 18px;
            background-color: rgb(9, 172, 88);
        }
        #missingInfo li{
            color:#286ab6;
        }
        </style>
        <script>

        </script>
    </head>
    <body>
            <!-- Nav start -->
        <div id="nav_bar_inc"></div>
            <!-- custom message modal -->
        <div class="modal fade" id="messagePromptModal" tabindex="-1" role="dialog" aria-labelledby="messagePromptModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">TruJobs</h4>
                    </div>
                    <div class="modal-body">
                        <center>
                            <img id="customMsgIcon" width="48px">
                            <div id="customMsg" style="padding: 16px"></div>
                            <div id="customSubMsg" style="padding: 16px"></div>
                        </center>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" style="margin-top: 60px;margin-bottom: 40px">
            <div class="row" style="margin: 10px 0;text-align: center">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <h3>Job Application Form for <b><span style="display: inline-block" id="locality_jobNameConfirmation"></span>
                        </b>job at
                        <b><span style="display: inline-block" id="locality_companyNameConfirmation"></span></b>
                    </h3>
                </div>
            </div>
                @* Job Pre Interview Slot Card start *@
            <div class="row" style="margin:5px 0" id="jobInterviewSlotCardDiv">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading data-toggle" id="jobInterviewHead" data-target="#jobInterviewPanel" data-toggle="collapse" style="background-color: #cfd8dc" href="#sortByOpener">
                            <h4 class="panel-title" style="font-weight: bold">When can you come for interview ?
                                <span id="interviewCollapsePanelIcon" class="glyphicon glyphicon-chevron-up pull-right"></span>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse in" id="jobInterviewPanel">
                            <div class="row" style="margin: 10px 0">
                                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                                    <div class="form-group">
                                        <select id="interViewSlot" class="form-group selectDropdown"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
                @* Job Pre Interview Slot Card end *@
                @* Job Locality Card start *@
            <div class="row" style="margin:5px 0" id="jobLocalityCardDiv">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading" id="jobLocalityHead" data-toggle="collapse" data-target="#jobLocalityPanel" style="background-color: #cfd8dc" href="#sortByOpener">
                            <h4 class="panel-title" style="font-weight: bold">Where can you work ?
                                <span id="localityCollapsePanelIcon" class="glyphicon glyphicon-chevron-up pull-right"></span>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse in" id="jobLocalityPanel">
                            <div class="row" style="margin: 10px 0">
                                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                                    <div class="form-group">
                                        <select id="jobLocality" class="form-control selectDropdown"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
                @* Job Locality Card end *@
                @* Job Pre Screen Card start *@
            <div class="row" style="margin:5px 0">
                <div class="col-sm-12">
                    <div class="panel panel-default" id="preScreenCardDiv">
                    <div class="panel-heading" data-target="#missingInfo" style=" background-color: #cfd8dc" data-toggle="collapse" href="#sortByOpener">
                        <h4 class="panel-title" style="font-weight: bold">Provide Details
                            <span id="detailsCollapsePanelIcon" class="glyphicon glyphicon-chevron-down pull-right"></span>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="missingInfo"></div>
                </div>
                    @* Job Pre Screen Card enb *@
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-sm-offset-9">
                            <button type="button" id="finalSubmitBtn" class="btn btn-success">Apply</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="/assets/common/js/script_constants.js"></script>
        <script type="text/javascript" src="/assets/common/js/jquery-1.12.4.js"></script>
        <script type="text/javascript" src="/assets/common/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/assets/common/js/validation.js"></script>
        <script type="text/javascript" src="/assets/common/js/jquery.tokeninput.js"></script>
        <script type="text/javascript" src="/assets/support/js/bootstrap-multiselect.js"></script>
        <script type="text/javascript" src="/assets/partner/js/notify.min.js"></script>
        <script type="text/javascript" src="/assets/build/scripts/applyInShortController.min.js"></script>

            <!-- Facebook Pixel Code -->
        <script>
                !function (f, b, e, v, n, t, s) {
                    if (f.fbq)return;
                    n = f.fbq = function () {
                        n.callMethod ?
                                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
                    };
                    if (!f._fbq)f._fbq = n;
                    n.push = n;
                    n.loaded = !0;
                    n.version = '2.0';
                    n.queue = [];
                    t = b.createElement(e);
                    t.async = !0;
                    t.src = v;
                    s = b.getElementsByTagName(e)[0];
                    s.parentNode.insertBefore(t, s)
                }(window,
                        document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');

                fbq('init', '535139956654403');
                fbq('track', "PageView");
        </script>
        <noscript>
            <img height="1" width="1" style="display: none"
            src="https://www.facebook.com/tr?id=535139956654403&ev=PageView&noscript=1">
        </noscript>
            <!-- End Facebook Pixel Code -->

            <!--  google page view -->
        <script>
                (function (i, s, o, g, r, a, m) {
                    i['GoogleAnalyticsObject'] = r;
                    i[r] = i[r] || function () {
                                (i[r].q = i[r].q || []).push(arguments)
                            }, i[r].l = 1 * new Date();
                    a = s.createElement(o),
                            m = s.getElementsByTagName(o)[0];
                    a.async = 1;
                    a.src = g;
                    m.parentNode.insertBefore(a, m)
                })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
                ga('create', 'UA-77156203-1', 'auto');
                ga('send', 'pageview');
        </script>
    </body>
</html>