<div id="hotJobs"></div>
<br>
<!-- custom message modal -->
<div class="modal fade" id="messagePromptModal" tabindex="-1" role="dialog" aria-labelledby="messagePromptModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">TruJobs</h4>
            </div>
            <div class="modal-body">
                <center>
                    <img id="customMsgIcon" width="48px">
                    <div id="customMsg" style="padding: 16px"></div>
                    <div id="customSubMsg" style="padding: 16px"></div>
                </center>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#hotJobs").scroll(function() {
            var w = window.innerWidth;
            if(w < 440){
                document.documentElement.scrollTop = document.body.scrollTop = 280;

            } else{
                document.documentElement.scrollTop = document.body.scrollTop = 248;
                $("#hotJobs").css({marginTop : "2%"});
            }
        });
    });
</script>
