@(jobRoleName: String , jobRoleId : Long)
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>
            Trujobs - Find @jobRoleName.split('-').map(_.capitalize).mkString(" ") for Freshers and Experienced Candidates </title>

        <meta name="keywords" content="driving jobs, fresher jobs, jobs for freshers, job search sites, job posting, sales jobs, beautician jobs,
        medical transcription jobs, online job search, find jobs, receptionist jobs, admin jobs, office assistant jobs,
        plumbing work, teacher job, online teaching jobs, jobs in schools, teacher vacancy, teacher recruitment, entry level jobs,
        delivery boy jobs,call center jobs, BPO jobs, kpo jobs, job job job, data entry jobs, back office jobs,
        receptionist jobs, beautician jobs, experienced jobs, jobs in Bangalore, cashier jobs, entry level jobs,
        plumber jobs, electrician jobs, job search, accountant jobs, job vacancy, bangalore vacancy">

        <meta name="description" content="Search and apply for jobs online. Register for FREE and find best
        @jobRoleName.split('-').map(_.capitalize).mkString(" "). Give a missed call at 8880007799 for best jobs." />

        <meta http-equiv="Cache-control" content="public">
        <meta name="theme-color" content="#286ab6">
            <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" type="text/css" href="/assets/common/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/assets/owl-carousel/owl.carousel.css">
        <link rel="stylesheet" type="text/css" href="/assets/owl-carousel/owl.transitions.css">

        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("common/css/myStyle.css")">
        @*<link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("dashboard/css/materialDashboard.css")">*@
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("common/css/selected_jobroles.css")">

        <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">

        <script type="text/javascript" src="/assets/common/js/jquery-1.12.4.js"></script>
        @*<script type="text/javascript" src="@routes.Assets.versioned("common/js/jquery.min_1_12_0.js")"></script>*@

        <script type="text/javascript" src="/assets/common/js/bootstrap.min.js"></script>
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("common/img/icon.png")">

        <link rel="stylesheet" href="/assets/common/css/token-input-facebook.css" type="text/css" />
        <script type="text/javascript" src="/assets/common/js/jquery.tokeninput.js"></script>
        <script type="text/javascript" src="/assets/common/js/jquery.twbsPagination.js"></script>

        <script>
            var jobRoleNameRender = "@jobRoleName";
            var jobRoleIdRender = "@jobRoleId";
            $('html, body').css({
                'overflow': 'hidden',
                'height': '100%'
            });
        </script>
    </head>
    <body>
        <div id="preloader">
            <div id="loaderLogo">
                <img id="leaderLogo" src="/assets/common/img/logo-color.gif" alt="TruJobs Logo" height="40px">
            </div>
            <div id="status">&nbsp;</div>
        </div>

            <!-- Nav start -->
        <div id="nav_bar_inc"></div>
        <script>
                function processDataCheckNavBar(returnedData) {
                    if(returnedData == '1'){
                        $('#nav_bar_inc').load('/navBarLoggedIn');
                        $("#headingMain").addClass("pull-right");
                        $(".leadBox").hide();
                        localStorage.setItem("incentives", "0");
                    } else if(returnedData == '2'){
                        $('#nav_bar_inc').load('/partnerNavBarLoggedIn');
                        $(".leadBox").hide();
                        $("#headingMain").addClass("pull-right");
                        localStorage.setItem("incentives", "1");
                    } else {
                        $('#nav_bar_inc').load('/navBar');
                        localStorage.setItem("incentives", "0");
                    }
                }

                $(document).ready(function(){
                    try {
                        $.ajax({
                            type: "GET",
                            url: "/checkNavBar",
                            data: false,
                            contentType: false,
                            processData: false,
                            success: processDataCheckNavBar
                        });
                    } catch (exception) {
                        console.log("exception occured!!" + exception);
                    }
                });
        </script>

        <div class="container">
            <div id="fixed-menu-shadow" style="padding-bottom: 0px;
                padding-top: 12px;
                display: none;" >

            </div>
        </div>
        <div>
            <script>
                    $(document).ready(function () {
                        $("#sectionOne").css('background-image', 'url(../img/11.png) no-repeat');
                    });
            </script>
            <div id="sectionOne">
                <font color="white">
                    <div class="row">
                        <div class="col-sm-10" id="headingMain">
                            <h1 style="letter-spacing: 2px;font-size:28px;font-weight: bold" id="jobTitleLine">
                                Register for @jobRoleName.split('-').map(_.capitalize).mkString(" ")</h1>
                            <h2 style="letter-spacing: 1px;
                                margin-top: 10px;">Call 8880007799 to find jobs in top companies!</h2>
                        </div>
                    </div>
                </font>
            </div>
                <!-- End of sectionOne -->
        </div>
        <div class="container">
            <div class="leadBox">
            <form id="form_signup_candidate" style="margin-top: 0%;
                margin-right: 2%;
                margin-left: 2%" class="form-horizontal" role="form" name="form_signup_candidate" >
                <h2 id="jobRoleTitle" style="font-weight: bold;font-size:20px">Register for @jobRoleName.split('-').map(_.capitalize).mkString(" ")</h2>
                <div class="row" id="firstNameLastName">
                    <div class="col-sm-6" style="padding: 0 4px 0 16px">
                        <input id="candidateFirstName" placeholder="First name" type="text" maxLength="49" class="form-control input-md">
                    </div>
                    <div class="col-sm-6" style="padding: 0 16px 0 4px">
                        <input id="candidateSecondName" placeholder="Last name" type="text" maxLength="49" class="form-control input-md candidateSecondNameMain" >
                    </div>
                </div>

                <input id="candidateMobile" style="margin-top: 8px" placeholder="What is your mobile no.?" name="candidateMobile" type="text" maxlength="10" class="form-control input-md" >

                <div style="margin-top: 8px">
                    <input type="text" id="candidateJobPref" placeholder="What jobs you are Interested in?">
                    <script type="text/javascript">
                            $(document).ready(function () {
                                $("#candidateJobPref").tokenInput(getJob(), {
                                    theme: "facebook",
                                    placeholder: "What jobs you are Interested? (Max: 3)",
                                    hintText: "Start typing jobs (eg. Cook, Delivery boy..)",
                                    minChars: 0,
                                    tokenLimit: 3,
                                    preventDuplicates: true
                                });
                            });
                    </script>
                </div>

                <div style="margin-top: 8px">
                    <input type="text" id="candidateHomeLocality" style="margin-top: 4px">
                    <script type="text/javascript">
                            $(document).ready(function () {
                                $("#candidateHomeLocality").tokenInput(getLocality(), {
                                    theme: "facebook",
                                    placeholder: "Where do you live?",
                                    minChars: 3,
                                    tokenLimit: 1,
                                    hintText: "Start Typing Area (eg: Whitefield, Agara, etc..)",
                                    preventDuplicates: true
                                });
                            });
                    </script>
                </div>

                <button type="submit" id="registerBtnSubmit" class="btn btn-primary" style="margin-top: 8px;
                    padding-top: 3%;
                    padding-bottom: 3%;
                    padding-right: 8%;
                    padding-left: 8%;
                    width: 100%" >Register for FREE</button>
                <p style="padding-top:5px;margin:0;font-size: 12px"> By signing up I agree to <a href='/privacy'>Terms & Conditions</a></p>
                <hr>
                <p style="padding-top:5px;margin:0"><font size = 2px> Already Registered ? <a href='#' data-toggle="modal" data-target="#myLoginModal" onClick="openLogin()">Sign In Here </a></font></p>
                    <!-- Text input-->
            </form>
            <div class="modal fade bs-example-modal-sm" id="myRegistrationModal" tabindex="-1" role="dialog" aria-labelledby="myRegistrationModal">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content" style="text-align: center">
                        <img src="/assets/common/img/logo.gif" height="40px" alt="TruJobs Logo">
                        <form id="form_otp" role="form" name="form_otp" style="display: none">
                            <div class="c_form" style="margin-left: 10%;
                                margin-right: 10%;" align="center">
                                <h5 id="helpTextSignUp">Enter OTP</h5>

                                <div class="form-group">
                                    <input id="candidateOtp" style="width: 80%;" min="1000" max="9999" name="candidateOtp" type="number" placeholder="Enter OTP: (eg: 9876)" class="form-control input-md" required>
                                </div>

                                <button type="submit" id="verifyOtpBtn" class="btn btn-primary" style="padding-top: 3%;
                                    padding-bottom: 3%;
                                    padding-right: 8%;
                                    padding-left: 8%;
                                    background: #06436a;
                                    border: none">Verify OTP</button>

                            </div>
                        </form>

                        <form id="form_auth" role="form" name="form_auth" style="display: none">
                            <div class="c_form" style="margin-left: 10%;
                                margin-right: 10%;" align="center">
                                <h4>Enter a password</h4>
                                <div class="form-group">
                                    <input id="candidatePassword" minlength="6" name="candidatePassword" type="password" placeholder="Enter password (Min. 6 characters)" class="form-control input-md" required>
                                </div>

                                    <!-- hidden-->
                                <div class="form-group" style="display: none;">
                                    <input id="candidateAuthMobile" name="candidateAuthMobile" type="text" class="form-control input-md" >
                                </div>
                                <button type="submit" class="btn btn-primary" id="btnSubmit" style="padding-top: 3%;
                                    padding-bottom: 3%;
                                    padding-right: 8%;
                                    padding-left: 8%;
                                    background: #06436a;
                                    border: none">Create Account</button>
                            </div>
                        </form>
                        <div id="incorrectOtpMsg" style="margin-top: 2%;
                            display: none;
                            color: #2980b9">
                            <h5>Incorrect OTP Code. Please Enter Again</h5>
                        </div>

                        <div id="errorMsg" style="margin-top: 2%;
                            display: none;
                            color: #2980b9">
                            <h4>Looks like something went wrong. Please try again later!</h4>
                        </div>
                    </div>
                </div>
                    <!-- Lead form block ends -->
            </div>

            <div style="text-align: center">
                <div class="errorMsgText" id="alreadyMsgCandidate" style="margin-top: 2%;
                    display: none;">
                    <h5>User Already Exists! Please <a data-toggle="modal" data-target="#myLoginModal" style="cursor: hand;
                        color: #888888">Login</a> to Continue</h5>
                    <br>
                </div>
            </div>
        </div>
        </div>

            <!-- start hot job -->
        <div class="container">
            <center id="jobLoaderDiv" style="position: relative; text-align: center; width: 100%">
                <h4>Loading Jobs</h4>
                <svg viewBox="0 0 32 32" width="32" height="32">
                    <circle id="loadingSpinner" cx="16" cy="16" r="14" fill="none"></circle>
                </svg>
            </center>
            <div id="job_cards_inc"></div>
            <div id="jobCardControl"></div>
        </div>
        <script>
            $(document).ready(function () {
                $('#job_cards_inc').load('/jobPostCardView');
            });
        </script>
        <div class="conrtainer-fluid" style="background-color: #fff">
            <div class="container">
                <div class="row">
                    <center>
                        <div class="company_class">Companies Hiring From Us</div>
                        <div class="materialDash"></div>
                        <div id="hiringCompanyLogo" class="owl-carousel" style="margin: 36px 0 48px 0"></div>
                    </center>
                </div>
            </div>
        </div>

        <!--  Start Job Icons Box -->
        <div class="sectionTwo" style="display: table;
            width: 100%" id="jobs">
            <h3 id="jobVacancyHead">Click on Job Roles to View Jobs</h3>
            <center>
                <div class="materialDash"></div>
            </center><br>

            <div class="custom_container">
                <div id="jobRoleGrid" style="width: auto"></div>
            </div>
        </div>
        <a href="#" class="scrollToTop"><img src="/assets/common/img/up.svg"></a>
            <!-- Start Footer-->
        <div id="footer_inc"></div>
        <script>
                $(document).ready(function () {
                    $('#footer_inc').load('/footer');
                });
        </script>

            <!-- Including Bootstrap -->
        <script type="text/javascript" src="/assets/owl-carousel/owl.carousel.min.js"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("common/js/all_job_role_with_jobs.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("common/js/validation.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("build/scripts/jobCardModule.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("common/js/show_page.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("build/scripts/pre_screen_candidate.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("common/js/script_constants.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("common/js/candidate_upload_resume.js")"></script>

        <script>
                $(document).ready(function () {
                    $(document).click(function (event) {
                        $(".navbar-collapse").collapse('hide');
                    });
                });
                $(document).ready(function () {
                    $('[data-toggle="tooltip"]').tooltip();
                });
        </script>
            <!-- Facebook Pixel Code -->
        <script>
            !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
                n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
                t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
                    document,'script','https://connect.facebook.net/en_US/fbevents.js');

            fbq('init', '535139956654403');
            fbq('track', "PageView");
        </script>
            <noscript>
                <img height="1" width="1" style="display:none"
                src="https://www.facebook.com/tr?id=535139956654403&ev=PageView&noscript=1"/>
            </noscript>
                <!-- End Facebook Pixel Code -->

                <!--  google page view -->
            <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-77156203-1', 'auto');
            ga('send', 'pageview');
        </script>
    </body>
</html>