<script type="text/javascript" src="/assets/common/js/signup_candidate.js"></script>
<script type="text/javascript" src="/assets/common/js/add_lead.js"></script>
<script type="text/javascript" src="/assets/common/js/reset_password.js"></script>
<script type="text/javascript" src="/assets/common/js/validation.js"></script>
<script type="text/javascript" src="/assets/common/js/login.js"></script>
<script>
    var candidateId;
    function renderShowJobsPage(){
        try {
            /*window.location.href = "/jobs/" +"jobs-in-bangalore";*/
            window.location.href = "/s/jobs-in-bangalore/";
        } catch (exception) {
            console.log("exception occured!!" + exception);
        }
    }
    document.getElementById('uploadResumeContent').addEventListener('change', uploadResume, false);
</script>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div itemscope itemtype ="http://schema.org/logo">
                    <a class="navbar-brand" href="/">
                        <img id="navLogo" itemprop="Brand" src="/assets/common/img/logo-color.gif" alt="TruJobs Logo"></a>
                    <a href="https://play.google.com/store/apps/details?id=in.trujobs.dev.trudroid" style="padding: 0px">
                        <img id="playStoreLogoNavBar"  src="/assets/common/img/download_btn.png" alt="PlayStore Logo" height="26px"></a>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navigationbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden-xs hidden-sm">
                        <a href="https://play.google.com/store/apps/details?id=in.trujobs.dev.trudroid" target="_blank">
                            <img src="/assets/common/img/download_btn.png" style="height: 30px;margin-top: -6px; margin-right: -16px;">
                        </a>
                    </li>
                    <li> <a href="/"><font id="navItem1" color="#0065a4" style="font-size: 12px; letter-spacing: 1px;">HOME</font></a></li>
                    <li> <a href="#" onclick="renderShowJobsPage()"><font id="navItem2" color="#0065a4" style="font-size: 12px; letter-spacing: 1px;">SEARCH JOBS</font></a></li>
                    <li> <a href="/recruiter" target="_blank">
                        <font id="navItem4" color="#0065a4"  style="font-size: 12px; letter-spacing: 1px;">FOR EMPLOYERS</font></a></li>
                    <li> <a href="/partner">
                        <font id="navItem4" color="#0065a4"  style="font-size: 12px; letter-spacing: 1px;">FOR PARTNERS</font></a></li>
                    <li> <a style="cursor: pointer;" data-toggle="modal" data-target="#myLoginModal" onClick="openLogin()">
                        <font id="navItem5" color="#0065a4"  style="font-size: 12px; letter-spacing: 1px;">
                            <img src="/assets/common/img/sign_up.png" height="16px" style="margin-right: 6px"/>SIGN IN
                        </font></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    <!-- /.container -->
</nav>

<div id="mySignUpModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
            <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body" id="model_size">
                <h4 style="font-weight: bold"><center><font color="#0B4063">Sign Up to Apply Jobs</font></center></h4>
                <div id="uploadResumeContainer" style="margin:0 2%">
                    <center>
                        <label class="btn btn-default btn-file" id="uploadResumeBtn">Sign Up With Resume - One Click
                            <input type="file" id="uploadResumeContent" style="display: none">
                        </label>
                    </center>
                </div>
                <center>
                    <div style="margin-top:20px">
                        <hr>
                        <div style="color:#000;background: #fff;width: 120px;height: 30px;margin-top:-16px">
                            <p><font style="font-size: 12px">Or fill below details</font></p>
                        </div>
                    </div>
                </center>
                <form id="form_signup_candidate_modal"  style="margin-top: 0; margin-right: 2%; margin-left: 2%" class="form-horizontal" role="form" name="form_signup_candidate" >
                    <div class="row" id="firstNameLastName">
                        <div class="col-sm-6" style="padding: 0 4px 0 16px">
                            <input id="candidateFirstNameModal" placeholder="First name" type="text" maxLength="49" class="form-control input-md">
                        </div>
                        <div class="col-sm-6" style="padding: 0 16px 0 4px">
                            <input id="candidateSecondNameModal" placeholder="Last name" type="text" maxLength="49" class="form-control input-md candidateSecondNameMain" >
                        </div>
                    </div>

                    <input id="candidateMobileModal" style="margin-top: 8px" placeholder="Mobile No." name="candidateMobile" type="text" maxlength="10" class="form-control input-md" >

                    <div style="margin-top: 8px">
                        <input type="text" id="candidateJobPrefModal" placeholder="What jobs you are Interested in?">
                        <script type="text/javascript">
                                    $(document).ready(function() {
                                        $("#candidateJobPrefModal").tokenInput(getJob(), {
                                            theme: "facebook",
                                            placeholder: "Jobs Interested? (Max: 3)",
                                            hintText: "Start typing jobs (eg. Cook, Delivery boy..)",
                                            minChars: 0,
                                            tokenLimit: 3,
                                            zindex: 9999999,
                                            preventDuplicates: true
                                        });
                                    });
                                </script>
                    </div>

                    <div style="margin-top: 8px">
                        <input type="text" id="candidateHomeLocalityModal" placeholder="What jobs you are Interested in?" style="margin-top: 4px">
                        <script type="text/javascript">
                                    $(document).ready(function() {
                                        $("#candidateHomeLocalityModal").tokenInput(getLocality(), {
                                            theme: "facebook",
                                            placeholder: "Home Locality?",
                                            minChars: 1,
                                            zindex: 9999999,
                                            tokenLimit: 1,
                                            hintText: "Start Typing Area (eg: Whitefield, Agara, etc..)",
                                            preventDuplicates: true
                                        });
                                    });
                                </script>
                    </div>

                    <button type="submit" id="registerBtnSubmitModal" class="btn btn-primary" style="margin-top: 8px; padding-top: 3%; padding-bottom: 3%; padding-right: 8%; padding-left: 8%; width: 100%" >Register for FREE</button>
                        <!-- Text input-->
                    <div class="row" style="margin: 0">
                        <p style="padding-top:5px;margin:0;font-size: 12px"><span style="float: left;text-align: left">I agree to <a href='/privacy'>T & C</a></span>
                            <span style="float:right;text-align: right">Already Registered<br>
                                <a href='#' data-toggle="modal" data-target="#myLoginModal" onClick="openLogin()">Sign In Here</a>
                            </span>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" id="myRegistrationModal" tabindex="-1" role="dialog" aria-labelledby="myRegistrationModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="text-align: center">
            <img src="/assets/common/img/logo.gif" height="40px" alt="TruJobs Logo">
            <div id="form_otp" role="form" name="form_otp" style="display: none">
                <div class="c_form" style="margin-left: 10%; margin-right: 10%;" align="center">
                    <h5 id="helpTextSignUp">Enter OTP</h5>

                    <div class="form-group">
                        <input id="candidateOtp" style="width: 80%;" min="1000" max="9999" name="candidateOtp" type="number" placeholder="Enter OTP: (eg: 9876)" class="form-control input-md" required>
                    </div>

                    <button id="verifyOtpBtn" onclick="verifyOtp()" class="btn btn-primary" style="padding: 3% 8%;
                        background: #06436a; border: none">Verify OTP</button>

                </div>
            </div>

            <form id="form_auth" role="form" name="form_auth" style="display: none">
                <div class="c_form" style="margin-left: 10%; margin-right: 10%;" align="center">
                    <h4>Enter a password</h4>
                    <div class="form-group">
                        <input id="candidatePassword" minlength="6" name="candidatePassword" type="password" placeholder="Enter password (Min. 6 characters)" class="form-control input-md" required>
                    </div>

                        <!-- hidden-->
                    <div class="form-group" style="display: none;">
                        <input id="candidateAuthMobile" name="candidateAuthMobile" type="text"class="form-control input-md" >
                    </div>
                    <button type="submit" class="btn btn-primary" id="btnSubmit" style="padding-top: 3%; padding-bottom: 3%; padding-right: 8%; padding-left: 8%; background: #06436a; border: none">Create Account</button>
                </div>
            </form>
            <div id="incorrectOtpMsg" style="margin-top: 2%;display: none; color: #2980b9">
                <h5>Incorrect OTP Code. Please Enter Again</h5>
            </div>

            <div id="errorMsg" style="margin-top: 2%;display: none; color: #2980b9">
                <h4>Looks like something went wrong. Please try again later!</h4>
            </div>
        </div>
    </div>
        <!-- Lead form block ends -->
</div>

<div id="myLoginModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body" id="model_size">
                <form id="form_login_candidate" class="form-horizontal" role="form" name="form_login_candidate">
                    <div class="line_up" id="signInPopup">Sign In</div>
                    <div class="container-fluid" id="main_signin_box">
                        <div class="row">
                            <div class="col-sm-12" id="logo">
                                <input type="text" class="form-control" id="candidateLoginMobile" placeholder="Mobile Number" pattern="[7-9]{1}[0-9]{9}" type="text" maxlength="10" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12" id="pass_input" style="margin-bottom:12px;">
                                <input type="password" class="form-control" id="candidateLoginPassword" placeholder="Password" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <input type="checkbox" class="checkbox-inline" style="margin-right:5px;">Remember me
                            </div>
                            <div class="col-xs-6 pull-right" style="text-align:right;">
                                <a style="cursor: pointer;" onclick="resetPassword()"><font color="#06436a">Forgot Password?</font></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12" id="logo">
                                <button type="submit" class="form-control" id="registerBtn" style="margin-top:5px;">Sign In</button>
                            </div>
                        </div>
                        <hr>
                        <center>
                            Don't have an account?<a style="cursor: pointer;" data-toggle="modal" data-target="#mySignUpModal" onClick="openSignUp()">
                            <font color="#06436a">&nbsp;Sign Up</font></a>
                        </center>
                    </div>
                </form>

                <form id="form_forgot_password" style="display: none" class="form-horizontal" role="form" name="form_forgot_password" >
                    <div align="center">
                        <div class="line_up">Reset Password</div>
                        <!-- Text input-->
                        <br>
                        <h5>Enter your mobile No</h5>
                        <div class="form-group">
                            <input style="width: 80%;" id="resetPasswordMobile" type="text" maxlength="10" placeholder="Mobile No. (eg: 8880007799)" class="form-control input-md" pattern="[7-9]{1}[0-9]{9}" type="text" maxlength="10" required>
                        </div>

                        <button type="submit" class="btn btn-primary" id="resetCheckUserBtn" style="padding-top: 3%; padding-bottom: 3%; padding-right: 8%; padding-left: 8%; background: #06436a; border: none">Submit</button>

                    </div>
                </form>

                <form id="form_password_reset_otp" style="display: none" class="form-horizontal" role="form">
                    <div align="center">
                        <div class="line_up">Reset Password</div>
                        <!-- Text input-->
                        <br>
                        <h5 id="helpText"></h5>

                        <div class="form-group">
                            <input style="width: 80%;" id="candidateForgotOtp" type="number" minlength="1000" maxlength="9999" placeholder="Enter OTP: (eg: 9876)" class="form-control input-md" required>
                        </div>
                        <button type="submit" class="btn btn-primary" style="padding-top: 3%; padding-bottom: 3%; padding-right: 8%; padding-left: 8%; background: #06436a; border: none" >Verify OTP</button>

                    </div>
                </form>

                <form id="form_password_reset_new" style="display: none" class="form-horizontal" role="form">
                    <div align="center">
                        <div class="line_up">Reset Password</div>
                        <!-- Text input-->
                        <br>
                        <h5>Enter New Password</h5>

                        <div class="form-group">
                            <input style="width: 80%;" id="candidateNewPassword" type="password" placeholder="Enter new Password" class="form-control input-md" required>
                        </div>
                        <button type="submit" class="btn btn-primary" id="resetNewPasswordBtn" style="padding-top: 3%; padding-bottom: 3%; padding-right: 8%; padding-left: 8%; background: #06436a; border: none" >Reset Password</button>
                    </div>
                </form>

                <center>
                    <font color="red">
                        <div class="errorMsgText" id="incorrectMsg" style="margin-top: 2%;display: none;">
                            <h5>Incorrect Login Credentials</h5>
                        </div>
                        <div class="errorMsgText" id="incorrectMsgLogin" style="margin-top: 2%;display: none;" >
                            <h5>Incorrect Login Credentials</h5>
                        </div>
                        <div class="errorMsgText" id="errorMsgReset" style="margin-top: 2%;display: none;">
                            <h5>User Does Not Exist!</h5>
                        </div>
                        <div class="errorMsgText" id="noUserLogin" style="margin-top: 2%;display: none;">
                            <h5>User Does Not Exist!</h5>
                        </div>
                        <div class="errorMsgText" id="noPasswordLogin" style="margin-top: 2%;display: none;">
                            <h5>Looks like you didn't complete your registration last time. Please register again to continue!</h5>
                        </div>

                        <div class="errorMsgText" id="wrongOtp" style="margin-top: 2%;display: none;">
                            <h5>Incorrect OTP!</h5>
                        </div>

                        <div class="errorMsgText" id="errorMsg" style="margin-top: 2%;display: none;">
                            <h5>Looks like something went wrong. Please try again later!</h5>
                        </div>
                    </font>
                </center>
            </div>
        </div>
    </div>
</div>

<div class ="modal fade bs-example-modal-md" id="uploadResumeModalProcess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-md" id="uploadResumeModalDialog" role="document">
        <div class="modal-content" id="uploadResumeModalProcessContent">
            <center id="resumeUpload">
                <svg viewBox="0 0 32 32" width="42" height="42">
                    <circle id="loadingSpinnerResume" cx="16" cy="16" r="14" fill="none"></circle>
                </svg>
            </center>
            <h4>Processing Your Resume...</h4>
        </div>
    </div>
</div>
<div class ="modal fade bs-example-modal-md" id="uploadResumeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-md" id="uploadResumeModalDialog" role="document">
        <div class="modal-content" id="uploadResumeModalContent">
        </div>
    </div>
</div>
<a href ="#" class="registerBox" data-toggle="modal" data-target="#mySignUpModal" onClick="openSignUp()">
    <div class="row" id="registerBoxInner"><font size="3" style="color: #fff">Apply Now</font></div>
</a>
