@(jobRoleCompanyName:String,jobRoleName:String)
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Trujobs - Apply for @jobRoleName.split('_').map(_.capitalize).mkString(" ") Job at @jobRoleCompanyName.split('_').map(_.capitalize).mkString(" ")</title>

        <meta name="keywords" content="driving jobs, fresher jobs, jobs for freshers, job search sites, job posting, sales jobs, beautician jobs,
                medical transcription jobs, online job search, find jobs, receptionist jobs, admin jobs, office assistant jobs,
                plumbing work, teacher job, online teaching jobs, jobs in schools, teacher vacancy, teacher recruitment, entry level jobs,
                delivery boy jobs,call center jobs, BPO jobs, kpo jobs, job job job, data entry jobs, back office jobs,
                receptionist jobs, beautician jobs, experienced jobs, jobs in Bangalore, cashier jobs, entry level jobs,
                plumber jobs, electrician jobs, job search, accountant jobs, job vacancy, bangalore vacancy">

        <meta name="description" content="Search and apply for jobs online.Apply for @jobRoleName.split('_').map(_.capitalize).mkString(" ") Job at @jobRoleCompanyName.split('_').map(_.capitalize).mkString(" "). Give a missed call at 8880007799 for best jobs." />
        <meta http-equiv="Cache-control" content="public">
        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" type="text/css" href="/assets/common/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/assets/common/css/myStyle.css">
        <link rel="stylesheet" type="text/css" href="/assets/common/css/myJobPost.css">
        <link rel="stylesheet" href="/assets/common/css/token-input-facebook.css" type="text/css" />

        <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">

            <script type="text/javascript" src="/assets/common/js/jquery.min_1_12_0.js"></script>
            <script type="text/javascript" src="/assets/common/js/bootstrap.min.js"></script>
        <link rel="icon" type="image/png" href="/assets/common/img/icon.png">

        <script type="text/javascript" src="/assets/common/js/jquery.tokeninput.js"></script>
        <script>
                    $('html, body').css({
                        'overflow': 'hidden',
                        'height': '100%'
                    });
                  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

                  ga('create', 'UA-77156203-1', 'auto');
                  ga('send', 'pageview');
                </script>
    </head>
    <body>
    <div id="preloader">
        <div id="loaderLogo">
            <img id="leaderLogo" src="/assets/common/img/logo-color.gif" alt="TruJobs Logo" height="40px">
        </div>
        <div id="status">&nbsp;</div>
    </div>

    <!-- Nav start -->
    <div id="nav_bar_inc"></div>
        <script>
                function processDataCheckNavBar(returnedData) {
                    if(returnedData == '1'){
                        $('#nav_bar_inc').load('/navBarLoggedIn');
                    } else if(returnedData == '2'){
                        $('#nav_bar_inc').load('/partnerNavBarLoggedIn');
                    } else {
                        $('#nav_bar_inc').load('/navBar');
                    }
                }

                $(document).ready(function(){
                    try {
                        $.ajax({
                            type: "GET",
                            url: "/checkNavBar",
                            data: false,
                            contentType: false,
                            processData: false,
                            success: processDataCheckNavBar
                        });
                    } catch (exception) {
                        console.log("exception occured!!" + exception);
                    }
                });
        </script>

    <div class="container">
        <div id="fixed-menu-shadow" style="padding-bottom: 0px; padding-top: 8px; display: none" ></div>
    </div>
    <div id="mySignUpModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body" id="model_size">
                    <form id="form_signup_candidate_modal"  style="margin-top: 0%; margin-right: 2%; margin-left: 2%" class="form-horizontal" role="form" name="form_signup_candidate" >
                        <h4 style="font-weight: bold"><center><font color="#0B4063">Sign Up to Apply Jobs</font></center></h4>
                        <div class="row" id="firstNameLastName">
                            <div class="col-sm-6" style="padding: 0 4px 0 16px">
                                <input id="candidateFirstNameModal" placeholder="First name" type="text" maxLength="49" class="form-control input-md">
                            </div>
                            <div class="col-sm-6" style="padding: 0 16px 0 4px">
                                <input id="candidateSecondNameModal" placeholder="Last name" type="text" maxLength="49" class="form-control input-md candidateSecondNameMain" >
                            </div>
                        </div>

                        <input id="candidateMobileModal" style="margin-top: 8px" placeholder="Mobile No." name="candidateMobile" type="text" maxlength="10" class="form-control input-md" >

                        <div style="margin-top: 8px">
                            <input type="text" id="candidateJobPrefModal" placeholder="What jobs you are Interested in?">
                            <script type="text/javascript">
                                $(document).ready(function() {
                                    $("#candidateJobPrefModal").tokenInput(getJob(), {
                                        theme: "facebook",
                                        placeholder: "Jobs Interested? (Max: 3)",
                                        hintText: "Start typing jobs (eg. Cook, Delivery boy..)",
                                        minChars: 0,
                                        tokenLimit: 3,
                                        zindex: 9999999,
                                        preventDuplicates: true
                                    });
                                });
                            </script>
                        </div>

                        <div style="margin-top: 8px">
                            <input type="text" id="candidateLocalityModal" placeholder="What jobs you are Interested in?" style="margin-top: 4px">
                            <script type="text/javascript">
                                $(document).ready(function() {
                                    $("#candidateLocalityModal").tokenInput(getLocality(), {
                                        theme: "facebook",
                                        placeholder: "Locality Interested?",
                                        minChars: 3,
                                        zindex: 9999999,
                                        hintText: "Start Typing Area (eg: Whitefield, Agara, etc..)",
                                        preventDuplicates: true
                                    });
                                });
                            </script>
                        </div>
                        <button type="submit" id="registerBtnSubmitModal" class="btn btn-primary" style="margin-top: 8px; padding-top: 3%; padding-bottom: 3%; padding-right: 8%; padding-left: 8%; width: 100%" >Register for FREE</button>
                        <!-- Text input-->
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div style="text-align: center">
        <div class="errorMsgText" id="alreadyMsgCandidate" style="margin-top: 2%;display: none;">
            <h5>User Already Exists! Please <a data-toggle="modal" data-target="#myLoginModal" style="cursor: hand; color: #888888">Login</a> to Continue</h5>
            <br>
        </div>
    </div>

    <!-- confirm job modal -->
    <div class="modal fade" id="jobApplyConfirm" tabindex="-1" role="dialog" aria-labelledby="jobApplyConfirm">
        <div class="modal-dialog" role="document" id="customModal">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Job Application Confirmation</h4>
                </div>
                <div class="modal-body">
                    <div id="confirmationMsg">
                        <center>
                            <img src="/assets/common/img/jobApply.png" width="48px">
                        </center>
                        <center>
                            <h5>You are applying for <b><div style="display: inline-block" id="jobNameConfirmation"></div></b> job at <b><div style="display: inline-block" id="companyNameConfirmation"></div></b>.</h5>
                            <h5>Please select the location where you can work:</h5>
                            <select id="jobLocality" class="selectDropdown"></select>
                            <button type="submit" onclick="confirmApply()" id="applyButton" class="jobApplyBtnModal" style="display : none; margin: 6px">Apply</button>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- custom message modal -->
    <div class="modal fade" id="messagePromptModal" tabindex="-1" role="dialog" aria-labelledby="messagePromptModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">TruJobs</h4>
                </div>
                <div class="modal-body">
                    <center>
                        <img id="customMsgIcon" width="48px">
                        <div id="customMsg" style="padding: 16px"></div>
                        <div id="customSubMsg" style="padding: 16px"></div>
                    </center>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
            <!--Details for hot jobs-->
        <div class="posted_job_details_container">
            <div id="aboutCompanyTitle">Job Description</div>
            <br>
            <!--Job Details to display-->
            <div class="posted_job_details_center">
                <div class="row" style="padding:1% 3%;margin:1% 0% 1% 0%">
                    <div class="col-sm-2" id="companyLogo" style="padding: 0%">
                        <div style="display: inline-block;margin-left: auto">
                            <img id="postedJobCompanyLogo" style="display: inline-block">
                        </div>
                    </div>
                    <div class="col-sm-8" id="jobTitleHead">
                        <div style="display: inline-block;">
                            <h1 id="postedJobTitle" style="display: inline-block">Company</h1>
                        </div>
                    </div>
                    <div class="col-sm-2" id="jobApplyBtnId">
                        <div style="display: inline-block;">
                            <button class="jobApplyBtnV2" style="float:right" onclick="applyJobBtnAction()">Apply</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <p id="categoriesName">Job Details</p>
                    </div>
                    <div class="col-sm-10">
                        <hr>
                    </div>
                </div>
                <div class="workDetails" style="margin: 1% 0% 2% 0%">
                    <div class="row" style="padding: 0% 3% 0% 3%">
                        <div class="col-sm-6">
                            <div style="display : inline-block; margin: 4px;">
                                <img src="/assets/common/img/details/buildings.svg" height="24px;" style="margin-top: -4px">
                            </div>
                            <div style="display: inline-block;">
                                <div style="margin-left: 4px; color : #9f9f9f; font-size: 12px">Job Localities</div>
                                <div id="postedJobLocality" style="margin-left: 4px; display: inline-block">Not Specified</div>
                            </div>
                        </div>
                        <div class="col-sm-6" style="margin-bottom: 4px">
                            <div style="display : inline-block; margin: 4px;">
                                <img src="/assets/common/img/details/rupee.svg" height="24px;" style="margin-top: -4px">
                            </div>
                            <div style="display: inline-block; margin-top: 4px">
                                <div id="salaryCondition" style="margin-left: 4px; color : #9f9f9f; font-size: 12px">Salary</div>
                                <div id="postedJobSalary" style="margin-left: 4px; display: inline-block">Not Specified</div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding: 0% 3% 0% 3%">
                        <div class="col-sm-6">
                            <div style="display : inline-block; margin: 4px;">
                                <img src="/assets/common/img/details/coins.svg" height="24px;" style="margin-top: -4px">
                            </div>
                            <div style="display: inline-block; margin-top: 4px">
                                <div style="margin-left: 4px; color : #9f9f9f; font-size: 12px">Incentives</div>
                                <div id="postedJobIncentives" style="margin: 4px; display: inline-block">Not Specified</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <p id="categoriesName">Working Hours</p>
                    </div>
                    <div class="col-sm-10">
                        <hr>
                    </div>
                </div>
                <div class="workinghours" style="margin: 1% 0% 2% 0%">
                    <div class="row" style="padding: 0% 3% 0% 3%">
                        <div class="col-sm-6">
                            <div style="display : inline-block; margin: 4px;">
                                <img src="/assets/common/img/details/time-passing.svg" height="24px;" style="margin-top: -4px">
                            </div>
                            <div style="display: inline-block;">
                                <div style="margin-left: 4px; color : #9f9f9f; font-size: 12px">Work Shift</div>
                                <div id="postedJobShift" style="margin-left: 4px; display: inline-block">Not Specified</div>
                            </div>
                        </div>

                        <div class="col-sm-6" style="margin-bottom: 4px">
                            <div style="display : inline-block; margin: 4px;">
                                <img src="/assets/common/img/details/calendar.svg" height="24px;" style="margin-top: -4px">
                            </div>
                            <div style="display: inline-block; margin-top: 4px">
                                <div style="margin-left: 4px; color : #9f9f9f; font-size: 12px">Holidays</div>
                                <div id="postedJobWorkingDays" style="margin-left: 4px; display: inline-block">Not Specified</div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding: 0% 3% 0% 3%">
                        <div class="col-sm-6">
                            <div style="display : inline-block; margin: 4px;">
                                <img src="/assets/common/img/details/clock.svg" height="24px;" style="margin-top: -4px">
                            </div>
                            <div style="display: inline-block; margin-top: 4px">
                                <div style="margin-left: 4px; color : #9f9f9f; font-size: 12px">Working Timings</div>
                                <div id="postedJobTiming" style="margin: 4px; display: inline-block">Not Specified</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <p id="categoriesName">Requirements</p>
                    </div>
                    <div class="col-sm-10">
                        <hr>
                    </div>
                </div>
                <div class="workDetails" style="margin: 1% 0% 2% 0%">
                    <div class="row" style="padding: 0% 3% 0% 3%">
                        <div class="col-sm-6">
                            <div style="display : inline-block; margin: 4px;">
                                <img src="/assets/common/img/details/quality.svg" height="24px;" style="margin-top: -4px">
                            </div>
                            <div style="display: inline-block;">
                                <div style="margin-left: 4px; color : #9f9f9f; font-size: 12px">Experience</div>
                                <div id="postedJobExperience" style="margin-left: 4px; display: inline-block">Not Specified</div>
                            </div>
                        </div>

                        <div class="col-sm-6" style="margin-bottom: 4px">
                            <div style="display : inline-block; margin: 4px;">
                                <img src="/assets/common/img/details/science-book.svg" height="24px;" style="margin-top: -4px">
                            </div>
                            <div style="display: inline-block; margin-top: 4px">
                                <div style="margin-left: 4px; color : #9f9f9f; font-size: 12px">Education</div>
                                <div id="postedJobEducation" style="margin-left: 4px; display: inline-block">Not Specified</div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding:0% 3% 0% 3%">
                        <div class="col-sm-8">
                            <div style="display : inline-block; margin: 4px;">
                                <img src="/assets/common/img/details/list.svg" height="24px;" style="margin-top: -4px">
                            </div>
                            <div style="display: inline-block; margin-top: 4px">
                                <div style="margin-left: 4px; color : #9f9f9f; font-size: 12px">Mandatory Requirements</div>
                                <div id="postedJobMinRequirement" style="margin: 4px; display: inline-block">Not Specified</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <p id="categoriesName">Job Description</p>
                    </div>
                    <div class="col-sm-10">
                        <hr>
                    </div>
                </div>
                <div class="row" style=" padding:0% 3% 0% 3%">
                    <div class="col-sm-12">
                        <div style="display: inline-block; margin-top: 4px">
                            <div id="postedJobDescription" style="margin: 4px 4px 4px 12px; display: inline-block;">Not Specified</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="aboutCompanyTitle">About Company</div>
            <!--Company for posted jobs-->
        <div class="posted_jobs_company_details">
                <!--Company Details to display-->
            <div class="posted_jobs_company_center_box">
                <div class="row" style="padding:1% 3%;margin:0% 0% 1% 0%">
                    <div class="col-sm-3" id="companyLogoCompanyDetails">
                        <div style="display:inline-block;">
                            <img id="postedCompanyLogo" src="">
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="companyTitleHead" id="postedCompanyTitle">Company Title</div>
                            <hr>
                            <div class="row" style="padding: 1% 0% 0% 0%">
                                <div class="col-sm-4">
                                    <div style="display : inline-block; margin: 4px;">
                                        <img src="/assets/common/img/details/buildings.svg" height="24px;" style="margin-top: -4px">
                                    </div>
                                    <div style="display: inline-block;">
                                        <div style="margin-left: 4px; color : #9f9f9f; font-size: 12px">Company Location</div>
                                        <div id="postedJobCompanyLocation" style="margin-left: 4px; display: inline-block">Not Specified</div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div style="display : inline-block; margin: 4px;">
                                        <img src="/assets/common/img/details/group.svg" height="24px;" style="margin-top: -4px">
                                    </div>
                                    <div style="display: inline-block;">
                                        <div style="margin-left: 4px; color : #9f9f9f; font-size: 12px">Company Type</div>
                                        <div id="postedJobCompanyType" style="margin-left: 4px; display: inline-block">Not Specified</div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div style="display : inline-block; margin: 4px;">
                                        <img src="/assets/common/img/details/internet.svg" height="24px;" style="margin-top: -4px">
                                    </div>
                                    <div style="display: inline-block;">
                                        <div style="margin-left: 4px; color : #9f9f9f; font-size: 12px">Website</div>
                                        <div id="postedJobCompanyWebsite" style="margin-left: 4px; display: inline-block">Not Specified</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding: 2% 0% 0% 0%">
                                <div class="col-sm-2">
                                    <p id="categoriesNameDes">Description</p>
                                </div>
                                <div class="col-sm-10">
                                    <hr>
                                </div>
                            </div>
                            <div id="postedJobCompanyDescriotion" style="padding:0% 1%">Not Specified</div>

                            <div id="jobApplyBtnId" style="text-align: right">
                                <div style="display: inline-block;">
                                    <button class="jobApplyBtnV2" style="float:right" onclick="applyJobBtnAction()">Apply</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <!-- Start Footer-->
    <div id="footer_inc"></div>
    <script>
        $(document).ready(function(){
        $('#footer_inc').load('/footer');
        });
    </script>

    <!-- Including Bootstrap -->
    <script type="text/javascript" src="/assets/common/js/validation.js"></script>
    <script type="text/javascript" src="/assets/common/js/add_lead.js"></script>
    <script type="text/javascript" src="/assets/common/js/apply_job.js"></script>
    <script type="text/javascript" src="/assets/common/js/reset_password.js"></script>
    <script type="text/javascript" src="/assets/common/js/login.js"></script>
    <script type="text/javascript" src="/assets/common/js/signup_candidate.js"></script>
    <script>
        $(document).ready(function () {
            $(document).click(function (event) {
                $(".navbar-collapse").collapse('hide');
            });
        });
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <script type="text/javascript" src="/assets/common/js/posted_jobs_page.js"></script>
    <script type="text/javascript" src="/assets/common/js/all_job_role_footer.js"></script>
    <div id="scriptContainer">
    </div>
        <script>
            $(document).ready(function(){
                $('#scriptContainer').load('/scriptContainer');
            });
        </script>
    </body>
    </html>