<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="keywords" content="freshers jobs, driver jobs, delivery boy jobs, field sales agent,call center jobs, BPO jobs, data entry jobs, back office jobs, receptionist jobs, beautician jobs, waiter jobs, cook jobs, restaurant jobs, cashier jobs, experienced jobs, jobs in Bangalore, driver jobs, delivery boy jobs, field sales agent,call center jobs, BPO jobs, data entry jobs, back office jobs, receptionist jobs, beautician jobs, waiter jobs, cook jobs, restaurant jobs, cashier jobs, full time jobs, part time jobs, entry level jobs, plumber jobs, electrician jobs">
        <meta name="description" content="TruJobs helps you find the right job! Give a missed call at 8880007799 for Best Jobs. We pre-screen, match and schedule interviews for Jobs" />
        <title>My Jobs - Trujobs</title>


        <link rel="icon" type="image/png" href="@routes.Assets.versioned("common/img/icon.png")">
            <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("common/css/bootstrap.min.css")"/>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("common/css/myStyle.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("dashboard/css/materialDashboard.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("common/css/pre_screen_candidate.css")"/>
        <link rel="stylesheet" href="@routes.Assets.versioned("common/css/token-input-facebook.css")" type="text/css" />
        <link rel="stylesheet" href="@routes.Assets.versioned("support/css/bootstrap-multiselect.css")" type="text/css" />

        <script type="text/javascript" src="@routes.Assets.versioned("common/js/jquery-1.12.4.js")"></script>
        @*<script type="text/javascript" src="@routes.Assets.versioned("common/js/jquery.min_1_12_0.js")")"></script>*@
        <script type="text/javascript" src="@routes.Assets.versioned("common/js/bootstrap.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("common/js/candidate_upload_resume.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("dashboard/js/dashboard.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("common/js/jobpost_workflow_constants.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("dashboard/js/user_login.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("dashboard/js/materialDashboard.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("common/js/jquery.tokeninput.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("support/js/bootstrap-multiselect.js")"></script>
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("common/img/icon.png")">

            <!-- dashboard CSS and JS -->

        <meta name="theme-color" content="#286ab6">
        <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
        <script type="text/javascript">
      $('html, body').css({
          'overflow': 'hidden',
          'height': '100%'
      });
      function renderShowJobsPage(){
          try {
              window.location.href = "/jobs/" +"jobs-in-bangalore";
          } catch (exception) {
              console.log("exception occured!!" + exception);
          }
      }
      function showAppliedJobs() {
          window.location = "/dashboard/appliedJobs/";
      }
      function showEditProfile() {
          window.location = "/dashboard/editProfile";
      }
    </script>
    </head>

    <body>
        <div id="preloader">
            <div id="loaderLogo">
                <img id="leaderLogo" src="/assets/common/img/logo-color.gif" alt="TruJobs Logo" height="40px">
            </div>
            <div id="status">&nbsp;</div>
        </div>
            <!-- custom message modal -->
        <div class="modal fade" id="messagePromptModal" tabindex="-1" role="dialog" aria-labelledby="messagePromptModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">TruJobs</h4>
                    </div>
                    <div class="modal-body">
                        <center>
                            <img id="customMsgIcon" width="48px">
                            <div id="customMsg" style="padding: 16px"></div>
                        </center>
                    </div>
                </div>
            </div>
        </div>

            <!-- not going modal -->
        <div class="modal fade" id="notGoingModal" tabindex="-1" role="dialog" aria-labelledby="notGoingModal">
            <div class="modal-dialog" role="document" id="customModal">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="heading"></h4>
                    </div>
                    <div class="modal-body">
                        <div id="confirmationMsg">
                            <center>
                                <img src="/assets/common/img/jobApply.png" width="48px">
                            </center>
                            <center>
                                <h4><b id="subHeading"></b></h4>
                                <div class="materialDash"></div>
                                <div class="custom_container" style="margin-top: 16px">
                                    <select id="notGoingReason"></select>
                                </div>
                                <button type="submit" onclick="confirmUpdateStatusNotGoing()" id="updateNotGoingReasonBtn" style="margin: 6px">Submit</button>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="preScreenModal" role="dialog" aria-labelledby="preScreenModal">
            <div class="modal-dialog" role="document" id="preScreenModalBody">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="">
                            You are applying for <b><div style="display: inline-block" id="ps_jobNameConfirmation"></div></b>
                            job at <b><div style="display: inline-block" id="ps_companyNameConfirmation"></div></b></h4>
                    </div>
                    <div class="modal-body">
                        <div id="missingInfo">

                        </div>
                    </div>
                    <div class="modal-footer">
                        <font style="float:left;text-align:left">TruJobs does not take money from candidates for job applications.<br>
                            Please report to us on<span style="color:#09ac58;font-weight:bold"> 888-000-7799 </span>if you are asked to pay for job applications on TruJobs platform</font>
                        <button type="button" id="preScreenInterviewSetBtn" class="btn">Apply</button>
                    </div>
                </div>
            </div>
        </div>

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar" style="border: 1px solid #fff;"></span>
                        <span class="icon-bar" style="border: 1px solid #fff;"></span>
                        <span class="icon-bar" style="border: 1px solid #fff;"></span>

                    </button>
                    <div itemscope itemtype ="https://schema.org/logo">
                        <a class="navbar-brand" href="#"><img id="navLogo" itemprop="Brand" src="/assets/common/img/logo-main.gif" alt="TruJobs Logo" height="32px"></a>
                        <a href="https://play.google.com/store/apps/details?id=in.trujobs.dev.trudroid" style="padding: 0px">
                            <img id="playStoreLogoNavBar" src="/assets/common/img/download_btn.png" alt="PlayStore Logo" height="26px"></a>
                    </div>
                </div>

                <div class="collapse navbar-collapse" id="navigationbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden-sm hidden-xs">
                            <a href="https://play.google.com/store/apps/details?id=in.trujobs.dev.trudroid" target="_blank">
                                <img src="/assets/common/img/download_btn.png" style="height: 30px;
                                    margin-top: -6px;
                                    margin-right: -16px;">
                            </a>
                        </li>
                        <li class="candidateDashboard"><a href="/dashboard" >Candidate Dashboard</a></li>
                        <li class="candidateProfile"><a href="/dashboard/editProfile" >Profile</a></li>
                        <li class="viewAppliedJob activeLink"><a href="/dashboard/appliedJobs/">View Applied Jobs</a></li>
                        <li class="viewAllJobs"><a href="/s/jobs-in-bangalore/">Search Jobs</a></li>
                        <li><a href="#" onclick="logoutUser()">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="blurred-image-container">
            <div class="img-src"></div>
            <div class="img-src blurred-image"></div>
            <div id="overlay"></div>
        </div>

        <div id="sectionHead" class="container profileBody">
            <div class="row" id="profileBox">
                <div class="col-sm-2" id="userImageDiv">
                    <img src="/assets/dashboard/img/userMale.svg" id="userImg">
                </div>
                <div class="col-sm-6" id="profileInfoDiv">
                    <h4>
                        <b>
                            <div id="userName" style="display: inline-block;font-size:28px"></div>
                            <div id="userAge" style="display: inline-block"></div>
                            <div id="userGender" style="display: inline-block"></div>
                        </b>
                    </h4>
                    <h5>
                        <img src="/assets/dashboard/img/phone.svg" style="margin:-3px 3px 0 5px" height="18px">
                        <div id="userMobile" style="display: inline-block"></div>
                        <img src="/assets/dashboard/img/location-point.svg" style="margin:-3px 3px 0 5px" height="18px">
                        <div style="display: inline-block;">Bangalore</div>
                    </h5>
                </div>
                <div class="col-sm-3 col-sm-offset-1" id="profileProgressDiv" >
                    <div class="row">
                        <h4 style="margin: 8px 0 0 0">Profile Status</h4>
                    </div>
                    <div class="row inblockDiv">
                        <a href="/dashboard/editProfile">
                            <div class="profileIncomplete indicatorBtnRed">
                                <img src="/assets/dashboard/img/incomplete.svg" height="18px">
                                <img src="/assets/dashboard/img/incomplete.svg" height="18px">
                                <img src="/assets/dashboard/img/incomplete.svg" height="18px">
                                <div style="margin-top: 6px"><b><font style="color:#ffffff">Incomplete</font></b></div>
                            </div>
                        </a>
                        <div class="profileComplete" style="display: none">
                            <img src="/assets/dashboard/img/complete.svg" height="18px">
                            <img src="/assets/dashboard/img/complete.svg" height="18px">
                            <img src="/assets/dashboard/img/complete.svg" height="18px">
                            <div style="margin-top: 6px"><b>Complete</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="editProfileBody">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h3>My Job Applications</h3>
                        <hr>
                        <div id="incompleteProfileMsg" style="display: none;
                            background: #e4ffd3 ;
                            margin-top: 16px;
                            padding: 16px;
                            border-radius: 6px">
                    Complete your profile now to increase chances of getting Interview Call.
                        </div>
                        <div style="background: #f9ffcd ;
                            margin-top: 16px;
                            padding: 16px;
                            border-radius: 6px">
                  To know more about status of applications, call us at +91 8880007799.
                        </div>

                        <div id="customTab" style="margin-bottom: 8px">
                            <div class="row" style="margin: 0;">
                                <div class="col-lg-4 col-xs-4 tabItem activeTab" id="tabOne" onclick="tabOne()">
                                    Pending Confirmation
                                </div>
                                <div class="col-lg-4 col-xs-4 tabItem" id="tabTwo" onclick="tabTwo()">
                                    Confirmed
                                </div>
                                <div class="col-lg-4 col-xs-4 tabItem" id="tabThree" onclick="tabThree()">
                                    Completed
                                </div>
                            </div>

                        </div>

                        <div id="myAppliedJobsPendingConfirmation" style="display: none"></div>
                        <div id="noPendingConfirmationApplication" style="padding: 60px 6% 60px 6%">
                            <center>
                                <img src="/assets/recruiter/img/empty_box.svg" width="116px">
                                <h5>No pending confirmation applications!</h5>
                                <h6>You have zero under pending applications!</h6>
                            </center>
                        </div>
                        <div id="myAppliedJobsConfirmed" style="display: none"></div>
                        <div id="noConfirmedApplication" style="padding: 60px 6% 60px 6%; display: none">
                            <center>
                                <img src="/assets/recruiter/img/empty_box.svg" width="116px">
                                <h5>No Confirmed applications!</h5>
                                <h6>You have zero confirmed applications!</h6>
                            </center>
                        </div>

                        <div id="myAppliedJobsCompleted" style="display: none"></div>
                        <div id="noCompletedApplication" style="padding: 60px 6% 60px 6%; display: none">
                            <center>
                                <img src="/assets/recruiter/img/empty_box.svg" width="116px">
                                <h5>No Completed Interviews!</h5>
                                <h6>You have zero completed interviews!</h6>
                            </center>
                        </div>

                    </div>
                </div>
            </div>
        </div>

            <!--Final Modal -->
        <div class="modal fade" id="confirmationModal" role="dialog">
            <div class="modal-dialog">

                    <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Job Application Complete!</h4>
                    </div>
                    <div class="modal-body">
                        <p id="postApplyMsg"></p>
                    </div>
                </div>

            </div>
        </div>

        <div id="footer_inc"></div>

        <script>
        $(document).ready(function () {
            $('#footer_inc').load('/footer');
        });
    </script>
            <!-- Including Bootstrap -->

        <script type="text/javascript" src="@routes.Assets.versioned("dashboard/js/applied_jobs.js")")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("common/js/all_job_role_footer.js")""></script>

        <script type="text/javascript" src="@routes.Assets.versioned("js/bootbox.min.js")""></script>
        <script type="text/javascript" src="@routes.Assets.versioned("partner/js/notify.min.js")""></script>
        <script type="text/javascript" src="@routes.Assets.versioned("common/js/validation.js")""></script>
        <script type="text/javascript" src="@routes.Assets.versioned("common/js/apply_job.js")""></script>
        <script type="text/javascript" src="@routes.Assets.versioned("build/scripts/pre_screen_candidate.min.js")""></script>
        <script type="text/javascript" src="@routes.Assets.versioned("js/interview_modal.js")""></script>


            <!-- Menu Toggle Script -->
        <script>
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
                var pathElement = window.location.search.split('&');
                var prescreenElement = pathElement[(pathElement.length) - 3];

                if (prescreenElement != null && prescreenElement.split("=")[(pathElement.length) - 3] ==
                    "?ps" && prescreenElement.split("=")[(pathElement.length) - 2] == "true") {
                    var jpElement = pathElement[(pathElement.length) - 2];

                    if (jpElement.split("=")[0] == "jp_id") {
                        var jp_id = jpElement.split("=")[1] ;
                        var jpElementLocality = pathElement[(pathElement.length) - 1];

                        if (jpElementLocality.split("=")[0] == "pref_loc") {

                            var jp_locality = jpElementLocality.split("=")[1];
                            applyJobSubmitViaCandidate(jp_id, jp_locality, null, null, true);
                            /*getAssessmentQuestions(null, jp_id);*/ }

                    }
                }
            });
    </script>

        <!--  google page view -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-77156203-1', 'auto');
        ga('send', 'pageview');
    </script>


        <!-- Facebook Pixel Code [consversion] -->
    <script>
        !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
            n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
                document,'script','https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '535139956654403');
        fbq('track', 'CompleteRegistration');
    </script>

    <noscript>
        <img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=535139956654403&ev=PageView&noscript=1"/>
    </noscript>
        <!-- End Facebook Pixel Code -->

            <!-- Google Code for trujobs adwords converstion Conversion Page
      In your html page, add the snippet and call goog_report_conversion when someone clicks on the
      chosen link or button. -->
    <script type="text/javascript">
        /* <![CDATA[ */
        goog_snippet_vars = function() {
            var w = window;
            w.google_conversion_id = 882410740;
            w.google_conversion_label = "LXetCP7hv2cQ9InipAM";
            w.google_remarketing_only = false;
        }
        // DO NOT CHANGE THE CODE BELOW.
        goog_report_conversion = function(url) {
            goog_snippet_vars();
            window.google_conversion_format = "3";
            var opt = new Object();
            opt.onload_callback = function() {
                if (typeof(url) != 'undefined') {
                    window.location = url;
                }
            }
            var conv_handler = window['google_trackConversion'];
            if (typeof(conv_handler) == 'function') {
                conv_handler(opt);
            }
        }
        /* ]]> */
    </script>
            <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion_async.js"></script>

                <!-- End google conversion tracker Code -->
    </body>
</html>