<!Doctype html>
<html lang="en" xmlns="https://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title>Job Post Details - Support | Trujobs.in</title>
        <link rel="stylesheet" href="@routes.Assets.versioned("support/css/material.indigo-pink.min.css")">

        <link rel="stylesheet" href="/assets/support/css/bootstrap.min.css">

        <script type="text/javascript" src="/assets/support/js/jquery-1.12.0.min.js"></script>
        <link rel="stylesheet" href="@routes.Assets.versioned("common/css/token-input.css")" type="text/css" />
        <link rel="stylesheet" href="/assets/common/css/token-input-facebook.css" type="text/css" />

        <link rel="stylesheet" href="@routes.Assets.versioned("support/css/style.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("common/css/myStyle.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("dashboard/css/dashboard.css")">
        <script type="text/javascript" src="@routes.Assets.versioned("support/js/job_post_details.js")"></script>

        <link rel="stylesheet" href="@routes.Assets.versioned("support/css/bootstrap-datetimepicker.min.css")">
        <script type="text/javascript" src="@routes.Assets.versioned("support/js/Moment.js")"></script>

            <!-- Include the plugin's CSS and JS: -->
        <link rel="stylesheet" href="/assets/support/css/bootstrap-multiselect.css" type="text/css"/>

        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />
        <link rel="stylesheet" href="@routes.Assets.versioned("support/css/nprogress.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("support/css/animate.css")">
        <script type="text/javascript" src="@routes.Assets.versioned("support/js/jquery-1.11.1.min.js")"></script>
        <script type="text/javascript" src="/assets/common/js/jquery.tokeninput.js"></script>

        <script type="text/javascript" src="@routes.Assets.versioned("common/js/script_constants.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("support/js/pace.min.js")"></script>
        <link rel="stylesheet" href="@routes.Assets.versioned("support/css/pace-dataloader.css")">
        <script type="text/javascript" src="@routes.Assets.versioned("support/js/add_job_post.js")"></script>

        <script type="text/javascript" src='http://maps.google.com/maps/api/js?key=AIzaSyCKHf7GijuzKW84Ggz0fFWWHD0y9_onUhg&sensor=false&libraries=places'></script>
        <script src="@routes.Assets.versioned("recruiter/js/locationpicker.jquery.min.js")"></script>


        <script type="text/javascript">
            $(function () {
                $('#jobPostStartTimePicker').datetimepicker({
                    format: 'LT'
                });
                $('#jobPostEndTimePicker').datetimepicker({
                    format: 'LT'
                });
            });
        </script>

    </head>
    <body style="font-size: 13px;">
        <div class="container">
            <h2>
        Job Post Details
        <a href="/support">
          <button class="btn" style="align-items: flex-end">Support Home</button>
        </a>
        <a href="/logout">
          <button class="btn btn-danger" style="align-items: flex-end">Logout</button>
        </a>
      </h2>
      <hr>
        <img src="/assets/support/images/webIcon.jpg" width="20px" style="display: inline-block"> : Information visible on website/app
            <br> <font color="red">*</font>: Mandatory information
            <hr>
            <div id="jobPostSection" style="width: 80%">
                <form id="job_post_form">
                        <!-- hidden field -->
                    <input id="jobPostId" style="display: none">
                    <div class="panel panel-success" id="jdBasicPanel" style="margin: 1% 0;">
                        <div class="panel-heading" style="cursor: pointer;">Basic Details Panel</div>
                        <div class="panel-container" style="padding: 1%;">
                            <div class="row" style="margin-top: 4px">
                                <div class="col-sm-3"><h5>Job Providing company?:<font color="red">*</font> </h5></div>
                                <div class="col-sm-9">
                                    <select id="jobPostCompany" onchange="getRecruiters($('#jobPostCompany').val())" style="display: inline-block;" class="selectDropdown" ></select>
                                    <img src="/assets/support/images/webIcon.jpg" width="20px">
                                </div>
                            </div>

                            <div class="row" style="margin-top: 4px">
                                <div class="col-sm-3"><h5>Select Recruiter?:<font color="red">*</font> </h5></div>
                                <div class="col-sm-9">
                                    <div style="padding: 4px; font-size: 12px; color: red; display: none" id="changedRecruiter"></div>
                                    <select id="jobPostRecruiter" class="selectDropdown"></select>
                                    <div style="padding: 8px;
                                        margin: 6px;
                                        background: rgba(244, 227, 164, 0.48)"><font size="2">(If there is no recruiter for the selected company, please create a recruiter by clicking <a onclick="showRecruiterForm()">here</a></font></div>
                                </div>
                            </div>

                            <div id="recruiterSection" style="display: none;
                                width: 68%;
                                padding: 2%;
                                background: #f8f2f8 ;
                                margin: 2%">
                                <div class="row">
                                    <div class="col-sm-3"><h5>Recruiter Name:</h5></div>
                                    <div class="col-sm-9">
                                        <input id="recruiterName" name="recruiterName" placeholder="Recruiter Name" type="text" class="form-control input-md" >
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-3"><h5>Recruiter Mobile:</h5></div>
                                    <div class="col-sm-9">
                                        <input id="recruiterMobile" name="recruiterMobile" maxlength="10" placeholder="Recruiter Mobile" type="text" class="form-control input-md" >
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-3"><h5>Recruiter Landline (optional) :</h5></div>
                                    <div class="col-sm-9">
                                        <input id="recruiterLandline" name="recruiterLandline" placeholder="Recruiter Landline" type="text" class="form-control input-md" >
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-3"><h5>Recruiter Email:</h5></div>
                                    <div class="col-sm-9">
                                        <input id="recruiterEmail" name="recruiterEmail" placeholder="Recruiter Email" type="text" class="form-control input-md" >
                                    </div>
                                </div>

                                <br>
                                <h3>Credits Section <div class="btn btn-default" data-toggle="modal" data-target="#creditModal" style="color: #328234; border-color: #328234">Add Credits</div></h3>
                                <hr>
                                <div id="addCreditInfoDiv" style="display: none; margin-top: 24px">
                                    <h4>You are adding the following no. of credits for this recruiter::</h4>
                                    <div class="row">
                                        <div class="col-sm-3"><h5>Candidate Contact unlock credits:</h5></div>
                                        <div class="col-sm-9" style="margin-top: 12px">
                                            <div id="contactUnlockCreditInfo" style="color: #00c853">N/A</div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-3"><h5>Candidate interview unlock credits:</h5></div>
                                        <div class="col-sm-9" style="margin-top: 12px">
                                            <div id="interviewUnlockCreditInfo" style="color: #00c853">N/A</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3"><h5>Job Post Title:<font color="red">*</font></h5></div>
                                <div class="col-sm-9">
                                    <input id="jobPostTitle" name="jobPostTitle" placeholder="job Post Title" style="width: 70%;
                                        display: inline-block" type="text" class="form-control input-md">
                                    <img src="/assets/support/images/webIcon.jpg" width="20px" style="display: inline-block">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3"><h5>Job Post Description:</h5></div>
                                <div class="col-sm-9">
                                    <textarea rows="4" cols="80" id="jobPostDescription" class="form-control input-md" maxlength="5000"></textarea>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3"><h5>Gender : <font color="red">*</font></h5></div>
                                <div class="col-sm-9">
                                    <select id="jobPostGender" class="selectDropdown">
                                        <option value="-1">Select</option>
                                        <option value="0">Male</option>
                                        <option value="1">Female</option>
                                        <option value="2">Any</option>
                                    </select>
                                </div>
                            </div>


                            <div class="row" style="margin-top: 4px">
                                <div class="col-sm-3"><h5>Job Post Job Role:<font color="red">*</font></h5></div>
                                <div class="col-sm-7">
                                    <input type="text" id="jobPostJobRole" style="display: inline-block; width: 50%">
                                </div>
                            </div>

                            <div class="row" style="margin-top: 4px">
                                <div class="col-sm-3"><h5>Job Post Locality(s):<font color="red">*</font></h5></div>
                                <div class="col-sm-6">
                                    <input type="text" id="jobPostLocalities" style=";">
                                </div>
                                <div class="col-sm-3" style="margin-top: 10px;
                                    margin-left: -24px">
                                    <img src="/assets/support/images/webIcon.jpg" width="20px" style="display: inline-block">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3"><h5>Job Post Pincode:</h5></div>
                                <div class="col-sm-9">
                                    <input id="jobPostPinCode" name="jobPostPinCode" placeholder="Job Post PinCode" type="number" max="999999" class="form-control input-md" >
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3"><h5>Min Salary:<font color="red">*</font></h5></div>
                                <div class="col-sm-9">
                                    <input id="jobPostMinSalary" value="0" max="99999" style="width: 15%; display: inline-block" placeholder="Min Salary" type="number" class="form-control input-md">
                                    <img src="/assets/support/images/webIcon.jpg" width="20px" style="display: inline-block">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3"><h5>Max Salary:</h5></div>
                                <div class="col-sm-9">
                                    <input id="jobPostMaxSalary" value="0" max="99999" style="width: 15%" placeholder="Max Salary" type="number" class="form-control input-md">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3"><h5>Total Vacancies:<font color="red">*</font></h5></div>
                                <div class="col-sm-9">
                                    <input id="jobPostVacancies" value="0" style="width: 15%;
                                        display: inline-block" placeholder="Total Vacancies" type="number" class="form-control input-md">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3"><h5>Job Post Incentives:</h5></div>
                                <div class="col-sm-9">
                                    <textarea rows="4" cols="80" id="jobPostIncentives" class="form-control input-md" maxlength="5000"></textarea>
                                </div>
                            </div>

                        </div>
                    </div>

                    <br>
                    <div class="panel panel-success" id="jdRequirementPanel" style="margin: 1% 0;">
                        <div class="panel-heading" style="cursor: pointer;">Requirements Panel</div>
                        <div class="panel-container" style="padding: 1%;">

                            <div class="row" style="padding: 6px 0;">
                                <div class="col-sm-3"><h5>Max Age: <font color="red">*</font></h5></div>
                                <div class="col-sm-9">
                                    <input id="jobPostMaxAge" value="30" max="70" style="width: 15%" placeholder="Max Age" type="number" class="form-control input-md">
                                </div>
                            </div>

                            <div class="row" style="margin-top: 4px">
                                <div class="col-sm-3"><h5>Job Post Min Experience req:<font color="red">*</font> </h5></div>
                                <div class="col-sm-9">
                                    <select id="jobPostExperience" class="selectDropdown" style="display: inline-block"></select>
                                    <img src="/assets/support/images/webIcon.jpg" width="20px" style="display: inline-block">

                                </div>
                            </div>

                            <div class="row" style="margin-top: 4px">
                                <div class="col-sm-3"><h5>Job Post Education Required:</h5></div>
                                <div class="col-sm-9">
                                    <select id="jobPostEducation" class="selectDropdown" ></select>
                                </div>
                            </div>

                            <div class="row" style="padding: 6px 0;">
                                <div class="col-sm-3"><h5>Language Req: <font color="red">*</font></h5></div>
                                <div class="col-sm-4">
                                    <select id="jobPostLanguage" multiple="multiple" class="selectDropdown"></select>
                                </div>
                            </div>

                            <div class="row" style="padding: 6px 0;">
                                <div class="col-sm-3"><h5>Documents Req: </h5></div>
                                <div class="col-sm-4">
                                    <select id="jobPostDocument" multiple="multiple" class="selectDropdown"></select>
                                </div>
                            </div>

                            <div class="row" style="padding: 6px 0;">
                                <div class="col-sm-3"><h5>Assets Req: </h5></div>
                                <div class="col-sm-4">
                                    <select id="jobPostAsset" multiple="multiple" class="selectDropdown"></select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>
                    <div class="panel panel-success" id="jdWorkTimingPanel" style="margin: 1% 0;">
                        <div class="panel-heading" style="cursor: pointer;">Work Timing Panel</div>
                        <div class="panel-container" style="padding: 1%;">

                            <div class="row">
                                <div class="col-sm-3"><h5>Job Post Min Req:</h5></div>
                                <div class="col-sm-9">
                                    <textarea rows="4" cols="80" id="jobPostMinRequirement" class="form-control input-md" maxlength="5000"></textarea>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3"><h5>Job Start Time:</h5></div>
                                <div class='col-sm-5'>
                                    <select id="jobPostStartTime" class="selectDropdown" ></select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3"><h5>Job End Time:</h5></div>
                                <div class='col-sm-5'>
                                    <select id="jobPostEndTime" class="selectDropdown" ></select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3"><h5>Working Days</h5></div>
                                <div class="col-sm-9" style="margin: 1% 0">
                                    <input id="working_1" type="checkbox">Monday &nbsp;&nbsp;&nbsp;
                                    <input id="working_2" type="checkbox">Tuesday &nbsp;&nbsp;&nbsp;
                                    <input id="working_3" type="checkbox">Wednesday &nbsp;&nbsp;&nbsp;
                                    <input id="working_4" type="checkbox">Thursday &nbsp;&nbsp;&nbsp;
                                    <input id="working_5" type="checkbox">Friday &nbsp;&nbsp;&nbsp;
                                    <input id="working_6" type="checkbox">Saturday &nbsp;&nbsp;&nbsp;
                                    <input id="working_7" type="checkbox">Sunday &nbsp;&nbsp;&nbsp;
                                </div>
                            </div>

                            <div class="row" style="margin-top: 4px">
                                <div class="col-sm-3"><h5>Job Post work shift?: </h5></div>
                                <div class="col-sm-9" style="margin-top: 8px">
                                    <select id="jobPostWorkShift" class="selectDropdown" ></select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3"><h5>Work From Home?</h5></div>
                                <div class="col-sm-9" style="margin: 1% 0">
                                    <input id="jobPostWorkFromHome" type="checkbox">
                                </div>
                            </div>

                        </div>
                    </div>

                    <br>
                    <div class="panel panel-danger" id="jdInterviewPanel" style="margin: 1% 0;">
                        <div class="panel-heading" style="cursor: pointer;">Interview Details</div>
                        <div class="panel-container" style="padding: 1%;">
                            <div class="row">
                                <div class="col-sm-3"><h5>Interview Days</h5></div>
                                <div class="col-sm-9" id="interviewDaySection">
                                    <input id="interview_day_1" type="checkbox">Monday &nbsp;&nbsp;&nbsp;
                                    <input id="interview_day_2" type="checkbox">Tuesday &nbsp;&nbsp;&nbsp;
                                    <input id="interview_day_3" type="checkbox">Wednesday &nbsp;&nbsp;&nbsp;
                                    <input id="interview_day_4" type="checkbox">Thursday &nbsp;&nbsp;&nbsp;
                                    <input id="interview_day_5" type="checkbox">Friday &nbsp;&nbsp;&nbsp;
                                    <input id="interview_day_6" type="checkbox">Saturday &nbsp;&nbsp;&nbsp;
                                    <input id="interview_day_7" type="checkbox">Sunday &nbsp;&nbsp;&nbsp;
                                    <img src="/assets/support/images/webIcon.jpg" width="20px" style="display: inline-block">
                                </div>
                            </div>

                            <div class="row" style="margin-top: 4px">
                                <div class="col-sm-3"><h5>Interview Time Slot:</h5></div>
                                <div class="col-sm-9">
                                    <div style="width: 100%;
                                        height: 34px;" id="interviewTimeSlot" class="btn-group" data-toggle="buttons"></div>
                                    <img src="/assets/support/images/webIcon.jpg" width="20px" style="display: inline-block">
                                </div>
                            </div>

                            <div class="row" style="margin-top: 8px; margin-bottom: 8px">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-9">
                                    <input id="check_applications" type="checkbox" checked>Confirm interviews for all applications (uncheck this option if the recruiter want to review applications before confirming interviews)&nbsp;&nbsp;&nbsp;
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3"><h5>Interview Address:</h5></div>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="interviewAddress" onclick="clearField()" placeholder="Start typing company / building name or landmark / locality name" /> <!-- google autocomplete textbox -->

                                    <!-- hidden lat/long -->
                                    <input type="text" class="form-control" style="width: 110px; display: none" id="jp_lat" />
                                    <input type="text" class="form-control" style="width: 110px; display: none" id="jp_lon" />

                                </div>
                            </div>

                            <div style="display: none;" id="landmarkDetails">
                                <!-- office/building no -->
                                <div class="row">
                                    <div class="col-sm-3"><h5>Office No./Building no.:</h5></div>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" placeholder="Building no / door no / floor no / site no" id="interviewBuildingNo" />
                                    </div>
                                </div>

                                <!-- office/building no -->
                                <div class="row">
                                    <div class="col-sm-3"><h5>Landmark:</h5></div>
                                    <div class="col-sm-9">
                                        <input type="text" placeholder="Enter landmark" class="form-control" id="interviewLandmark" />
                                    </div>
                                </div>
                            </div>


                            <div id="map_parent" style="margin-top: 12px; width: 100%; height: 480px;"></div>

                        </div>
                    </div>


                    <br>
                    <div class="panel panel-danger" id="jdPartnerIncentivePanel" style="margin: 1% 0;">
                        <div class="panel-heading" style="cursor: pointer;">Partner Incentive Information</div>
                        <div class="panel-container" style="padding: 1%;">
                            <div class="row">
                                <div class="col-sm-3"><h5>Partner Interview incentive:</h5></div>
                                <div class="col-sm-9">
                                    <input id="partnerInterviewIncentive" value="0" max="99999" style="width: 38%;
                                        display: inline-block" placeholder="Partner Interview incentive" type="number" class="form-control input-md">
                                    <img src="/assets/support/images/webIcon.jpg" width="20px" style="display: inline-block">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3"><h5>Partner Joining incentive:</h5></div>
                                <div class="col-sm-9">
                                    <input id="partnerJoiningIncentive" value="0" max="99999" style="width: 38%;
                                        display: inline-block" placeholder="Partner Joining incentive" type="number" class="form-control input-md">
                                    <img src="/assets/support/images/webIcon.jpg" width="20px" style="display: inline-block">
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>
                    <div class="panel panel-success" id="jdOtherPanel" style="margin: 1% 0;">
                        <div class="panel-heading" style="cursor: pointer;">Other Detail Panel</div>
                        <div class="panel-container" style="padding: 1%;">
                            <div class="row">
                                <div class="col-sm-3"><h5>Is this a Hot Job?</h5></div>
                                <div class="col-sm-9">
                                    <input id="jobPostIsHot" type="checkbox" style="display: inline-block">
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-3"><h5>Job Pricing Plan:</h5></div>
                                <div class='col-sm-5'>
                                    <select id="jobPostPricingPlan" class="selectDropdown" ></select>
                                </div>
                            </div>


                            <div class="row" style="margin-top: 4px">
                                <div class="col-sm-3"><h5>Job Post Status:</h5></div>
                                <div class="col-sm-9">
                                    <select id="jobPostStatus" class="selectDropdown"></select>
                                </div>
                            </div>

                            <div class="row resumeDate" style="margin-top: 32px; display: none">
                                <div class="col-sm-3" >
                                    <h5>Resume application(s) from?</h5>
                                </div>
                                <div class="col-sm-2" style="margin-top: 4px">
                                    <input type="date" id="resume_date" class="datepicker">
                                </div>
                            </div>

                        </div>
                    </div>
                    <br> <br>
                    <button id="saveButton" class="btn btn-default">Save</button>
                </form>
                <br>
            </div>
        </div>

          <!-- modal code for credits -->
      <div id="creditModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
                  <!-- Modal content-->
              <div class="modal-content">
                  <div style="float: right"><img src="/assets/recruiter/img/cancel.png" onclick="closeCreditModal()"></div>
                  <div class="modal-body" id="model_size">
                      <form id="add_credits" class="form-horizontal" role="form">
                          <div class="line_up" id="signInPopup"><h4>Add Credits</h4></div>
                          <br>

                          <h5 style="color: #0D47A1; font-weight: bold">Purchased Candidate Contact Unlock Credits?</h5>
                          <div class="row" style="margin-top: 8px">
                              <div class="col-sm-12" style="margin-top: 4px">
                                  <div style="width: 100%;height: 34px;" class="btn-group" data-toggle="buttons">
                                      <label class="btn btn-custom-check" style="width: 80px">
                                          <input type="radio" name="candidateCreditType" id="candidateCreditYes" value="1"> &nbsp;Yes&nbsp;&nbsp;
                                      </label>
                                      <label class="btn btn-custom-check" style="width: 80px">
                                          <input type="radio" name="candidateCreditType" id="candidateCreditNo" value="0"> &nbsp;No&nbsp;&nbsp;
                                      </label>
                                  </div>
                              </div>
                          </div>
                              <!-- candidate contact credit details -->
                          <div id="candidateCreditSection" style="display: none;">
                             Candidate contact unlock credit details::
                              <div class="row" style="margin-top: 8px">
                                  <div class="col-sm-5" style="margin-top: 4px">
                                 No. of contact credits:
                                  </div>
                                  <div class="col-sm-7">
                                      <input style="width: 90%; display: inline-block"  id="candidateContactCredits" placeholder="Contact credits" type="number" class="form-control input-md">
                                  </div>
                              </div>
                          </div>

                          <hr>
                          <h5 style="color: #0D47A1; font-weight: bold">Purchased Interview Unlock Credits?</h5>
                          <div class="row" style="margin-top: 8px">
                              <div class="col-sm-12" style="margin-top: 4px">
                                  <div style="width: 100%;height: 34px;" class="btn-group" data-toggle="buttons">
                                      <label class="btn btn-custom-check" style="width: 80px">
                                          <input type="radio" name="interviewCreditType" id="interviewCreditYes" value="1"> &nbsp;Yes&nbsp;&nbsp;
                                      </label>
                                      <label class="btn btn-custom-check" style="width: 80px">
                                          <input type="radio" name="interviewCreditType" id="interviewCreditNo" value="0"> &nbsp;No&nbsp;&nbsp;
                                      </label>
                                  </div>
                              </div>
                          </div>
                              <!-- candidate contact credit details -->
                          <div id="interviewCreditSection" style="display: none;">
                             Interview unlock credit details::
                              <div class="row" style="margin-top: 8px">
                                  <div class="col-sm-5" style="margin-top: 4px">
                                 No. of Interview credits:
                                  </div>
                                  <div class="col-sm-7">
                                      <input id="interviewCredits" placeholder="Interview credits" type="number" class="form-control input-md">
                                  </div>
                              </div>
                          </div>
                          <div class="btn btn-default" style="background: #37a12f; color: #fff; margin: 24px 0 24px 0; width: 100%" onclick="computeCreditValue()">Done</div>
                      </form>
                  </div>
              </div>
          </div>
      </div>

    <script>
      function showRecruiterForm(){
        $("#jobPostRecruiter").val("");
        if($("#jobPostRecruiter").is(':enabled')){
            $("#jobPostRecruiter").prop('disabled', true);
        } else{
            $("#jobPostRecruiter").prop('disabled', false);
        }
        $("#recruiterSection").toggle();
      }
    </script>
            <!-- Javascript import -->
        <script type="text/javascript" src="@routes.Assets.versioned("common/js/validation.js")"></script>
        <script type="text/javascript" src="/assets/support/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("common/js/apply_job.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("support/js/add_company.js")"></script>
        <script type="text/javascript" src="/assets/common/js/jquery.tokeninput.js"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("support/js/bootstrap-datetimepicker.min.js")"></script>
        <script type="text/javascript" src="/assets/support/js/bootstrap-notify.min.js"></script>
        <script type="text/javascript" src="/assets/support/js/bootstrap-multiselect.js"></script>
    </body>
</html>