<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="UTF-8">
    <title>Recruiter Details - Support | Trujobs.in</title>
    <link rel="stylesheet" href="/assets/support/css/material.indigo-pink.min.css">

    <link rel="stylesheet" href="/assets/support/css/bootstrap.min.css">

    <script type="text/javascript" src="/assets/support/js/jquery-1.12.0.min.js"></script>
    <link rel="stylesheet" href="/assets/common/css/token-input.css" type="text/css" />
    <link rel="stylesheet" href="/assets/common/css/token-input-facebook.css" type="text/css" />

    <link rel="stylesheet" href="/assets/support/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/common/css/myStyle.css">
    <link rel="stylesheet" type="text/css" href="/assets/dashboard/css/dashboard.css">

    <link rel="stylesheet" href="/assets/support/css/bootstrap-datetimepicker.min.css">
    <script type="text/javascript" src="/assets/support/js/Moment.js"></script>

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />
    <link rel="stylesheet" href="/assets/support/css/nprogress.css">
    <link rel="stylesheet" href="/assets/support/css/animate.css">
    <script type="text/javascript" src="/assets/support/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/assets/common/js/jquery.tokeninput.js"></script>

    <script type="text/javascript" src="/assets/support/js/recruiter_details.js"></script>
    <script type="text/javascript" src="/assets/support/js/pace.min.js"></script>
    <link rel="stylesheet" href="/assets/support/css/pace-dataloader.css">
  </head>

  <body style="font-size: 13px;">
    <div class="container">
      <h2>
        Recruiter Section
        <a href="/support">
          <button class="btn" style="align-items: flex-end">Support Home</button>
        </a>
        <a href="/logout">
          <button class="btn btn-danger" style="align-items: flex-end">Logout</button>
        </a>
      </h2>
      <hr>

      <div id="recruiterSection" style="width: 68%">
        <form id="recruiter_form">
          <div class="row">
            <div class="col-sm-3"><h5>Recruiter Name:</h5></div>
            <div class="col-sm-9">
              <input id="recruiterName" name="recruiterName" placeholder="Recruiter Name" type="text" class="form-control input-md" >
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3"><h5>Recruiter Mobile:</h5></div>
            <div class="col-sm-9">
              <input id="recruiterMobile" name="recruiterMobile" maxlength="10" placeholder="Recruiter Mobile" type="text" class="form-control input-md" disabled>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3"><h5>Recruiter Landline (optional) :</h5></div>
            <div class="col-sm-9">
              <input id="recruiterLandline" name="recruiterLandline" placeholder="Recruiter Landline" type="text" class="form-control input-md" >
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3"><h5>Recruiter Email:</h5></div>
            <div class="col-sm-9">
              <input id="recruiterEmail" name="recruiterEmail" placeholder="Recruiter Email" type="text" class="form-control input-md" >
            </div>
          </div>

          <div class="row" style="margin-top: 4px">
            <div class="col-sm-3"><h5>Recruiter's Company:</h5></div>
            <div class="col-sm-9">
              <select id="recruiterCompany" class="selectDropdown" ></select>
            </div>
          </div>

          <br>
          <h3>Credits Section <div class="btn btn-default" data-toggle="modal" data-target="#creditModal" style="color: #328234; border-color: #328234">Add Credits</div></h3>
          <hr>
          <div class="row" style="margin-top: 8px">
            <div class="col-sm-3"><h5>Recruiter's Contact Unlock Credits</h5></div>
            <div class="col-sm-9">
              <input id="recruiterContactCredits" name="recruiterContactCredits" placeholder="Recruiter contact credits" type="text" class="form-control input-md" disabled>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3"><h5>Recruiter's Interview Unlock Credits:</h5></div>
            <div class="col-sm-9">
              <input id="recruiterInterviewCredits" name="recruiterInterviewCredits" placeholder="Recruiter Interview credits" type="text" class="form-control input-md" disabled>
            </div>
          </div>

          <div id="addCreditInfoDiv" style="display: none; margin-top: 24px">
            <h4>You are adding the following no. of credits for this recruiter::</h4>
            <div class="row">
              <div class="col-sm-3"><h5>Candidate Contact unlock credits:</h5></div>
              <div class="col-sm-9" style="margin-top: 12px">
                <div id="contactUnlockCreditInfo" style="color: #00c853">N/A</div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-3"><h5>Candidate interview unlock credits:</h5></div>
              <div class="col-sm-9" style="margin-top: 12px">
                <div id="interviewUnlockCreditInfo" style="color: #00c853">N/A</div>
              </div>
            </div>

          </div>

          <div class="btn btn-default" onclick="saveRecruiter()">Save</div>
          <br>

        </form>
      </div>
    </div>

      <!-- modal code for credits -->
    <div id="creditModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
          <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-body" id="model_size">
            <form id="add_credits" class="form-horizontal" role="form">
              <div class="line_up" id="signInPopup"><h4>Add Credits</h4></div>
              <br>
              <h5 style="color: #0D47A1; font-weight: bold; display: inline-block">Select payment method: </h5>
              <select id="creditMode" class="selectDropdown" >
                <option value="0">Pre Paid</option>
                <option value="1">Post Paid</option>
              </select>

              <h5 style="color: #0D47A1; font-weight: bold">Purchased Candidate Contact Unlock Credits?</h5>
              <div class="row" style="margin-top: 8px">
                <div class="col-sm-12" style="margin-top: 4px">
                  <div style="width: 100%;height: 34px;" class="btn-group" data-toggle="buttons">
                    <label class="btn btn-custom-check" style="width: 80px">
                      <input type="radio" name="candidateCreditType" id="candidateCreditYes" value="1"> &nbsp;Yes&nbsp;&nbsp;
                    </label>
                    <label class="btn btn-custom-check" style="width: 80px">
                      <input type="radio" name="candidateCreditType" id="candidateCreditNo" value="0"> &nbsp;No&nbsp;&nbsp;
                    </label>
                  </div>
                </div>
              </div>
                <!-- candidate contact credit details -->
              <div id="candidateCreditSection" style="display: none;">
                             Candidate contact unlock credit details::
                <div class="row" style="margin-top: 8px">
                  <div class="col-sm-5" style="margin-top: 4px">
                                 Amount paid:
                  </div>
                  <div class="col-sm-7">
                    <div style="display: inline-block;">₹</div>
                    <input style="width: 90%; display: inline-block" onblur="calculateContactUnlockCredits()" id="candidateContactCreditAmount" placeholder="Amount paid" type="number" class="form-control input-md">
                  </div>
                </div>
                <div class="row" style="margin-top: 8px">
                  <div class="col-sm-5" style="margin-top: 4px">
                                 Unit price:
                  </div>
                  <div class="col-sm-7">
                    <div style="display: inline-block;">₹</div>
                    <input style="width: 90%; display: inline-block" onblur="calculateContactUnlockCredits()" id="candidateContactCreditUnitPrice" placeholder="Amount paid" type="number" class="form-control input-md">
                    <div id="contactCreditsVal" style="color: #00b0ff; margin: 4px 0 0 12px">
                      No. of credits: 0
                    </div>
                  </div>
                </div>
              </div>

              <hr>
              <h5 style="color: #0D47A1; font-weight: bold">Purchased Interview Unlock Credits?</h5>
              <div class="row" style="margin-top: 8px">
                <div class="col-sm-12" style="margin-top: 4px">
                  <div style="width: 100%;height: 34px;" class="btn-group" data-toggle="buttons">
                    <label class="btn btn-custom-check" style="width: 80px">
                      <input type="radio" name="interviewCreditType" id="interviewCreditYes" value="1"> &nbsp;Yes&nbsp;&nbsp;
                    </label>
                    <label class="btn btn-custom-check" style="width: 80px">
                      <input type="radio" name="interviewCreditType" id="interviewCreditNo" value="0"> &nbsp;No&nbsp;&nbsp;
                    </label>
                  </div>
                </div>
              </div>
                <!-- candidate contact credit details -->
              <div id="interviewCreditSection" style="display: none;">
                             Interview unlock credit details::
                <div class="row" style="margin-top: 8px">
                  <div class="col-sm-5" style="margin-top: 4px">
                                 Amount paid:
                  </div>
                  <div class="col-sm-7">
                    <input id="interviewCreditAmount" onblur="calculateInterviewUnlockCredits()" placeholder="Amount paid" type="number" class="form-control input-md">
                  </div>
                </div>
                <div class="row" style="margin-top: 8px">
                  <div class="col-sm-5" style="margin-top: 4px">
                                 Unit price:
                  </div>
                  <div class="col-sm-7">
                    <input id="interviewCreditUnitPrice" onblur="calculateInterviewUnlockCredits()" placeholder="Unit price" type="number" class="form-control input-md">
                    <div id="interviewCreditsVal" style="color: #00b0ff; margin: 4px 0 0 12px">
                      No. of credits: 0
                    </div>
                  </div>
                </div>
              </div>
              <div class="btn btn-default" style="background: #37a12f; color: #fff; margin: 24px 0 24px 0; width: 100%" onclick="computeCreditValue()">Done</div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Javascript import -->
    <script type="text/javascript" src="/assets/common/js/validation.js"></script>
    <script type="text/javascript" src="/assets/support/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/common/js/jquery.tokeninput.js"></script>
    <script type="text/javascript" src="/assets/support/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="/assets/support/js/bootstrap-notify.min.js"></script>
  </body>
</html>