<script>
    function logoutPartner() {
        try {
            $.ajax({
                type: "GET",
                url: "/logoutPartner",
                data: false,
                async: false,
                contentType: false,
                processData: false,
                success: processDataLogoutPartner
            });
        } catch (exception) {
            console.log("exception occured!!" + exception);
        }
    }
    function processDataLogoutPartner() {
        window.location = "/partner";
    }
    document.getElementById('uploadBulkResumeContent').addEventListener('change', uploadResume, false);
</script>

<nav class="navbar navbar-fixed-top" style="background: #26A69A" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar" style="border: 1px solid #fff;"></span>
        <span class="icon-bar" style="border: 1px solid #fff;"></span>
        <span class="icon-bar" style="border: 1px solid #fff;"></span>

      </button>
      <div itemscope itemtype ="http://schema.org/logo">
        <a class="navbar-brand" href="/partner/home">
            <img id="navLogo" itemprop="Brand" src="/assets/common/img/trujobs-partner.png" alt="TruJobs Logo" style="padding: 0px"></a>
      </div>
    </div>

    <div class="collapse navbar-collapse" id="navigationbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/partner/home"><font color="#fff" style="font-size: 12px; letter-spacing: 1px;">PARTNER DASHBOARD</font></a></li>
        <li><a data-target="#candidateCreateOptionModal" data-toggle="modal"><font color="#fff" style="font-size: 12px; letter-spacing: 1px;">ADD CANDIDATES</font></a></li>
        <li><a href="/partner/myCandidates"><font color="#fff" style="font-size: 12px; letter-spacing: 1px;">MY CANDIDATES</font></a></li>
        <li><a href="/partner/editProfile"><font color="#fff" style="font-size: 12px; letter-spacing: 1px;">PROFILE</font></a></li>
        <li><a href="#" onclick="logoutPartner()"><font color="#fff" style="font-size: 12px; letter-spacing: 1px;">LOGOUT</font></a></li>
      </ul>
    </div>
  </div>
</nav>

    <!-- custom message modal -->
<div class="modal fade" id="messagePromptModal" tabindex="-1" role="dialog" aria-labelledby="messagePromptModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">TruJobs</h4>
            </div>
            <div class="modal-body">
                <center>
                    <img id="customMsgIcon" width="48px">
                    <div id="customMsg" style="padding: 16px"></div>
                    <input id="candidateOtp" style="width: 40%" name="candidateOtp" max="9999" placeholder="OTP" type="number" class="form-control input-md" required>
                    <input id="verifyOtp" style="width: 40%; margin-top: 8px" name="verifyOtp" onclick="verifyCandidateOtp()" value="Verify" type="button" class="btn btn-primary registerPartnerBtnSubmit">
                    <input id="homeBtn" style="width: 40%; margin-top: 8px; display: none" name="verifyOtp" onclick="myCandidates()" value="Done" type="button" class="btn btn-primary registerPartnerBtnSubmit">
                </center>
            </div>
        </div>
    </div>
</div>
    <!-- Add candidate Option Modal -->
<div class="container">
    <div class ="modal fade bs-example-modal-md" id="candidateCreateOptionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-md" id="candidateCreateOptionModalDialog" role="document">
            <div class="modal-content" id="candidateCreateOptionModalContent">
                <div class="row">
                    <div class="col-sm-6">
                        <center>
                            <label class="btn btn-default btn-file" id="uploadBulkResumeBtn">Bulk Resume Upload
                                <input type="file" accept="application/pdf,application/msword" id="uploadBulkResumeContent" style="display: none" multiple>
                            </label>
                        </center>
                    </div>
                    <div class="col-sm-6">
                        <a href="/partner/candidate/0" id="addCandidate">Add details for candidate</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- Upload Resume Progress Modal -->
<div class="container">
    <div class ="modal fade bs-example-modal-lg" id="uploadResumeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" id="uploadResumeModalDialog" role="document">
            <div class="modal-content" id="uploadResumeModalContent">
                <center id="resumeUpload">
                    <svg viewBox="0 0 32 32" width="42" height="42">
                        <circle id="loadingSpinner" cx="16" cy="16" r="14" fill="none"></circle>
                    </svg>
                </center>
                <h4>Processing Your Request...</h4>
            </div>
        </div>
    </div>
</div>


