<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Partner Profile | Trujobs - Best Jobs for Freshers and Experienced Candidates </title>

        <meta name="keywords" content="driving jobs, fresher jobs, jobs for freshers, job search sites, job posting, sales jobs, beautician jobs,
            medical transcription jobs, online job search, find jobs, receptionist jobs, admin jobs, office assistant jobs,
            plumbing work, teacher job, online teaching jobs, jobs in schools, teacher vacancy, teacher recruitment, entry level jobs,
            delivery boy jobs,call center jobs, BPO jobs, kpo jobs, job job job, data entry jobs, back office jobs,
            receptionist jobs, beautician jobs, experienced jobs, jobs in Bangalore, cashier jobs, entry level jobs,
            plumber jobs, electrician jobs, job search, accountant jobs, job vacancy, bangalore vacancy">

        <meta name="description" content="Search and apply for jobs online. Register for FREE and find best
            fresher and experienced jobs.Give a missed call at 8880007799 for best jobs." />
        <meta http-equiv="Cache-control" content="public">
            <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" type="text/css" href="/assets/common/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/assets/partner/css/partnerStyle.css">
        <link rel="stylesheet" type="text/css" href="/assets/dashboard/css/materialDashboard.css">

        <script type="text/javascript" src="/assets/common/js/jquery-1.12.4.js"></script>
        @*<script type="text/javascript" src="/assets/common/js/jquery.min_1_12_0.js"></script>*@
        <script type="text/javascript" src="/assets/common/js/bootstrap.min.js"></script>
        <link rel="icon" type="image/png" href="/assets/common/img/icon.png">

        <link rel="stylesheet" href="/assets/common/css/token-input-facebook.css" type="text/css" />
        <script type="text/javascript" src="/assets/common/js/jquery.tokeninput.js"></script>
        <script type="text/javascript" src="/assets/support/js/bootstrap-notify.min.js"></script>

        <script type="text/javascript" src="/assets/partner/js/partner_page.js"></script>
        <script type="text/javascript" src="/assets/partner/js/partner_edit_profile.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
    </head>
    <body>
        <div id="preloader">
            <div id="loaderLogo">
                <img id="leaderLogo" src="/assets/common/img/logo-color.gif" alt="TruJobs Logo" height="40px">
            </div>
            <div id="status">&nbsp;</div>
        </div>

            <!-- Nav start -->
        <div id="nav_bar_inc"></div>
        <script>
              $(document).ready(function () {
                  $('#nav_bar_inc').load('/partnerNavBarLoggedIn');
              });
      </script>

        <div id="sectionHeader">
            <h1 style="letter-spacing: 2px;
                margin: 10px;"><b><font size="5">Partner Edit Profile</font></b></h1>
        </div>

        <div class="container" style="padding-bottom: 24px">
            <div class="profileBody">
                <h3 style="display: inline-block">Edit Profile</h3>
                <hr>
                <div id="basicProfileSection">
                    <h4>Let’s create your profile!</h4>
                    <form id="partnerBasicProfile" method="post">
                        <div id="profileTitleEditProfile"><font size="2"><b>Partner Profile</b></font></div>
                        <div class="profileBodyEditProfile" style="padding: 2%">
                            <div class="row">
                                <div class="col-sm-3" ><h5>Partner Name<font color="red">*</font></h5></div>
                                <div class="col-sm-5">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <input id="partnerFirstName" name="partnerFirstName" maxLength="49" placeholder="First Name" type="text" class="form-control input-md" required>
                                        </div>
                                        <div class="col-sm-6">
                                            <input style="width: 100%" id="partnerLastName" name="partnerFirstName" maxLength="49" placeholder="Last Name" type="text" class="form-control input-md">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 8px">
                                <div class="col-sm-3"><h5>Partner Mobile No.<font color="red">*</font></h5></div>
                                <div class="col-sm-5">
                                    <input id="partnerMobile" placeholder="What is your mobile no.?" name="partnerMobile" pattern="[7-9]{1}[0-9]{9}" type="text" maxlength="10" class="form-control input-md" disabled>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 8px">
                                <div class="col-sm-3"><h5>Partner Email <font color="red">*</font></h5></div>
                                <div class="col-sm-5">
                                    <input id="partnerEmail" placeholder="What is your Email?" name="partnerEmail" type="text" maxlength="30" class="form-control input-md">
                                </div>
                            </div>

                            <div class="row" style="margin-top: 8px">
                                <div class="col-sm-3" style="margin-top: 5px"><h5 style="margin-top: 4px">Organization Type<font color="red">*</font></h5></div>
                                <div class="col-sm-9">
                                    <select id="partnerType" class="selectDropdown" style="width: 206px;
                                        height: 34px;"></select>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 8px">
                                <div class="col-sm-3"><h5>Organization Name</h5></div>
                                <div class="col-sm-5">
                                    <input id="organizationName" placeholder="What is your Organization Name?" name="partnerEmail" type="text" maxlength="30" class="form-control input-md">
                                </div>
                            </div>

                            <div class="row" style="margin-top: 8px">
                                <div class="col-sm-3"><h5>Organization Location<font color="red">*</font></h5></div>
                                <div class="col-sm-5">
                                    <input type="text" id="organizationLocation">
                                </div>
                            </div>
                        </div>
                        <br>

                            <!-- next/save btn -->
                        <div id="saveBtn" style="float: right">
                            <img id="savePartnerProfileBtn" class="editProfileSaveBtn" src="/assets/dashboard/img/save.svg" height="48px">
                        </div>
                    </form>
                </div>

            </div>

        </div>
            <!-- Start Footer-->
        <div id="footer_inc"></div>
        <script type="text/javascript" src="/assets/common/js/validation.js"></script>

        <script>
              $(document).ready(function () {
                  $('#footer_inc').load('/footer');
              });
      </script>
        <script type="text/javascript" src="/assets/common/js/all_job_role_footer.js"></script>
    </body>
</html>