<script>
    function logoutPartner() {
        window.location = "/partner";
        try {
            $.ajax({
                type: "GET",
                url: "/logoutPartner",
                data: false,
                contentType: false,
                processData: false,
            });
        } catch (exception) {
            console.log("exception occured!!" + exception);
        }
    }

</script>

<nav class="navbar navbar-fixed-top" style="background: #286ab6" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar" style="border: 1px solid #fff;"></span>
        <span class="icon-bar" style="border: 1px solid #fff;"></span>
        <span class="icon-bar" style="border: 1px solid #fff;"></span>

      </button>
      <div itemscope itemtype ="http://schema.org/logo">
        <a class="navbar-brand" href="/partner/home"><img id="navLogo" itemprop="Brand" src="/assets/common/img/trujobs-partner.png" alt="TruJobs Logo" height="30px" style="margin-top: -6px"></a>
      </div>
    </div>

    <div class="collapse navbar-collapse" id="navigationbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/partner/home"><font color="#fff" style="font-size: 12px; letter-spacing: 1px;">PARTNER DASHBOARD</font></a></li>
        <li><a href="/partner/candidate/0"><font color="#fff" style="font-size: 12px; letter-spacing: 1px;">ADD CANDIDATES</font></a></li>
        <li><a href="/partner/myCandidates"><font color="#fff" style="font-size: 12px; letter-spacing: 1px;">MY CANDIDATES</font></a></li>
        <li><a href="/partner/editProfile"><font color="#fff" style="font-size: 12px; letter-spacing: 1px;">PROFILE</font></a></li>
        <li><a href="#" onclick="logoutPartner()"><font color="#fff" style="font-size: 12px; letter-spacing: 1px;">LOGOUT</font></a></li>
      </ul>
    </div>
  </div>
</nav>
