<nav class="navbar navbar-fixed-top" style="background: #286ab6" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar" style="border: 1px solid #fff;"></span>
        <span class="icon-bar" style="border: 1px solid #fff;"></span>
        <span class="icon-bar" style="border: 1px solid #fff;"></span>

      </button>
      <div itemscope itemtype ="http://schema.org/logo">
        <a class="navbar-brand" href="/"><img id="navLogo" itemprop="Brand" src="/assets/common/img/trujobs-partner.png" alt="TruJobs Logo" height="65%" style="margin-top:3%;"></a>
      </div>
    </div>

    <div class="collapse navbar-collapse" id="navigationbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/"><font color="#fff" style="font-size: 12px; letter-spacing: 1px;">TRUJOBS HOME</font></a></li>
        <li><a href="#sectionPartnerEligibility"><font color="#fff" style="font-size: 12px;">ELIGIBILITY</font></a></li>
        <li><a href="#sectionPartnerHowItWorks"><font color="#fff" style="font-size: 12px;">HOW IT WORKS</font></a></li>
        <li><a href="#sectionPartnerAllJoRoles"><font color="#fff" style="font-size: 12px;">JOB ROLES</font></a></li>
        <li><a href="#" onclick="openPartnerLogin()"><font color="#fff" style="font-size: 12px; letter-spacing: 1px;">LOG IN/SIGN UP</font></a></li>
      </ul>
    </div>
  </div>
</nav>