<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>My Candidates - Partner | Trujobs - Best Jobs for Freshers and Experienced Candidates </title>

        <meta name="keywords" content="driving jobs, fresher jobs, jobs for freshers, job search sites, job posting, sales jobs, beautician jobs,
            medical transcription jobs, online job search, find jobs, receptionist jobs, admin jobs, office assistant jobs,
            plumbing work, teacher job, online teaching jobs, jobs in schools, teacher vacancy, teacher recruitment, entry level jobs,
            delivery boy jobs,call center jobs, BPO jobs, kpo jobs, job job job, data entry jobs, back office jobs,
            receptionist jobs, beautician jobs, experienced jobs, jobs in Bangalore, cashier jobs, entry level jobs,
            plumber jobs, electrician jobs, job search, accountant jobs, job vacancy, bangalore vacancy">

        <meta name="description" content="Search and apply for jobs online. Register for FREE and find best
            fresher and experienced jobs.Give a missed call at 8880007799 for best jobs." />
        <meta http-equiv="Cache-control" content="public">
            <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" type="text/css" href="/assets/common/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/assets/dashboard/css/materialDashboard.css">

        <meta name="theme-color" content="#26A69A">
        <script type="text/javascript" src="/assets/common/js/jquery-1.12.4.js"></script>
        @*<script type="text/javascript" src="/assets/common/js/jquery.min_1_12_0.js"></script>*@
        <script type="text/javascript" src="/assets/common/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/assets/support/js/datatables.min.js"></script>
        <script type="text/javascript" src="/assets/partner/js/dataTables.rowReorder.min.js"></script>
        <script type="text/javascript" src="/assets/partner/js/dataTables.responsive.min.js"></script>


        <link rel="icon" type="image/png" href="/assets/common/img/icon.png">

        <link rel="stylesheet" href="/assets/common/css/token-input-facebook.css" type="text/css" />
        <script type="text/javascript" src="/assets/common/js/jquery.tokeninput.js"></script>
        <script type="text/javascript" src="/assets/partner/js/partner_page.js"></script>

        <link rel="stylesheet" href="/assets/support/css/dataTables.bootstrap.min.css">
        <link rel="stylesheet" href="/assets/partner/css/responsive.dataTables.min.css">
        <link rel="stylesheet" href="/assets/partner/css/rowReorder.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="/assets/partner/css/partnerStyle.css">
        <link rel="stylesheet" type="text/css" href="/assets/partner/css/materialButton.css">
        <script type="text/javascript" src="/assets/partner/js/notify.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
    </head>
    <body>
        <div id="preloader">
            <div id="loaderLogo">
                <img id="leaderLogo" src="/assets/common/img/logo-color.gif" alt="TruJobs Logo" height="40px">
            </div>
            <div id="status">&nbsp;</div>
        </div>

            <!-- Nav start -->
        <div id="nav_bar_inc"></div>
        <script>
              $(document).ready(function () {
                  $('#nav_bar_inc').load('/partnerNavBarLoggedIn');
                  renderCandidateTable();
              });
        </script>

        <div id="sectionHeader">
            <h1 style="letter-spacing: 2px;
                margin: 10px;"><b><font size="5">Your Candidates</font></b></h1>
        </div>

        <div class="container" style="padding-bottom: 24px">
            <div style="margin-top: 16px; min-height: 560px">
                <table id="myCandidates" class="table table-striped table-bordered" style="margin-top: 16px" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th style="font-size: 14px">Candidate Name</th>
                            <th style="font-size: 14px">Candidate Mobile</th>
                            <th style="font-size: 14px">Candidate Creation Date</th>
                            <th style="font-size: 14px">Status</th>
                            <th style="font-size: 14px">Profile</th>
                            <th style="font-size: 14px">Resume</th>
                            <th style="font-size: 14px">Jobs</th>
                            <th style="font-size: 14px">Applied</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
            <!-- Start Footer-->
        <div id="footer_inc"></div>
        <script type="text/javascript" src="/assets/common/js/validation.js"></script>
        <script>
            $(document).ready(function () {
                checkPartnerLogin();
                $('#footer_inc').load('/footer');
            });
        </script>
            <!-- Facebook Pixel Code -->
        <script>
            !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
                n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
                t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
                    document,'script','https://connect.facebook.net/en_US/fbevents.js');

            fbq('init', '535139956654403');
            fbq('track', "PageView");
        </script>
        <noscript>
            <img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=535139956654403&ev=PageView&noscript=1"/>
        </noscript>
            <!-- End Facebook Pixel Code -->

            <!--  google page view -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-77156203-1', 'auto');
            ga('send', 'pageview');
        </script>
        <script type="text/javascript" src="/assets/common/js/all_job_role_footer.js"></script>
        <script type="text/javascript" src="/assets/partner/js/partner_resume_upload.js"></script>
        <script type="text/javascript" src="/assets/support/js/upload_candidate_excel.js"></script>
    </body>
</html>