<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Partner | Trujobs - Best Jobs for Freshers and Experienced Candidates </title>

        <meta name="keywords" content="driving jobs, fresher jobs, jobs for freshers, job search sites, job posting, sales jobs, beautician jobs,
            medical transcription jobs, online job search, find jobs, receptionist jobs, admin jobs, office assistant jobs,
            plumbing work, teacher job, online teaching jobs, jobs in schools, teacher vacancy, teacher recruitment, entry level jobs,
            delivery boy jobs,call center jobs, BPO jobs, kpo jobs, job job job, data entry jobs, back office jobs,
            receptionist jobs, beautician jobs, experienced jobs, jobs in Bangalore, cashier jobs, entry level jobs,
            plumber jobs, electrician jobs, job search, accountant jobs, job vacancy, bangalore vacancy">

        <meta name="description" content="Search and apply for jobs online. Register for FREE and find best
            fresher and experienced jobs.Give a missed call at 8880007799 for best jobs." />

        <meta http-equiv="Cache-control" content="public">
          <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" type="text/css" href="/assets/common/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/assets/partner/css/partnerStylepartnerStyle.css">
        <link rel="stylesheet" type="text/css" href="/assets/dashboard/css/materialDashboard.css">

        <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">

        <script type="text/javascript" src="/assets/common/js/jquery.min_1_12_0.js"></script>
        <script type="text/javascript" src="/assets/common/js/bootstrap.min.js"></script>
        <link rel="icon" type="image/png" href="/assets/common/img/icon.png">
    </head>
    <body>
        <div id="preloader">
            <div id="loaderLogo">
                <img id="leaderLogo" src="/assets/common/img/logo-color.gif" alt="TruJobs Logo" height="40px">
            </div>
            <div id="status">&nbsp;</div>
        </div>

        <!-- Nav start -->
        <div id="nav_bar_inc"></div>
        <script>
            $(document).ready(function(){
                $('#nav_bar_inc').load('/partnerNavBarLoggedIn');
            });
        </script>

        <div id="sectionHeader">
            <h1 style="letter-spacing: 2px; margin: 10px;"><b><font size="5"><div id="partnerNameHeading"></div></font></b></h1>
        </div>

        <div class="container" style="padding-bottom: 24px">
            <div class="profileBody">
                <h3 style="display: inline-block">Partner Profile</h3>
                <h3 style="display: inline-block; float: right"><a href="/partner/editProfile"><img src="/assets/dashboard/img/edit.png" width="36px"></a></h3>
                <hr>
                <div class="profileSectionOne" id="dashboardProfileBody">
                    <div id="profileTitle"><font size="2"><b>PERSONAL INFORMATION</b></font></div>
                    <div class="row" style="padding: 3%">
                        <div class="col-sm-12">
                            <div style="display : inline-block; margin: 4px;top:0">
                                <img src="/assets/common/img/name.svg" height="24px;" style="margin-top: -4px">
                            </div>
                            <div style="display: inline-block;">
                                <div style="margin-left: 4px; color : #9f9f9f; font-size: 11px">Name</div>
                                <div id="partnerName" style="margin-left: 4px; display: inline-block">Not Specified</div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding: 3%; padding-top: 0%">
                        <div class="col-sm-12">
                            <div style="display : inline-block; margin: 4px;">
                                <img src="/assets/common/img/phone.svg" height="24px;" style="margin-top: -4px">
                            </div>
                            <div style="display: inline-block; margin-top: 4px">
                                <div style="margin-left: 4px; color : #9f9f9f; font-size: 11px">Mobile</div>
                                <div id="partnerMobile" style="margin-left: 4px; display: inline-block">Not Specified</div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="padding: 3%; padding-top: 0%">
                        <div class="col-sm-12">
                            <div style="display : inline-block; margin: 4px;">
                                <img src="/assets/common/img/email.svg" height="24px;" style="margin-top: -4px">
                            </div>
                            <div style="display: inline-block; margin-top: 4px">
                                <div style="margin-left: 4px; color : #9f9f9f; font-size: 11px">Email</div>
                                <div id="partnerEmail" style="margin-left: 4px; display: inline-block">Not Specified</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="profileSectionOne" id="dashboardProfileBody">
                    <div id="profileTitle"><font size="2"><b>ORGANIZATION INFORMATION</b></font></div>
                    <div class="row" style="padding: 3%">
                        <div class="col-sm-12">
                            <div style="display : inline-block; margin: 4px;top:0">
                                <img src="/assets/common/img/office.svg" height="24px;" style="margin-top: -4px">
                            </div>
                            <div style="display: inline-block;">
                                <div style="margin-left: 4px; color : #9f9f9f; font-size: 11px">Organization Name</div>
                                <div id="organizationName" style="margin-left: 4px; display: inline-block">Not Specified</div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding: 3%; padding-top: 0%">
                        <div class="col-sm-12">
                            <div style="display : inline-block; margin: 4px;">
                                <img src="/assets/common/img/type.svg" height="24px;" style="margin-top: -4px">
                            </div>
                            <div style="display: inline-block; margin-top: 4px">
                                <div style="margin-left: 4px; color : #9f9f9f; font-size: 11px">Organization Type</div>
                                <div id="organizationType" style="margin-left: 4px; display: inline-block">Not Specified</div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="padding: 3%; padding-top: 0%">
                        <div class="col-sm-12">
                            <div style="display : inline-block; margin: 4px;">
                                <img src="/assets/common/img/location.svg" height="24px;" style="margin-top: -4px">
                            </div>
                            <div style="display: inline-block; margin-top: 4px">
                                <div style="margin-left: 4px; color : #9f9f9f; font-size: 11px">Organization Location</div>
                                <div id="organizationLocation" style="margin-left: 4px; display: inline-block">Not Specified</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of info -->
        </div>

        <div id="sectionPartnerHowItWorks" style="background: #fff; margin-top: 24px">
            <div class="container">
                <div style="margin: 10px 0 12px 0;"><font size="5">How it Works</font></div>
                <center><div class="materialDot"></div></center>
                <div class="container">
                    <div class="row" style="padding:4%;margin: 3% 0 0 0">
                        <div class="col-sm-3">
                            <p><img class="hov" src="/assets/partner/img/partner.svg" width="80px"></p>
                            <h5>Register yourself as a partner with TruJobs</h5>
                        </div>
                        <div class="col-sm-3">
                            <p><img class="hov" src="/assets/partner/img/users.svg" width="80px"></p>
                            <h5>Add your candidates and create their profile</h5>
                        </div>
                        <div class="col-sm-3">
                            <p><img class="hov" src="/assets/partner/img/list.svg" width="80px"></p>
                            <h5>Browse jobs and apply on behalf of your candidates</h5>
                        </div>
                        <div class="col-sm-3">
                            <p><img class="hov" src="/assets/partner/img/money.svg" width="80px"></p>
                            <h5>Earn money when your candidates are hired</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <!--  Start Job Icons Box -->
            <div class="custom_container" style=" padding-bottom: 24px; text-align: center; margin-top: 24px; display: table;" id="jobs">
                <h3 id="jobVacancyHead">Click on Job Roles to View Jobs</h3>
                <center>
                    <div class="materialDot"></div>
                </center><br>
                <div id="jobRoleGrid" style="width: auto"></div>
            </div>

            <!-- Start Footer-->
        <div id="footer_inc"></div>
        <script type="text/javascript" src="/assets/common/js/validation.js"></script>
        <script type="text/javascript" src="/assets/partner/js/partner_page.js"></script>
        <script type="text/javascript" src="/assets/partner/js/partner_home.js"></script>
        <script type="text/javascript" src="/assets/common/js/all_job_role_with_jobs.js"></script>

        <script>
            $(document).ready(function(){
                $('#footer_inc').load('/footer');
            });
        </script>
  </body>
</html>