logs
project/project
project/target
target
tmp
.history
*.csv
dist
/.idea
/.cache
/.target
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/project/*-shim.sbt
/tool
/proto
/libraries
/tools
/tutorial
/node_modules

