.back-banner-recruiter{
    height: 150px;
    background: #348F50; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #348F50 , #56B4D3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #348F50 , #56B4D3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
}
.back-banner-recruiter-applied-candidate{
    height: 150px;
    margin-top: -72px;
    background: #348F50; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #348F50 , #56B4D3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #348F50 , #56B4D3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
}
#outerBoxMain{
    font-size: 14px;
    text-align:center;
    padding: 1%;
    margin: 0;
    background-color: #ffffff;
}
#headerForData{
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    text-align:center;
    padding: 1%;
    background-color: #f3f3f3;
}
#colHeadDataTable {
    border-right: 1px solid #ffffff;
}
#jobTable{
    padding-bottom: 4%;
}

.tabs{
    border:4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px -1px rgba(0, 0, 0, 0.2);
}
.tabs > li > a{
    text-decoration: none;
}
.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #56B4D3;
    will-change: left, right;
}
.tabs .tab a:hover {
    color: #187b95;
}
.tabs .tab a {
    color: #909090;
    display: block;
    width: 100%;
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: color .28s ease;
}

.activeTab{
    font-weight: bold;
    color: #187b95;
}

.activeParent{
    background: rgba(109, 130, 128, 0.22);
}

.feedbackVal{
    border-radius: 4px;
    background: #ff853b;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 6px;
}

.matchDiv{
    border-radius: 4px;
    background: #ff853b;
    color: white;
    width: auto;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    padding: 6px;
}

#tab1, #tab2, #tab3, #tab4{
    font-size: 12px;
}

@media screen and (max-width:1000px){
    #headerForData{
        margin: 0;
        font-weight: 600;
        font-size: 12px;
        text-align:center;
        padding: 1%;
        background-color: #f3f3f3;
    }
    #outerBoxMain{
        font-size: 12px;
        text-align:center;
        padding: 1%;
        margin: 0;
        background-color: #ffffff;
    }
}
@media screen and (max-width:600px){
    #headerForData{
        margin: 0;
        font-weight: 600;
        font-size: 12px;
        text-align:center;
        padding: 1%;
        background-color: #f3f3f3;
    }
    #outerBoxMain{
        font-size: 12px;
        text-align:left;
        padding: 1%;
        margin: 0;
        background-color: #ffffff;
    }
}