.back-banner-recruiter{
    height: 150px;
    background: #348F50; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #348F50 , #56B4D3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #348F50 , #56B4D3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
}
.back-banner-recruiter-applied-candidate{
    height: 150px;
    margin-top: -72px;
    background: #348F50; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #348F50 , #56B4D3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #348F50 , #56B4D3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
}
#outerBoxMain{
    font-size: 14px;
    text-align:center;
    padding: 1%;
    margin: 0;
    background-color: #ffffff;
}
#headerForData{
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    text-align:center;
    padding: 1%;
    background-color: #f3f3f3;
}
#colHeadDataTable {
    border-right: 1px solid #ffffff;
}
#jobTable{
    padding-bottom: 4%;
}

.tabs{
    border:4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px -1px rgba(0, 0, 0, 0.2);
}
.tabs > li > a{
    text-decoration: none;
}
.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #56B4D3;
    will-change: left, right;
}
.tabs .tab a:hover {
    color: #187b95;
}
.tabs .tab a {
    color: #909090;
    display: block;
    width: 100%;
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: color .28s ease;
}

.activeTab{
    font-weight: bold;
    color: #187b95;
}

.activeParent{
    background: rgba(109, 130, 128, 0.22);
}

.feedbackVal{
    display: inline-block;
    margin-right: 4px;
    border-radius: 4px;
    background: #ff853b;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 7px;
}

.matchDiv{
    border-radius: 4px;
    background: #ff853b;
    color: white;
    width: auto;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    padding: 6px;
}

#tab1, #tab2, #tab3, #tab4{
    font-size: 12px;
}

.newCounter{
    display: block;
}

.applicationCount{
    display: inline-block;
    background-color: #cecece;
    border-radius: 50%;
    color: black;
    font: bold 12px/15px Helvetica, Verdana, Tahoma;
    height: 24px;
    width: 24px;
    padding: 5px 3px 0 3px;
    text-align: center;
    margin-left: 4px;
}

.headerRibbon{
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
    color: white;
    background: rgb(31, 128, 123);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.customFeedbackBtn:hover{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: white;
}

.customUnlockBtn{
    background: #2ec866;
    font-weight: bold;
    margin-right: 8px;
    color: white;
    padding: 6px 12px 6px 12px;
    border-radius: 3px;
}

.customUnlockBtn:hover{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: white;
}

.feedbackBtn{
    font-weight: bold;
    margin-right: 8px;
}

.interviewStatusDiv{
    color: black;
    text-align: right;
    margin-top: 4px;
}

.mapView{
    width: 500px;
    height: 240px;
}

.pagination{
    margin-right:8px;
    float: right;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.1);
}

.pagination>li>a, .pagination>li>span{
    color:rgb(41, 128, 185);
    font-size: 14px;
}
.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus{
    color: #5d5d5d;
    background: #fff;
    box-shadow: 0 1px 8px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.12);
    transition: opacity 0.5s ease-in-out;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus{
    z-index:0;
    background-color: rgba(0, 159, 219, 0.99);
    border-color: rgba(0, 159, 219, 0.99);
}

.viewCandidateModal{
    background: none;
    box-shadow: none;
    width: 70%;
    height: 40%;
    top: 0;
}

@media screen and (max-width:1000px){
    .viewCandidateModal{
        width: 90%;
        height: auto;
    }

    #tab1, #tab2, #tab3, #tab4{
        font-size: 9px;
    }

    .interviewStatusDiv{
        color: black;
        text-align: center;
        margin: 8px;
    }

    .unlockBtn{
        font-weight: bold;
        margin: 8px;
    }

    .feedbackBtn{
        font-weight: bold;
        margin-right: 0;
        margin-top: 4px;
        margin-bottom: 4px;
    }

    .unlockDiv{
        text-align: center;
    }

    #headerForData{
        margin: 0;
        font-weight: 600;
        font-size: 12px;
        text-align:center;
        padding: 1%;
        background-color: #f3f3f3;
    }
    #outerBoxMain{
        font-size: 12px;
        text-align:center;
        padding: 1%;
        margin: 0;
        background-color: #ffffff;
    }
}
@media screen and (max-width:600px){
    .newCounter{
        display: inline-block;
    }

    #headerForData{
        margin: 0;
        font-weight: 600;
        font-size: 12px;
        text-align:center;
        padding: 1%;
        background-color: #f3f3f3;
    }
    #outerBoxMain{
        font-size: 12px;
        text-align:left;
        padding: 1%;
        margin: 0;
        background-color: #ffffff;
    }
}