::-webkit-input-placeholder {
    color: #8e8e8e;
}

:-moz-placeholder { /* Firefox 18- */
    color: #8e8e8e;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #8e8e8e;
}

:-ms-input-placeholder {
    color: #8e8e8e;
}

.select-wrapper input.select-dropdown{
    color: #8e8e8e;
}
::-webkit-scrollbar
{
    width: 6px;  /* for vertical scrollbars */
    height: 6px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
    background: rgba(255, 255, 255, 1);
}

::-webkit-scrollbar-thumb
{
    background: rgb(84, 85, 99);
}

.ascentGreen {
    background-color: #2ec866 !important;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
body{
    font-family:Lato;
}

nav{
    background: transparent;
    box-shadow: 0 0 0 0;
    transition: 0.2s;
}
.navbar-fixed{
    position: absolute;
    z-index:9999;
    box-shadow: none;
}
.customParallaxContainer{
    width: 120%;
    position: absolute;
}

.footerLeadForm{
    position: absolute;
    width:100%;
    padding: 1%;
    bottom: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.68)
}

.sectionOneBody{
    font-family: Lato;
    text-align: center;
    margin-top: 9%;
    padding: 4%;
}

.custom-parallax-container{
    position: relative;
    margin-bottom:4% ;
    height: 100vh;
    background: linear-gradient(rgba(24, 26, 45, 0.4), rgba(0, 0, 0, 0.9)) no-repeat center;
}

#sectionOne{
    padding: 0;
    background-size: 100%;
}

.sectionOneContainer{
    margin-top: 12%;
}

#leadForm{
    padding: 2%;
    text-align: left;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.5);
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #fff;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #fff;
}

#companyHiringRow{
    text-align: center;
    width: 100%;
    margin-top: 10%;
}
#companyHiringRowSub{
    padding: 1%;
    margin: 0;
    background-color: #fff;

}

#sectionTwo{
    height: 200px;
}

#candidateStats{
    padding: 2%;
    border-right: 2px solid black;
}
#jobRolesStats{
    padding: 2%;
}
#stats{
    padding: 2%;
    text-align: center;
}
#testimonial{
    text-align: center;
}
.footer-copyright{
    text-align: center;
}
#companyHiringBox{
    padding: 0;
    text-align: center;
    border: 1px solid #f3f3f3;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.2);
}
#companyHiringHeader{
    margin: 0;
    padding: 1%;
    background-color: #fbfbfb;
    color: #000;
}
#companyHiringCompanyLogo{
    margin:0;
    padding: 4%;
    border-bottom: 1px solid #e2e2e2;
}
#companyHiringCompanyLogo img{
    margin-bottom: 2%;
}
#modalLeftBox{
    background-color: rgb(55, 71, 79);
    height: 100%;
}
#inputContainerModalSignup{
    padding: 2%;
}
#inputContainerModalSignup >.input-field > input{
    margin: 0;
}
#modalRightBox{
    margin-top:10%;
    text-align: center;
}
@media screen and (max-width: 768px) {
    #leadForm{
        margin-top:6%;
        padding: 6%;
    }
    .customParallaxContainer{
        width: auto;
        height: 100%;
        position: absolute;
    }

}
