
/* Important part */
.assessment-modal .modal-dialog{
    overflow-y: initial !important;
    width:70% !important;
}
.assessment-modal .modal-body{
    height: 400px;
    overflow-y: auto;
}
.question_contianer {
    margin: 8px;
}
body.assessment-modal .modal-open {
    overflow: hidden;
    position:fixed;
    width: 100%;
}
.assessment-modal .row.optionContainer{
    margin-left: 0;
    margin-right: 0;
}