
/* Important part */
.assessment-modal .modal-dialog{
    overflow-y: initial !important;
    width:70% !important;
}

.assessment-modal .modal-body {
    max-height: calc(100vh - 280px);
    overflow-y: auto;
}
.assessment-modal .modal-content {
    padding: 2%;
}

body.modal-open {
    overflow: hidden;
    position:fixed;
    width: 100%;
}
body.open-modal {
    overflow: hidden;
    position:fixed;
    width: 100%;
}

.question_contianer {
    margin: 16px 8px;
}
.assessment-modal .row.optionContainer{
    margin-left: 0;
    margin-right: 0;
}

.asssessmentTitle{
    /*    color: #fff;
        padding: 2%;
        background-color: #286ab6;*/
    width: 100%;
    color: #286ab6;
    padding: 16px;
    border-left: 3px solid #ffaf00;
    background-color: #f8f8f8;

}

@media screen and (max-width: 768px) {
    .assessment-modal .modal-dialog{
        width:88% !important;
    }
    .assessment-modal .modal-content {
        padding: 1%;
    }

}
