::-webkit-scrollbar
{
  width: 8px;  /* for vertical scrollbars */
  height: 8px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(41, 128, 185, 1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(255, 255, 255, 1);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

body {
    font-family: Lato;
	background: #ffffff;
}

#preloader { 
    position: fixed;
    left: 0;
    top: 0; 
    z-index: 999; 
    width: 100%; 
    height: 100%; 
    overflow: visible; 
    background: #333 url('http://files.mimoymima.com/images/loading.gif') no-repeat center center; 
}

.navbar-default {
    border-color: #2980b9;
    color: #2980b9;
}

.leadBox {
    border: 4px solid #0B4063;
    border-radius: 10px;
    color: #0B4063;
    background: #ffffff;
    padding-left: 1%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 0%;
    margin-right: 32%;
    margin-left: 32%;
}

.nav.navbar-nav.navbar-right li a {
    color: #2980b9;
    font-size: 12px;
}

.dropdown {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}

.dropdown dd,
.dropdown dt {
    margin: 0px;
    padding: 0px;
}

.dropdown ul {
    margin: -1px 0 0 0;
}

.dropdown dd {
    position: relative;
}

.dropdown a,
.dropdown a:visited {
    color: #fff;
    text-decoration: none;
    outline: none;
    font-size: 12px;
}

.dropdown dt a {
    background-color: #4F6877;
    display: block;
    padding: 8px 20px 5px 10px;
    min-height: 25px;
    line-height: 24px;
    overflow: hidden;
    border: 0;
    width: 272px;
}

.dropdown dt a span,
.multiSel span {
    cursor: pointer;
    display: inline-block;
    padding: 0 3px 2px 0;
}

.dropdown dd ul {
    background-color: #4F6877;
    border: 0;
    color: #fff;
    display: none;
    left: 0px;
    padding: 2px 15px 2px 5px;
    position: absolute;
    top: 2px;
    width: 280px;
    list-style: none;
    height: 100px;
    overflow: auto;
}

.dropdown span.value {
    display: none;
}

.dropdown dd ul li a {
    padding: 5px;
    display: block;
}

.dropdown dd ul li a:hover {
    background-color: #fff;
}

.dashboardBody {
    padding: 2%;
    padding-bottom: 2%;
}

.material_grid {
    background: #ffffff;
    border-radius: 4px;
    color: #4e4e4e;
    box-shadow: 1px 1px 4px #888888;
}

.dashboardHeader {
    padding: 1%;
    padding-left: 4%;
    color: #ffffff;
    background: #2980b9;
}

.sectionDashboard {
    background: #ffffff;
    padding-right: 6%;
    padding-left: 6%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.navLine {
	margin-top: 56px;
	border: 1px solid #2980b9;
}
#pointerChange {
    cursor: hand;
    color: #0B4063;
}

.sectionOne {
	background: #2980b9;
	color: #ffffff;
	font-weight: bold;
	color: #2980b9;
	padding-right: 8%;
	padding-left: 8%;
	padding-top: 8%;
	padding-bottom: 4%;
	font-weight: bold;
	text-align: center;
}

.subLogin {
    padding-top: 4%;
}

.sectionStats {
    background: #2980b9;
    color: #ffffff;
    font-weight: bold;
    padding-right: 8%;
    padding-left: 8%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-weight: bold;
    text-align: center;
}
.modal .modal-dialog { 
    width: 25%;
    margin: 80px auto;
}

.modal-content {
    padding: 10%;
    color: #000000;
}

.btn-primary {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 4%;
    padding-left: 4%;
    color: #fff;
    background-color: #0B4063;
    border-color: #0B4063;
}

.floating {
    color: #fff;
    background-color: #0B4063;
    border-color: #0B4063;   
}

.floating:hover {
    color: #fff;
    background-color: #022D4A;
    border-color: #022D4A;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #0B4063;
    border-color: #0B4063;
}

.btn-primary:hover {
    color: #fff;
    background-color: #022D4A;
    border-color: #022D4A;
}

.sectionTwo {
	background: #ffffff;
	padding-right: 8%;
	padding-left: 8%;
	padding-top: 4%;
	padding-bottom: 4%;
	text-align: center;
}

.sectionThree {
	background: #ffffff;
	padding-right: 8%;
	padding-left: 8%;
	padding-top: 4%;
	padding-bottom: 4%;
	text-align: center;
}

.c_form {
    margin-left: 12%;
    margin-right: 12%;
}

.r_form {
    margin-left: 42%;
    margin-right: 42%;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    /* padding-left: 15px; */
    /* padding-right: 15px; */
}

@media screen and (max-width: 800px) {

    .c_form {
        margin-left: 10%;
        margin-right: 10%;
    }
    .r_form {
        margin-left: 12%;
        margin-right: 12%;
    }
    .leadBox {
        margin-right: 10%;
        margin-left: 10%;
    }
    .modal .modal-dialog {
        width: 50%;
        margin: 80px auto;
    }

    .form-control {
        width: 100%;
    }

    ul.token-input-list-facebook {
        margin-left: 5%;
        margin-right: 2%;
        width: 90%;
    }

    #stats {
    margin-top: 50px; 
    }
}

@media screen and (max-width: 540px) {
    .sectionOne {
        padding-top: 30%;
    }
    h3 {
        font-size: 16px;
    }
    h1 {
        font-size: 24px;
    }
    h4 {
        font-size: 14px;
    }
    .leadBox {
        margin-right: 8%;
        margin-left: 8%;
    }

    .footer{
        font-size: 12px;
    }
    .modal .modal-dialog { 
    width: 80%;}
}

.sectionFive {
	background: #2980b9;
	padding-right: 8%;
	padding-left: 8%;
	padding-top: 4%;
	padding-bottom: 4%;
	text-align: center;
	color: #ffffff;
}

.hov:hover{
    position: relative; 
    top: -3px;
}

.dropShadow:hover {
    border-radius: 50%;
    box-shadow: 0px 0px 20px #888888;
}

.footer {
	background-color: #0B4063;
    color: #ffffff;
	padding-right: 8%;
	padding-left: 8%;
	padding-top: 2%;
	padding-bottom: 2%;
    bottom:0;
    width:100%;
	text-align: center;
}
a {
	color: #ffffff;
}
a:visited { 
    color: #ffffff;
}

.leftColumn {

}

.rightColumn {
}

.leftColumnData {
	margin-left: 12%;
	text-align: center;
}

.rightColumnData {
	margin-left: 12%;
	text-align: center;
}

.numberCircle {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 2px;
    color: #ffffff;
    vertical-align:middle;
    background: #ccced4;
    text-align: center;
    
    /* for slow hove effect*/
    -webkit-transition: background 0.5s;
    -moz-transition:    background 0.5s;
    -ms-transition:     background 0.5s;
    -o-transition:      background 0.5s;
    transition:         background 0.5s;

    -webkit-transition: color 0.2s;
    -moz-transition:    color 0.2s;
    -ms-transition:     color 0.2s;
    -o-transition:      color 0.2s;
    transition:         color 0.2s;
}

.numberCircle:hover {
	font-weight: bold;
	background: #2980b9;
	color: #ffffff;
}

.categoryBox {
    border-radius: 10px;
    background: #ccced4;
    border: 2px solid #ccced4;
    width: auto;
    color: #2980b9;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto; 
/* for slow hove effect*/
    -webkit-transition: background 0.5s;
    -moz-transition:    background 0.5s;
    -ms-transition:     background 0.5s;
    -o-transition:      background 0.5s;
    transition:         background 0.5s;

    -webkit-transition: color 0.2s;
    -moz-transition:    color 0.2s;
    -ms-transition:     color 0.2s;
    -o-transition:      color 0.2s;
    transition:         color 0.2s;
}

.categoryBox:hover {
    cursor: pointer;
	font-weight: bold;
	background: #2980b9;
	border: 2px solid #2980b9;
	color: #ffffff;
}
.categoryRow {
	margin-top: 8px;
}

#fixed-menu
{
    position: fixed;
    width: 100%;
    margin-top: 50px;
    height: auto;
    color: #ffffff;
    background-color: #24608f;
    padding: 10px;
    z-index: 999;
}

hr {
    border: 0;
    height: 6px;
    position:relative;

    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 10%, rgba(88, 130, 250, 1) 50%, rgba(0,0,0,0) 90%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(10%,rgba(0,0,0,0)), color-stop(50%,rgba(88, 130, 250, 1)), color-stop(90%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(88, 130, 250, 1) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(88, 130, 250, 1) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(88, 130, 250, 1) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(88, 130, 250, 1) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

hr:before {
    content: "";
    display: block;
    width: 100%;
    height: 6px;
    position: absolute;
    top: 50%;
    z-index: 1;
}

/* custom bootstrap code for 5 columns in single row */
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
	text-align: center;
    position: relative;
    min-height: 1px;
    padding-top: 8px;
    padding-right: 24px;
    padding-left: 24px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }

}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

/* custom bootstrap ends */
