@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v11/dPJ5r9gl3kK6ijoeP1IRsvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/*#latin*/
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v11/EsvMC5un3kjyUhB9ZEPPwg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

::-webkit-scrollbar
{
    width: 6px;  /* for vertical scrollbars */
    height: 6px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
    background: rgba(255, 255, 255, 1);
}

::-webkit-scrollbar-thumb
{
    background: rgb(84, 85, 99);
}

::-webkit-input-placeholder { /* WebKit browsers */
    font-size: 14px;
    color: #999;
    font-weight: 300;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size: 14px;
    color: #999;
    font-weight: 300;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size: 14px;
    color: #999;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-size: 14px;
    color: #999;
    font-weight: 300;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}


body{
    background: #f2f2f3;
    font-family: Lato;
}
.nav > li > a:hover, .nav > li > a:focus{
    background-color: #00897B;
    -webkit-transition: background-color 0.2s;
    -moz-transition:    background-color 0.2s;
    -ms-transition:     background-color 0.2s;
    -o-transition:      background-color 0.2s;
    transition:         background-color 0.2s;

}
.nav > li > a:active{
    background-color: #00897B;
    -webkit-transition: background-color 0.2s;
    -moz-transition:    background-color 0.2s;
    -ms-transition:     background-color 0.2s;
    -o-transition:      background-color 0.2s;
    transition:         background-color 0.2s;
}

.materialDot{
    height: 6px;
    width: 6px;
    border-radius: 100%;
    background: #26A69A;
}

.form-control {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #eaeaea;
}
.selectDropdown{
    color: #000;
    padding-left: 8px;
    overflow:scroll;
    margin-top: 2px;
    display: inline-block;
    height: 34px;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    background: #ffffff;
}
option:checked {
    color : #000;
}

.custom_container{
    margin-left: 14%;
    margin-right: 14%;
}

#sectionHeader{
    background: linear-gradient(
            rgba(24, 26, 45, 0.6),
            rgba(24, 26, 45, 0.6)
    ), url(../img/back_design_partner.svg) repeat;
    background-size: 100%;
    font-weight: bold;
    color: #fff;
    padding: 5% 4% 2% 4%;
    text-align: center;
}
#sectionHeaderPartner{
    background: linear-gradient(rgba(24, 26, 45, 0.6), rgba(24, 26, 45, 0.6)), url(../img/back_design_partner_login.svg) repeat;
    background-size: 100%;
    background-position:0 -50px;
    font-weight: bold;
    color: #fff;
    padding: 5% 4% 2% 4%;
    text-align: right;
}
#sectionPartnerHowItWorks{
    background-color: #e0f2f1;
    color: #402005;
    padding: 2% 0 2% 0;
    text-align: center;
    margin-top: -2%;
}
#sectionPartnerEligibility{
    color: #402005;
    text-align: center;
    margin-bottom: 8%;
    /*margin-top: -8%;*/
}

#partnerStats{
    font-weight: bold;
    background: #fffabb;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    text-align: center;
    width: 84%;
    color: #0B4063;
    padding: 8%;
    float: right;
    margin-top: 12%;
}

#sectionBody{
    background: #ffffff;
    font-weight: bold;
    color: #402005;
    padding: 4% 4% 4% 4%;
    text-align: center;
}

#partner_thanks{
    width: 70%;
}

#headerMsg{
    font-size: 24px;
    margin-top: 100px;
}

.leadBox {
    text-align: center;
    width: 320px;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.15);
    border-radius: 1px;
    color: #0B4063;
    background: #ffffff;
    padding: 2px;
    float: right;
}
#registerBtnSubmit{

    border: none;
    background-color: #26A69A;
    color: white;
    -webkit-transition: background-color 0.2s;
    -moz-transition:    background-color 0.2s;
    -ms-transition:     background-color 0.2s;
    -o-transition:      background-color 0.2s;
    transition:         background-color 0.2s;

}

.registerPartnerBtnSubmit{
    border: none;
    background-color: #26A69A;
    color: white;
    -webkit-transition: background-color 0.2s;
    -moz-transition:    background-color 0.2s;
    -ms-transition:     background-color 0.2s;
    -o-transition:      background-color 0.2s;
    transition:         background-color 0.2s;

}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    z-index: 2;
    color: #fff;
    background-color: #00897B;
    border-color: #00897B;
    cursor: default;
}

.materialDash{
    height: 2px;
    width: 72px;
    background: #26A69A;
}

#forBtn{
    margin: 24px 12px 24px 0;
    width: 140px;
    color: #fff;
    float: left;
    padding: 12px 0 12px 0;
    border-radius: 8px;
    text-align: center;
    border: 1px solid #fff;
    display: inline-block;
    -webkit-transition: background 0.6s;
    -moz-transition:    background 0.6s;
    -ms-transition:     background 0.6s;
    -o-transition:      background 0.6s;
    transition:         background 0.6s;
}

#forBtn:hover{
    cursor: hand;
    background: #fff;
    color: #26A69A;
    font-weight: bold;
    border: 1px solid #fff;
    display: inline-block;

    -webkit-transition: background 0.6s;
    -moz-transition:    background 0.6s;
    -ms-transition:     background 0.6s;
    -o-transition:      background 0.6s;
    transition:         background 0.6s;

}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    display: initial;
    border: transparent;
    background: transparent;
}

.dataTables_wrapper:hover .dataTables_paginate:hover .paginate_button:hover{
    display: initial;
    background: transparent;
    border: transparent;
    color: black;
}

.pagination>li>a, .pagination>li>span, .pagination>li>a:hover, .pagination>li>span:hover  {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #004d81;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}

#registerBtnSubmit:hover{
    border: none;
    background-color: #00897B;
    color: white;
    -webkit-transition: background-color 0.2s;
    -moz-transition:    background-color 0.2s;
    -ms-transition:     background-color 0.2s;
    -o-transition:      background-color 0.2s;
    transition:         background-color 0.2s;
}

.registerPartnerBtnSubmit:hover{
    border: none;
    background-color: #00897B;
    color: white;
    -webkit-transition: background-color 0.2s;
    -moz-transition:    background-color 0.2s;
    -ms-transition:     background-color 0.2s;
    -o-transition:      background-color 0.2s;
    transition:         background-color 0.2s;
}

#viewCandidateBtn{
    border: none;
    color: white;
    -webkit-transition: background-color 0.2s;
    -moz-transition:    background-color 0.2s;
    -ms-transition:     background-color 0.2s;
    -o-transition:      background-color 0.2s;
    transition:         background-color 0.2s;
}

#hotJobs::-webkit-scrollbar {
    width: 0 !important;
}

.sectionFiveMain{
    background: #26A69A;
}
.sectionFive {
    padding: 2% 0 2% 0;
    text-align: center;
    color: #ffffff;
}

.footer {
    background-color: rgba(0, 0, 0, 0.49);
    color: #ffffff;
    padding: 2% 8%;
    bottom:0;
    width:100%;
    text-align: center;
}

.appliedBtn {
    box-shadow: none;
    cursor: crosshair;
    color: #fff;
    border-color: #f4e3a4;
    background-color: #f4cb6c;
}
.appliedBtn:hover{
    cursor: not-allowed;
    border-color: #f4e3a4;
    background-color: #f4cb6c;
    box-shadow: none;
}

.modal-content {
    color: #000000;
}

#login_modal{
    margin-left: 12%;
    margin-right: 12%;
}

.sectionAllJoRoles{
    text-decoration: none;
    background: #fbfbfb;
    padding: 4% 4% 2% 4%;
    text-align: center;
}

#preloader  {
    position: absolute;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 99999999;
    height: 100%;
}

#loaderLogo  {
    width: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -100px 0 0 -100px;
}

#status  {
    width: 200px;
    height: 136px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: url(../img/main_loader.svg) no-repeat center;
    margin: -100px 0 0 -100px;
}

a:hover, a:active{
    text-decoration: none;
}

a:hover{
    cursor: hand;
}

#jobRoleNameFooter{
    padding: 1%;
    color: #ffffff;
}

#jobRoleNameFooter:hover{
    cursor:pointer;
    text-decoration: none;
    color: #82a1b0;
}


#jobRole{
    margin: 1px;
    padding-top: 16%;
    padding-bottom: 16%;
    border-right: 1px solid #f4eef2;
    border-bottom: 1px solid #f4eef2;
    background: rgba(255, 255, 255, 0.69);
}
#jobRole:hover{
    box-shadow: 0 1px 8px rgba(0,0,0,0.22), 0 4px 4px rgba(0,0,0,0.12);
    background: #ffffff;
    transition: opacity 0.5s ease-in-out;
    -webkit-transition: background 0.4s;
    -moz-transition:    background 0.4s;
    -ms-transition:     background 0.4s;
    -o-transition:      background 0.4s;
    transition:         background 0.4s;
}
#jobRoleName{
    padding: 1%;
    color: #ffffff;
}

#jobRoleName:hover{
    cursor:pointer;
    color: #82a1b0;
    text-decoration: none;
}


#jobRoleNoBorder:hover, #jobRoleRight:hover, #jobRoleBottom:hover {
    background: #faf4f2;
    color: #003557;
    cursor: pointer;

    /* for slow hove effect*/

    -webkit-transition: background 3s;
    -moz-transition:    background 3.5s;
    -ms-transition:     background 3.5s;
    -o-transition:      background 3.5s;
    transition:         background 3.5s;

    -webkit-transition: color 0.2s;
    -moz-transition:    color 0.2s;
    -ms-transition:     color 0.2s;
    -o-transition:      color 0.2s;
    transition:         color 0.2s;
}

#contact_container{
    border-left: 2px solid white;
    text-align: left;
    font-size: 14px;
}

.btn-custom-check, .btn-check {
    background: #ececec;
    border: 1px solid #e0e0e0;
    width: 104px;
}

.btn-custom-check.active {
    background: #00897b;
    border: 1px solid #00897b;
    color: #ffffff;
}
.navbar-brand{
    padding: 0px 0px;
}
#navLogo {
    height: 65%;
    margin-top: 4%;
}

#partnerToggleBtn{
    width: 150px;
    display: inline-block;
}

#appliedJobsSection{
    text-align: left;
}
#whoAllPartnerBox{
    margin: 0px;
    padding: 2%;
    box-shadow:0px 0px 2px #b0bec5;
    background-color: #eeeeee;
}
#whoAllPartnerIconBox{
    border-right: 1px solid #ffffff;
    padding:1%;
}
#partnerHeaderText{
    display: inline-block;
    width: auto;
    text-align: left;
    border-left:1px solid;
    align-content: center;
    margin-top:18%;
}

/* job loading spinner */

#loadingSpinner {
    box-sizing: border-box;
    stroke: #344fb7;
    stroke-width: 3px;
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite;
    animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite;
}

#accept_reject_btn{
    margin-left: 4px;
    margin-right: 4px;
    margin-top: -4px;
}
#candidateCreateOptionModalContent{
    padding:1%;
    border-radius: 2px;
    text-align: center;
}
#jobRoleName{
    font-size: 14px;
    color: #003557;
    margin-top:6px;
}
@media screen and (max-width: 768px) {
    .navbar-nav>li>a {
        background-color: #00897b;
        color: #fff;
    }
    #sectionHeaderPartner{
        background-size: 300%;
        background: linear-gradient(rgba(24, 26, 45, 0.6), rgba(24, 26, 45, 0.6)) url(../img/back_design_partner_login.svg) repeat 0 -50px;
        font-weight: bold;
        color: #fff;
        padding: 12% 4% 2% 4%;
        text-align: center;
    }

    #whoAllPartnerBox{
        margin-bottom:4%;
        padding: 2%;
        box-shadow:0px 0px 2px #b0bec5;
        background-color: #eeeeee;
    }
    h3
    {
        font-size: 26px;
    }
    #whoAllPartnerIconBox{
        border-right: 0px;
        border-bottom: 1px solid #ffffff;
        padding:4%;
    }
    #partnerToggleBtn{
        width: 97%;
        display: block;
    }

    .toggleButtonContainer{
        text-align: center;
    }

    #hotJobs{
        margin-top: 24px;
        height: 66%;
        overflow: scroll;
    }

    #viewCandidateBtn{
        padding: 8px;
        width: 90%;
        margin: 8px;
    }
    #eduConfirm{
        margin-top: 24%;
    }
    .createCandidateLastName{
        margin-top: 8px;
    }
    #languageName{
        margin-top: 6px;
        font-size: 11px;
    }
    .leadBox {
        position:relative;
        width: 84%;
        margin-top: 20%;
        margin-right: 8%;
        margin-left: 8%;
    }
    #headerMsg{
        margin-top: 0;
    }
    #forBtn{
        width: 100%;
    }
    #contact_container{
        border-left: none;
        border-top: 1px solid white;
        margin-top: 10px;
        padding: 4% 1% 1% 1%;
        text-align: center;
    }
    .custom_container{
        margin: 0;
    }

    #partnerHeaderText{
        display: inline-block;
        border-left: 0;
        width: auto;
        text-align: center;
        border-right:0px;
        align-content: center;
        margin-top:0%;
    }

    #login_modal{
        margin-left: 0;
        margin-right: 0;
    }

    #partnerFirstName {
         width: 100%;
     }
    #partnerLastName {
        width: 100%;
        margin-top: 8px;
    }

    #partner_thanks{
        width: 50%;
    }

    .modal-content {
        margin-top: 16%;
        padding: 4% 0 4% 0;
        color: #000000;
    }

    #sectionHeader {
        background-size: 320%;
        text-align: center;
        padding: 16% 2% 2% 2%;
    }

    #sectionPartnerHowItWorks{
        color: #402005;
        padding: 2% 4% 2% 4%;
        text-align: center;
        margin-top: 4%;
    }

    #sectionPartnerEligibility{
        color: #402005;
        padding: 2% 4% 2% 4%;
        text-align: center;
        margin-top: 4%;
    }

    .hov{
        width: 40%;
    }
    #jobRoleName{
        font-size: 10px;
        color: #000000;
    }
    .educationBtn {
        width: 66px;
        padding: 8px 2px;
        font-size: 9px;
    }
    #jobRoleNameFooter{
        font-size: 12px;
        color: #ffffff;
    }
}
@media screen and (max-width: 1000px){
    #navLogo{
        height:46%;
        margin-top: 11%;
        content:url("/assets/common/img/logo-main.gif");
    }
}


