#applyToJobs{
    padding-top: 24px;
    padding-left: 14%;
    padding-bottom: 24px;
    margin-top: -90px;
    color: #ffffff;
}
#applyToJobsTitle{
    color: #000;
    margin-top: 60px;
}
#showJobsSectionOne{
    background: linear-gradient(
            rgba(24, 26, 45, 0.3),
            rgba(24, 26, 45, 0.3)
    ), url(../img/back_design.png) repeat;
    background-size: 100%;
    color: #ffffff;
    font-weight: bold;
    padding: 5% 0 0 0;
    text-align: center;
}
@media screen and (max-width: 768px){
    #applyToJobs{
        padding: 0;
        text-align: center;
        margin: -85px 0px 48px 0px;
        font-weight: bold;
    }
    #applyToJobsTitle{
        color: #000;
        margin-top: 120px;
    }
    #showJobsSectionOne {
        height: 20%;
    }
    #showJobsSectionOneBody{
        display: none;
    }
}
