#applyToJobs{
    padding-top: 24px;
    padding-left: 14%;
    padding-bottom: 24px;
    margin-top: -90px;
    color: #ffffff;
}
#applyToJobsTitle{
    color: #000;
    margin-top: 60px;
}
#sectionOne {
    background: linear-gradient(
            rgba(24, 26, 45, 0.3),
            rgba(24, 26, 45, 0.3)
    ), url(../img/back_design.png) repeat;
    background-size: 100%;
    font-weight: bold;
    color: #fff;
    padding: 6% 4% 0 4%;
    text-align: center;
}
.custom_container{
    margin-left: 12%;
    margin-right: 12%;
}

#showAllJobsMobileHeader{
    display: none;
}

@media screen and (max-width: 768px){
    #applyToJobs{
        padding: 0;
        text-align: center;
        margin: -85px 0px 48px 0px;
        font-weight: bold;
    }
    .custom_container{
        margin: 0;
    }

    #applyToJobsTitle{
        color: #000;
        margin-top: 120px;
    }
    #showJobsSectionOne {
        background: linear-gradient(
                rgba(24, 26, 45, 0.3),
                rgba(24, 26, 45, 0.3)
        ), url(../img/back_design.png) repeat;
        background-size: 100%;
        color: #ffffff;
        font-weight: bold;
        padding: 5% 0 0 0;
        text-align: center;
        height: auto;
    }
    #showAllJobsMobileHeader{
        display: block;
    }
    #showJobsSectionOneBody{
        display: none;
    }
}
