<!Doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="UTF-8">
    <title>Job Post Details - Recruiter | Trujobs.in</title>

    <link rel="stylesheet" href="/assets/support/css/bootstrap.min.css">
    <script type="text/javascript" src="/assets/support/js/jquery-1.12.0.min.js"></script>

      <!-- Include the plugin's CSS and JS: -->
    <link rel="stylesheet" href="/assets/support/css/bootstrap-multiselect.css" type="text/css"/>

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />
    <script type="text/javascript" src="/assets/support/js/jquery-1.11.1.min.js"></script>
  </head>

  <body style="font-size: 13px;">

    <div onclick="saveJob()">Post job</div>
      <!-- Javascript import -->
    <script type="text/javascript" src="/assets/common/js/validation.js"></script>
    <script type="text/javascript" src="/assets/support/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/recruiter/js/post_free_job.js"></script>
    <script type="text/javascript" src="/assets/support/js/bootstrap-multiselect.js"></script>
  </body>
</html>