<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Recruiter | TruJobs - Post jobs and hire the right candidates</title>

        <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">

            <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" type="text/css" href="/assets/common/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/assets/common/css/materialize.css">
        <link rel="stylesheet" type="text/css" href="/assets/recruiter/css/recruiter_candidate_search.css">
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="icon" type="image/png" href="/assets/common/img/icon.png">

        <script type="text/javascript" src="/assets/common/js/jquery-1.12.4.js"></script>

        <meta name="theme-color" content="#000000">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <style>
            #candidateInfoModal{
                width: 60%;
                height: 280px;
            }
        </style>
    </head>
    <body>
        <div id="candidateInfoModal" class="modal">
            <div class="modal-content" id="candidateInfoModal"></div>
        </div>
        <a class="waves-effect waves-light ascentGreen lighten-1 btn" onclick="getCandidateInfo()" style="margin-top: 12px;margin-bottom:36px"><font style="color: #ffffff"><b>Candidate Info</b></font></a>


    </body>

    <script type="text/javascript" src="/assets/common/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/common/js/materialize.js"></script>
    <script type="text/javascript" src="/assets/common/js/validation.js"></script>
    <script type="text/javascript" src="/assets/recruiter/js/get_candidate_Info_recruiter.js"></script>
    <script type="text/javascript" src="/assets/recruiter/js/candidate_card.js"></script>
</html>