<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Recruiter | TruJobs - Post jobs and hire the right candidates</title>

        <meta name="keywords" content="hire driver, hire fresher, hire candidate sites, job posting, hire sales candidate, hire beautician,
        hire, hire receptionist, hire office admin, hire office assistant,
        hire plumber, hire teacher, hire entry level candidate,
        hire delivery boys, hire call center executives, hire BPO, hire kpo, hire hire hire , hire data entry candidate, hire back office canididate,
        hire receptionist, hire beautician, hire experienced candidate, hire in Bangalore, hire cashier, hire entry level candidate, hire freshers,
        hire plumber, hire electrician, hire accountants, hire in bangalore">

            <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" type="text/css" href="/assets/common/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/assets/common/css/materialize.css">
        <link rel="stylesheet" type="text/css" href="/assets/recruiter/css/recruiter_home.css">

        <link rel="stylesheet" href="/assets/common/css/custom_token_input.css" type="text/css" />

        <script type="text/javascript" src="/assets/common/js/jquery-1.12.4.js"></script>

        <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
        <script type="text/javascript" src="/assets/common/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/assets/common/js/materialize.js"></script>

            <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="icon" type="image/png" href="/assets/common/img/icon.png">

        <script type="text/javascript" src="/assets/common/js/jquery.tokeninput.js"></script>
        <script type="text/javascript" src="/assets/common/js/validation.js"></script>

        <meta name="theme-color" content="#000000">

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div class="navbar-fixed">
            <nav>
                <div class="container">
                    <div class="nav-wrapper">
                        <a href="#!" class="brand-logo">
                            <img src="/assets/common/img/logo-main.gif" style="height: 42px;
                                margin-top: -2%">
                        </a>
@*                        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                        <ul class="right hide-on-med-and-down">
                            <li><a data-target="modalSignUp" class="waves-effect waves-light ascentGreen lighten-1 btn modal-trigger"><font style="color: #fff; font-weight: 600">SignUp</font></a></li>
                            <li><a data-target="modalLogIn" class="waves-effect waves-light transparent btn modal-trigger" style="border: 1px solid #ffffff"><font style="font-weight: 600; color: #ffffff">LogIn</font></a></li>
                        </ul>*@
                    </div>
@*                    <ul class="side-nav" id="mobile-demo">
                        <li><a href="#">SIGNUP</a></li>
                        <li><a href="#">LOGIN</a></li>
                    </ul>*@
                </div>
            </nav>
        </div>
            <!-- Modal SignUp Structure -->
        <div id="modalSignUp" class="modal">
            <div class="row">
                <div class="col l4 hide-on-small-only" id="modalLeftBox">
                    <div class="row">
                        Sample1
                    </div>
                    <div class="row">
                        Sample2
                    </div>
                </div>
                <form>
                    <div class="col l8" id="modalRightBox">
                        <div class="row" id="inputContainerModalSignup">
                            <div class="input-field col s12">
                                <input placeholder="Name" id="rec_name" type="text" class="validate">
                                <input placeholder="Mobile" id="rec_mobile" type="text" maxlength="10" class="validate">
                                <input placeholder="Email" id="rec_email" type="email" class="validate">
                                <input placeholder="Company" id="rec_company" type="text" class="validate">
                            </div>
                        </div>
                        <div class="row" id="inputContainerModalSignup">
                            <div class="input-field col s12">
                                <a onclick="signUpRecruiter()" class="waves-effect waves-light ascentGreen lighten-1 btn right"><font style="color: #fff">SignUp</font></a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
            <!-- Modal otp Structure -->
        <div id="modalOtp" class="modal">
            <div id="otpSection">
                <div class="row">
                    <div class="col l4 hide-on-small-only" id="modalLeftBox">
                        <div class="row">
                        Sample1
                        </div>
                        <div class="row">
                        Sample2
                        </div>
                    </div>
                    <form>
                        <div class="col l8" id="modalRightBox">
                            <div class="row" id="inputContainerModalSignup">
                                <div class="input-field col s12">
                                    <input placeholder="Enter OTP" id="rec_otp" type="number" class="validate">
                                </div>
                            </div>
                            <div class="row" id="inputContainerModalSignup">
                                <div class="input-field col s12">
                                    <a onclick="verifyOtp()" class="waves-effect waves-light ascentGreen lighten-1 btn right"><font style="color: #fff">Verify OTP</font></a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div id="passwordSection">
                <div class="row">
                    <div class="col l4 hide-on-small-only" id="modalLeftBox">
                        <div class="row">
                        Sample1
                        </div>
                        <div class="row">
                        Sample2
                        </div>
                    </div>
                    <form>
                        <div class="col l8" id="modalRightBox">
                            <div class="row" id="inputContainerModalSignup">
                                <div class="input-field col s12">
                                    <input placeholder="Enter Password" id="rec_password" type="password" class="validate">
                                </div>
                            </div>
                            <div class="row" id="inputContainerModalSignup">
                                <div class="input-field col s12">
                                    <a onclick="savePassword()" class="waves-effect waves-light ascentGreen lighten-1 btn right"><font style="color: #fff">Create Account</font></a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Modal LogIn Structure -->
        <div id="modalLogIn" class="modal">
            <div class="modal-content">
                <h4>Log In</h4>
            </div>
        </div>

        <div class="parallax-container custom-parallax-container">
            <div class="parallax">
                <img class="customParallaxContainer" src="/assets/recruiter/img/image2.jpg">
            </div>

            <div class="sectionOneBody" style="display:flex; justify-content:center; align-items:center;">
                <div>
                    <h4 style="color: #fff">Welcome to Trujobs Employer Zone</h4>
                    <h5 class="typist" style="color: #2ec866"><font color="#fff">Hire </font></h5>
                    <br>
                    <div style="color: #fff; font-size: 24px;  display: inline-block">We will schedule and manage your interviews.</div>
                    <div>
                        <img src="/assets/recruiter/img/user.svg" width="16px" style="display: inline-block; margin: -4px 2px 2px 2px;">
                        <h6 style="color: #fff; font-size: 16px;  display: inline-block"><font color="#2ec866"><b>25000+</b></font> candidates to recruit</h6>
                    </div>
                    <center class="hide-on-med-and-up" id="mobileEnquiryBtn">
                        <a class="waves-effect waves-light transparent btn modal-trigger" style="border:1px solid #2ec866; color:#2ec866" data-target="recEnquiry">Enquiry</a>
                    </center>

                </div>

            </div>

            <div class="footerLeadForm valign-wrapper hide-on-small-only">
                <div style="width: 100%; text-align: center" class="container">
                    <h5 style="color: #fff">Looking to hire?</h5>
                    <h6 style="color: #fff">Fill up the form and we will call you back</h6>

                    <form style="border: 1px solid rgba(177, 177, 177, 0.39); margin-top: 12px">
                        <div class="container">
                            <div class="row">
                                <div class="input-field col s12 l3">
                                    <input type="text" id="mobileNumber" style="color: #b7b5b0" maxlength="10" placeholder="Mobile Number">
                                </div>

                                <div class="input-field col s12 l3">
                                    <input type="text" id="jobRoleOption" placeholder="Job Role">
                                    <script type="text/javascript">
                                        $(document).ready(function () {
                                            $("#jobRoleOption").tokenInput(getJob(), {
                                                theme: "facebook",
                                                placeholder: "Job roles are you looking to hire?",
                                                minChars: 1,
                                                tokenLimit: 3,
                                                hintText: "Start Typing Jobs (eg: delivery boy, driver, etc..)",
                                                preventDuplicates: true
                                            });
                                        });
                                    </script>
                                </div>

                                <div class="input-field col s12 l3">
                                    <input type="text" id="locationOption" placeholder="Location">
                                    <script type="text/javascript">
                                        $(document).ready(function () {
                                            $("#locationOption").tokenInput(getLocality(), {
                                                theme: "facebook",
                                                placeholder: "Location(s) you want to hire?",
                                                minChars: 1,
                                                tokenLimit: 3,
                                                hintText: "Start Typing Area (eg: Whitefield, Agara, etc..)",
                                                preventDuplicates: true
                                            });
                                        });
                                    </script>
                                </div>

                                <div class="input-field col s12 l3">
                                    <select id="recruiterRequirement">
                                        <option value="" disabled selected>Specify Requirement</option>
                                        <option value="part time">Part time</option>
                                        <option value="full time">Full Time</option>
                                        <option value="contract">Contract</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <center>
                        <a class="waves-effect waves-light ascentGreen btn" style="margin-top: 12px" id="requestLeadBtn" onclick="requestLead()"><font style="color: #ffffff">Submit</font></a>
                    </center>

                </div>
            </div>

        <div class="container hide-on-med-and-up" style="text-align: center; background: transparent">
            <!-- Modal Trigger -->
                <!-- Modal Structure -->
            <div id="recEnquiry" class="modal bottom-sheet" style=" background: rgba(0, 0, 0, 0.76); z-index: 999">
                <form>
                    <div class="container">
                        <h5 style="color: #fff">Employee enquiry</h5>
                        <div class="row" style="margin-bottom: 2%">
                            <div class="input-field col s12 l3">
                                <input type="text" id="mobileNumberModal" style="color: #b7b5b0" maxlength="10" placeholder="Mobile Number">
                            </div>
                            <div class="input-field col s12 l3" style="margin-top: -5px">
                                <input type="text" id="jobRoleOptionModal" placeholder="Job Role">
                                <script type="text/javascript">
                                $(document).ready(function () {
                                    $("#jobRoleOptionModal").tokenInput(getJob(), {
                                        theme: "facebook",
                                        placeholder: "Job Role(s)",
                                        minChars: 1,
                                        tokenLimit: 3,
                                        zindex: 9999999,
                                        hintText: "Start Typing Jobs (eg: delivery boy, driver, etc..)",
                                        preventDuplicates: true
                                    });
                                });
                            </script>
                            </div>
                            <div class="input-field col s12 l3">
                                <input type="text" id="locationOptionModal" placeholder="Location">
                                <script type="text/javascript">
                                $(document).ready(function () {
                                    $("#locationOptionModal").tokenInput(getLocality(), {
                                        theme: "facebook",
                                        placeholder: "Locality(s)",
                                        minChars: 1,
                                        tokenLimit: 3,
                                        zindex: 9999999,
                                        hintText: "Start Typing Area (eg: Whitefield, Agara, etc..)",
                                        preventDuplicates: true
                                    });
                                });
                            </script>
                            </div>

                            <div class="input-field col s12 l3">
                                <select id="recruiterRequirementModal">
                                    <option value="" disabled selected>Requirement Type</option>
                                    <option value="part time">Part time</option>
                                    <option value="full time">Full Time</option>
                                    <option value="contract">Contract</option>
                                </select>
                            </div>
                        </div>
                        <a class="waves-effect waves-light ascentGreen lighten-1 btn right" id="requestLeadModal" onclick="requestModalLead()" style="border: 1px solid #ffffff;margin-bottom: 16px"><font style="color: #ffffff">Submit</font></a>
                    </div>
                </form>
                </div>
            </div>
        </div>

        <div class="container" id="companyHiringBox">
            <div class="row" id="companyHiringCompanyLogo">
                <div class="col s6 l2"><img src="/assets/recruiter/img/company/driveu.png" style="height: 50px; padding: 6px"></div>
                <div class="col s6 l2"><img src="/assets/recruiter/img/company/urban_clap.png" style="height: 50px; padding: 6px"></div>
                <div class="col s6 l2"><img src="/assets/recruiter/img/company/bb_logo.png" style="height: 50px; padding: 6px"></div>
                <div class="col s6 l2"><img src="/assets/recruiter/img/company/dunkin_donuts.png" style="height: 50px; padding: 6px"></div>
                <div class="col s6 l2"><img src="/assets/recruiter/img/company/porter_logo.png" style="height: 50px; padding: 6px"></div>
                <div class="col s6 l2"><img src="/assets/recruiter/img/company/swiggy.png" style="height: 50px; padding: 6px"></div>
            </div>
            <div class="row" id="companyHiringHeader">
                <font size="4" style="margin: 2%">Company Hiring Form Us</font>
            </div>
        </div>

        <div class="container" id="stats">
            <div class="row">
                <h5>Highlights</h5>
                <center><div class="materialDash"></div></center>
                <div class="col l6 s6" style="padding: 2%;">
                    <div class="row">
                        <img src="/assets/recruiter/img/candidate.svg" id="candidateStats" style="height: 70px;">
                    </div>
                    <div class="row" style="margin:2px">
                        <b><div style="font-size: 24px">25000+</div></b>
                    </div>
                    <div class="row" style="margin:1px;font-weight:600;">
                        <div style="font-size: 18px">Candidates</div>
                    </div>
                </div>
                <div class="col l6 s6" style="padding: 2%;">
                    <div class="row">
                        <img src="/assets/recruiter/img/suitcase.svg" id="jobRolesStats" style="height: 70px;">
                    </div>
                    <div class="row" style="margin:2px">
                        <b><div style="font-size: 24px">35+</div></b>
                    </div>
                    <div class="row" style="font-weight:600;">
                        <div style="font-size: 18px">Job roles</div>
                    </div>
                </div>
            </div>
        </div>
@*        <div class="container-fluid" id="testimonial">
            <div class="container">
            <h5>What Recruiter Says !</h5>
            <center><div class="materialDash"></div></center>
            <div class="row">
                <div class="col l4 s12">
                    <div class="row">
                        <div class="col s12 m12">
                            <div class="card" style="padding-bottom:4%">
                                <div class="card-image" style="height:50%; width:100%">
                                    <img src="/assets/recruiter/img/manger2.jpg">
                                </div>
                                <div class="card-content">
                                    <p>I am a very simple card. I am good at containing small bits of information.
                                        I am convenient because I require little markup to use effectively.</p>
                                </div>
                                <span style="font-size:18px;font-weight:600">Mr. Bond</span>
                                <div class="row">
                                    <span class="card-title" style="font-size:12px;margin-bottom: 2%">CEO</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col l4 s12">
                    <div class="row">
                        <div class="col s12 m12">
                            <div class="card" style="padding-bottom:4%">
                                <div class="card-image" style="height:50%; width:100%">
                                    <img src="/assets/recruiter/img/manger2.jpg">
                                </div>
                                <div class="card-content">
                                    <p>I am a very simple card. I am good at containing small bits of information.
                                        I am convenient because I require little markup to use effectively.</p>
                                </div>
                                <span style="font-size:18px;font-weight:600">Mr. Bond</span>
                                <div class="row">
                                    <span class="card-title" style="font-size:12px;margin-bottom: 2%">CEO</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col l4 s12">
                    <div class="row">
                        <div class="col s12 m12">
                            <div class="card" style="padding-bottom:4%">
                                <div class="card-image" style="height:50%; width:100%">
                                    <img src="/assets/recruiter/img/manger2.jpg">
                                </div>
                                <div class="card-content">
                                    <p>I am a very simple card. I am good at containing small bits of information.
                                        I am convenient because I require little markup to use effectively.</p>
                                </div>
                                <span style="font-size:18px;font-weight:600">Mr. Bond</span>
                                <div class="row">
                                    <span class="card-title" style="font-size:12px;margin-bottom: 2%">CEO</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>*@
            <!--Footer start-->
        <footer class="page-footer" style="background-color: #424242;">
            <div class="container">
                <div class="row" style="margin: 0">
                    <div class="col l6 s12">
                        <h5 class="white-text">Hire in Bangalore</h5>
                        <p class="grey-text text-lighten-4">Connect With Us On<img src="/assets/recruiter/img/fbmain.svg" id="fbLogo" style="margin-left:2%;width:6%"></p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Get in touch</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="#!">Write us at: info@@trujobs.in</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Have queries? Talk to us at 8880007799</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row" style="margin:0">
                    <img src="/assets/recruiter/img/skyline_small.svg" width="100%">
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
            © 2016 Trujobs.in | Bengaluru, India. All Right Reserved. Privacy Policy
                </div>
            </div>
        </footer>
    </body>
    <script type="text/javascript" src="/assets/recruiter/js/typist.js"></script>
    <script type="text/javascript" src="/assets/recruiter/js/recruiter_signup.js"></script>
    <script type="text/javascript" src="/assets/recruiter/js/recruiter_page.js"></script>
</html>