<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Recruiter Home | TruJobs - Post jobs and hire the right candidates</title>

    <meta name="keywords" content="hire driver, hire fresher, hire candidate sites, job posting, hire sales candidate, hire beautician,
        hire, hire receptionist, hire office admin, hire office assistant,
        hire plumber, hire teacher, hire entry level candidate,
        hire delivery boys, hire call center executives, hire BPO, hire kpo, hire hire hire , hire data entry candidate, hire back office canididate,
        hire receptionist, hire beautician, hire experienced candidate, hire in Bangalore, hire cashier, hire entry level candidate, hire freshers,
        hire plumber, hire electrician, hire accountants, hire in bangalore">

    <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">

      <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/common/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/common/css/materialize.css">
    <link rel="stylesheet" type="text/css" href="/assets/recruiter/css/recruiter_home.css">
    <link rel="stylesheet" type="text/css" href="/assets/recruiter/css/recruiter_myjobs.css">

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/recruiter/css/jquery.tokenize.css" />

    <link rel="icon" type="image/png" href="/assets/common/img/icon.png">

    <script type="text/javascript" src="/assets/common/js/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="/assets/recruiter/js/jquery.tokenize.js"></script>


    <meta name="theme-color" content="#000000">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <div class="recruiter_navbar"></div>
    <script>
            $('.recruiter_navbar').load('/recruiterNavbar');
    </script>

    <div class="back-banner-recruiter" style="height: 90px"></div>
    <h5 style="margin: 8px 8px 8px 16px">Your Posted Jobs</h5>

    <div style="padding-top: 8%; padding-bottom: 8%" id="loadingIcon">
      <center>
        <h6>Fetching your jobs</h6>
        <div class="spinner">
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
        </div>
      </center>
    </div>

    <div id="somethingWentWrong" style="display:none; padding: 40px 6% 40px 6%">
      <center>
        <img src="/assets/recruiter/img/warning.svg" width="116px">
        <h5>Something went wrong!</h5>
        <h6>Looks like something went wrong in between. Try to refresh the page or try loading after sometime!</h6>
      </center>
    </div>

    <div id="noJobs" style="padding: 120px 6% 120px 6%; display: none">
      <center>
        <img src="/assets/recruiter/img/empty_box.svg" width="116px">
        <h5>No Jobs Found!</h5>
        <h6>Looks like you have not posted any job yet. <a href="/recruiter/jobPost/0">Post now</a> and contact thousands of verified candidates!</h6>
      </center>
    </div>
      <div class="container-fluid" id="jobTable" style="display: none">
        <div class="card" id="myJobPost">
            <div class="row hide-on-small-only" id='headerForData'>
              <div class="col s1 l1" id="colHeadDataTable">
                <font>Date Posted</font>
              </div>
              <div class="col s2 l2" id="colHeadDataTable">
                <font>Job Title</font>
              </div>
              <div class="col s2 l2" id="colHeadDataTable">
                <font>Location(s)</font>
              </div>
              <div class="col s1 l2" id="colHeadDataTable">
                <font>Salary</font>
              </div>
              <div class="col s1 l2" id="colHeadDataTable">
                <p class="truncate" style="margin:0;"><font>Applications</font></p>
                  <span style="font-size: 12px">(click to view)</span>
              </div>
              <div class="col s1 l2" id="colHeadDataTable">
                <font>Status</font>
              </div>
              <div class="col s1 l1" id="">
                <font>View/Edit</font>
              </div>
            </div>
            <div class="myJobsRecruiter">
            </div>
        </div>
      </div>

      <!-- pause interview modal -->
    <div id="pauseInterviewModal" class="modal" style="background: transparent; box-shadow: none">
      <div style="float: right; padding: 12px; cursor: pointer"><img src="/assets/recruiter/img/cancel_white.png" onclick="closePauseModal()"></div>
      <div style="background: rgba(0, 0, 0, 0.75); padding: 4%">
        <center><font style="color: #fff"><h5>Pause Job Applications!</h5></font></center>
      </div>
      <div style="background: #fff; padding: 12px">
        <center>
          <h6>You are going to pause the job applications for the job: </h6>
          <h5 id="jobPostName"></h5>

          <h6 style="margin-top: 36px">Please select the date on which you want the job to be reactivated: </h6>
          <div>
            <input type="date" id="resume_date" class="datepicker" style="width: 24%">
          </div>

          <div id="confirmPause" class="waves-effect waves-light red lighten-1 btn" data-toggle="collapse" onclick="confirmPauseAction()">
            <font style="color: #fff;
            font-weight: 400"><b>Pause Interview!</b></font>
          </div>
        </center>
      </div>
    </div>

    <!--Footer start-->
    <footer class="page-footer" style="background-color: #424242;">
      <div class="container">
        <div class="row" style="margin: 0">
          <div class="col l6 s6">
            <h5 class="white-text">Hire in Bangalore</h5>
            <p class="grey-text text-lighten-4">Connect With Us On<img src="/assets/recruiter/img/fbmain.svg" id="fbLogo" style="margin-left: 2%;
              width: 6%"></p>
          </div>
          <div class="col l4 offset-l2 s6">
            <h5 class="white-text">Get in touch</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#">Write us at: info@@trujobs.in</a></li>
              <li><a class="grey-text text-lighten-3" href="#">Have queries? Talk to us at 8880007799</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row" style="margin: 0">
          <img src="/assets/recruiter/img/skyline_small.svg" width="100%">
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
            © 2016 Trujobs.in | Bengaluru, India. All Right Reserved. Privacy Policy
        </div>
      </div>
    </footer>
  </body>

  <script type="text/javascript" src="/assets/common/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/assets/common/js/materialize.js"></script>
  <script type="text/javascript" src="/assets/common/js/validation.js"></script>
  <script type="text/javascript" src="/assets/common/js/script_constants.js"></script>
  <script type="text/javascript" src="/assets/common/js/jobpost_workflow_constants.js"></script>
  <script type="text/javascript" src="/assets/recruiter/js/recruiter_my_jobs.js"></script>
</html>