<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Job Applications | TruJobs - Post jobs and hire the right candidates</title>

    <meta name="keywords" content="hire driver, hire fresher, hire candidate sites, job posting, hire sales candidate, hire beautician,
        hire, hire receptionist, hire office admin, hire office assistant,
        hire plumber, hire teacher, hire entry level candidate,
        hire delivery boys, hire call center executives, hire BPO, hire kpo, hire hire hire , hire data entry candidate, hire back office canididate,
        hire receptionist, hire beautician, hire experienced candidate, hire in Bangalore, hire cashier, hire entry level candidate, hire freshers,
        hire plumber, hire electrician, hire accountants, hire in bangalore">

    <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">

      <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/common/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/common/css/materialize.css">
    <link rel="stylesheet" type="text/css" href="/assets/recruiter/css/recruiter_home.css">
    <link rel="stylesheet" type="text/css" href="/assets/recruiter/css/recruiter_candidate_search.css">
    <link rel="stylesheet" type="text/css" href="/assets/recruiter/css/recruiter_myjobs.css">

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="icon" type="image/png" href="/assets/common/img/icon.png">

    <script type="text/javascript" src="/assets/common/js/jquery-1.12.4.js"></script>

    <meta name="theme-color" content="#000000">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
      <div class="recruiter_navbar"></div>
      <script>
            $('.recruiter_navbar').load('/recruiterNavbar');
    </script>

    <div class="back-banner-recruiter-applied-candidate" style="height: 90px"></div>

    <div class="container" style="color:#ffffff; margin-top: 12px; margin-bottom: 12px">
      <h5 style="color: black; display: inline-block" id="jobPostTitle"></h5>
        <a onclick="openTrackInterview()" class="waves-effect waves-light btn" style="margin-top: 8px; float: right">Track Applications</a>
    </div>

    <div class="container">
        <div class="row">
            <div class="col s12">
                <ul class="tabs tabs-fixed-width">
                    <li id="tab1Parent" class="tab col s3 activeParent" onclick="tabChange1()"><a href="#pendingConfirmation"><font id="tab1" class="activeTab">Pending confirmation</font></a></li>
                    <li id="tab2Parent" class="tab col s3" onclick="tabChange2()"><a href="#confirmed"><font id="tab2">Confirmed/Rescheduled</font></a></li>
                    <li id="tab3Parent" class="tab col s3" onclick="tabChange3()"><a href="#completed"><font id="tab3">Completed Interviews</font></a></li>
                    <li id="tab4Parent" class="tab col s3" onclick="tabChange4()"><a href="#rejected"><font id="tab4">Rejected</font></a></li>
                </ul>
            </div>
            <div id="pendingConfirmation" class="col s12">
                <div id="noPendingApplication" style="padding: 90px 6% 90px 6%; display: none">
                    <center>
                        <img src="/assets/recruiter/img/empty_box.svg" width="116px">
                        <h5>No Confirmed applications yet!</h5>
                        <h6>Good job! You have zero pending applications!</h6>
                    </center>
                </div>
                <div id="pendingCandidateContainer"></div>
            </div>
            <div id="confirmed" class="col s12">
                <div id="noConfirmedApplication" style="padding: 90px 6% 90px 6%; display: none">
                    <center>
                        <img src="/assets/recruiter/img/empty_box.svg" width="116px">
                        <h5>No Confirmed/awaiting reschedule applications yet!</h5>
                        <h6>You have not confirmed any applications!</h6>
                    </center>
                </div>
                <div id="confirmedCandidateContainer"></div>
            </div>
            <div id="completed" class="col s12">
                <div id="noCompletedApplication" style="padding: 90px 6% 90px 6%; display: none">
                    <center>
                        <img src="/assets/recruiter/img/empty_box.svg" width="116px">
                        <h5>No completed applications yet!</h5>
                        <h6>You have not completed any of the interview!</h6>
                    </center>
                </div>
                <div id="completedCandidateContainer"></div>
            </div>
            <div id="rejected" class="col s12">
                <div id="noRejectedApplication" style="padding: 90px 6% 90px 6%; display: none">
                    <center>
                        <img src="/assets/recruiter/img/empty_box.svg" width="116px">
                        <h5>No Rejected applications yet!</h5>
                        <h6>Great! You have not rejected any of the applications yet!</h6>
                    </center>
                </div>
                <div id="rejectedCandidateContainer"></div>
            </div>
        </div>
    </div>

      <div class="row hide-on-med-and-up" id="creditViewMobile">
          <div class="col s12 ">
              <div class="row" style="margin: 0;">
                  <span style="font-size: 18px; font-weight: bold">Credits Balance</span>
              </div>
              <div class="row" style="margin: 0;">
                  <div class="col s4" style="padding: 0;">
                      <img src="/assets/recruiter/img/coin.svg" width="12px" style="margin-top: -4px">
                      <span>Contact: <b><div style="display: inline-block" id="remainingContactCredits">0</div></b></span>
                  </div>
                  <div class="col s4" style="padding: 0;">
                      <img src="/assets/recruiter/img/coin.svg" width="12px" style="margin-top: -4px">
                      <span>Interview: <b><div style="display: inline-block" id="remainingInterviewCredits">0</div></b></span>
                  </div>
                  <div class="col s4 right-align" id="creditModalBtn">
                      <a class="waves-effect waves-light orange lighten-1 btn right" data-toggle="collapse" onclick="openCreditModal()"><font size="1" style="color: #fff;font-weight: 400"><b>Buy Credits</b></font></a>
                  </div>
              </div>
          </div>
      </div>

      <div id="creditView" class="col s12 hide-on-small-only">
          <span style="font-size: 18px; font-weight: bold">Credits Balance</span>
          <div style="margin: 4px">
              <img src="/assets/recruiter/img/coin.svg" width="24px">
              <span>Contact Unlock: <b><div style="display: inline-block" id="remainingContactCreditsMobile">0</div></b></span>
          </div>
          <div style="margin: 4px">
              <img src="/assets/recruiter/img/coin.svg" width="24px">
              <span>Interview Unlock: <b><div style="display: inline-block" id="remainingInterviewCreditsMobile">0</div></b></span>
          </div>
          <a class="waves-effect waves-light orange lighten-1 btn right" data-toggle="collapse" onclick="openCreditModal()"><font style="color: #fff;
              font-weight: 400"><b>Buy Credits</b></font></a>
      </div>

          <!-- Modal buy credit Structure -->
      <div id="modalBuyCredits" class="modal" style="background: transparent; box-shadow: none">
          <div style="float: right; padding: 12px; cursor: pointer"><img src="/assets/recruiter/img/cancel_white.png" onclick="closeCreditModal()"></div>
          <div style="background: rgba(0, 0, 0, 0.75); padding: 4%">
              <center><font style="color: #fff"><h5>Top up now and get access to more candidates!</h5></font></center>
          </div>
          <div id="modalBuyCreditInnerBox">
              <center>
                  <div class="row">
                      <div class="col s6 l6">
                          <div class="packCol">
                              <img src="/assets/recruiter/img/coin.svg">
                              <div>Buy contact unlocks</div>
                              <br>
                              <input style="width: 100%" placeholder="No. of Contact credits" id="contactCreditAmount" type="number" class="validate">
                          </div>
                      </div>
                      <div class="col s6 l6">
                          <div class="packCol">
                              <img src="/assets/recruiter/img/coin.svg">
                              <div>Buy interview unlocks</div>
                              <br>
                              <input style="width: 100%" placeholder="No. of Interview credits" id="interviewCreditAmount" type="number" class="validate">
                          </div>
                      </div>
                  </div>
                  <div id="requestCredits" class="waves-effect waves-light ascentGreen lighten-1 btn" data-toggle="collapse" onclick="submitCredits()"><font style="color: #fff;
                      font-weight: 400"><b>Buy Credits Now!</b></font></div>
                  <div style="margin: 8px; color: #0f9d58; display: none" id="successMsg">Thanks! We have received your request to buy more credits. Our business team will contact you within 24hrs</div>
              </center>
          </div>
      </div>

      <!-- Modal reschedule interview date and slot -->
      <div id="modalRescheduleSlot" class="modal" style="background: transparent; box-shadow: none">
          <div style="float: right; padding: 12px; cursor: pointer"><img src="/assets/recruiter/img/cancel_white.png" onclick="closeRescheduleModal()"></div>
          <div style="background: rgba(0, 0, 0, 0.75); padding: 4%">
              <center><font style="color: #fff"><h5>Reschedule Interview Date and Time Slot</h5></font></center>
          </div>
          <div id="openCreditModal" style="background: #fff; padding: 12px">
              <center>
                  <div class="row">
                      <div class="col s12 l12">
                          <br>
                          <img src="/assets/recruiter/img/icons/reschedule-color.svg" width="60px">
                          <div class="row" style="margin-top: 4px" >
                              <div class="col-sm-6">
                                  <h6 style="text-align: right; margin-top: 28px">Please select a new interview date and time:</h6>
                              </div>
                              <div class="input-field col s12 l6">
                                  <select id="rescheduleDateAndSlot" class="selectDropdown"></select>
                                  <style>
                                      select{
                                          display: inline-block;
                                      }
                                  </style>
                              </div>
                          </div>
                      </div>

                  </div>
                  <div id="rescheduleInterviewDateBtn" class="waves-effect waves-light ascentGreen lighten-1 btn" data-toggle="collapse" onclick="rescheduleInterviewStatus()"><font style="color: #fff;
                      font-weight: 400"><b>Reschedule Date and Time!</b></font>
                  </div>
              </center>
          </div>
      </div>

          <!-- Modal reject interview date and slot -->
      <div id="modalRejectReason" class="modal" style="background: transparent; box-shadow: none">
          <div style="float: right; padding: 12px; cursor: pointer"><img src="/assets/recruiter/img/cancel_white.png" onclick="closeRejectModal()"></div>
          <div style="background: rgba(0, 0, 0, 0.75); padding: 4%">
              <center><font style="color: #fff"><h5>Job Application Rejection</h5></font></center>
          </div>
          <div style="background: #fff; padding: 12px">
              <br>
              <center>
                  <img src="/assets/recruiter/img/icons/reject_application.svg" width="60px">
              </center>

              <center>
                  <select id="reject_reason" style="width: 60%; margin: 8px"></select>
              </center>

              <center>
                  <div id="rejectInterviewBtn" class="waves-effect waves-light red lighten-1 btn" data-toggle="collapse" onclick="confirmRejectInterview()"><font style="color: #fff;
                      font-weight: 400"><b>Reject Job Application!</b></font>
                  </div>
              </center>

          </div>
      </div>

      <!--Footer start-->
    <footer class="page-footer" style="background-color: #424242;">
      <div class="container">
        <div class="row" style="margin: 0">
          <div class="col l6 s12">
            <h5 class="white-text">Hire in Bangalore</h5>
            <p class="grey-text text-lighten-4">Connect With Us On<img src="/assets/recruiter/img/fbmain.svg" id="fbLogo" style="margin-left: 2%;
              width: 6%"></p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Get in touch</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Write us at: info@@trujobs.in</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Have queries? Talk to us at 8880007799</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row" style="margin: 0">
          <img src="/assets/recruiter/img/skyline_small.svg" width="100%">
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
            © 2016 Trujobs.in | Bengaluru, India. All Right Reserved. Privacy Policy
        </div>
      </div>
    </footer>
  </body>

  <script type="text/javascript" src="/assets/common/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/assets/common/js/materialize.js"></script>
  <script type="text/javascript" src="/assets/common/js/validation.js"></script>
  <script type="text/javascript" src="/assets/recruiter/js/recruiter_applied_candidates.js"></script>
</html>