<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Track Interview | TruJobs - Post jobs and hire the right candidates</title>

        <meta name="keywords" content="hire driver, hire fresher, hire candidate sites, job posting, hire sales candidate, hire beautician,
        hire, hire receptionist, hire office admin, hire office assistant,
        hire plumber, hire teacher, hire entry level candidate,
        hire delivery boys, hire call center executives, hire BPO, hire kpo, hire hire hire , hire data entry candidate, hire back office canididate,
        hire receptionist, hire beautician, hire experienced candidate, hire in Bangalore, hire cashier, hire entry level candidate, hire freshers,
        hire plumber, hire electrician, hire accountants, hire in bangalore">

        <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">

            <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" type="text/css" href="/assets/common/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/assets/common/css/materialize.css">
        <link rel="stylesheet" type="text/css" href="/assets/recruiter/css/recruiter_home.css">
        <link rel="stylesheet" type="text/css" href="/assets/recruiter/css/recruiter_candidate_search.css">
        <link rel="stylesheet" type="text/css" href="/assets/recruiter/css/recruiter_myjobs.css">

        <link rel="stylesheet" type="text/css" href="/assets/recruiter/css/jquery.tokenize.css" />

        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link rel="icon" type="image/png" href="/assets/common/img/icon.png">

        <script type="text/javascript" src="/assets/common/js/jquery-1.12.4.js"></script>
        <script type="text/javascript" src="/assets/recruiter/js/jquery.tokenize.js"></script>

        <meta name="theme-color" content="#000000">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div class="recruiter_navbar"></div>
        <script>
            $('.recruiter_navbar').load('/recruiterNavbar');
    </script>

        <div class="back-banner-recruiter-applied-candidate" style="height: 96px"></div>

        <div class="container" style="color:#ffffff;">
            <h5 style="color: black" id="page_heading">Confirmed Interview</h5>
        </div>

        <div class="container" style="color: #4d4d4d;">
            <div class="card" style="border-radius: 6px">
                <div class="card-content" style="border-left: 3px solid #ff9634">
                    <h6 style="margin: 0 0 12px 0; color: #0484a3; font-weight: bold" id="job_title"></h6>
                    <hr style="padding: 0; margin: 0; ">
                    <div class="row" style="margin-bottom: 2px">
                        <div class="input-field col s12 m6 l6">
                            <img src="/assets/recruiter/img/icons/locality.svg" style="margin-top: -4px" width="16px">
                            <span id="job_localities">Not Specified</span>
                        </div>
                        <div class="input-field col s12 m6 l6">
                            <img src="/assets/recruiter/img/icons/job_role.svg" style="margin-top: -4px" width="16px">
                            <span id="job_role">Not Specified</span>
                        </div>
                    </div>

                    <div class="row" style="margin-bottom: 2px">
                        <div class="input-field col s12 m6 l6">
                            <img src="/assets/recruiter/img/icons/education.svg" style="margin-top: -4px" width="16px">
                            <span id="job_education">Not Specified</span>
                        </div>
                        <div class="input-field col s12 m6 l6">
                            <img src="/assets/recruiter/img/icons/exp.svg" style="margin-top: -4px" width="16px">
                            <span id="job_exp">Not Specified</span>
                        </div>
                    </div>

                    <div class="row" style="margin-bottom: 2px">
                        <div class="input-field col s12 m6 l6">
                            <img src="/assets/recruiter/img/icons/salary.svg" style="margin-top: -4px" width="16px">
                            <span id="job_salary">Not Specified</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="input-field col s12 m3 l3">
                    <i class="material-icons prefix">info_outline</i>
                    <select id="select_date" multiple="multiple" class="tokenCustomInput tokenize-sample"></select>
                    <script type="text/javascript">
                        $('#select_date').tokenize({
                            displayDropdownOnFocus: true,
                            placeholder: "Interview date",
                            maxElements: 1,
                            newElements: true,
                            onAddToken: function (value, text) {
                                validateSelectDate(value, text);
                            }
                        });
                    </script>

                    <style>
                        div.Tokenize ul.TokensContainer {
                            margin-left: 44px;
                            width: 85%;
                            padding-bottom: 6px;
                        }
                    </style>

                </div>
            </div>

            <center>
                <div id="loadingIcon" style="display: none; padding-top: 4%; padding-bottom: 4%">
                    <center>
                        <h6>Searching Applications</h6>
                        <svg viewBox="0 0 32 32" width="24" height="24">
                            <circle id="loadingSpinner" cx="16" cy="16" r="14" fill="none"></circle>
                        </svg>
                    </center>
                </div>
            </center>

            <div id="candidateContainer"></div>
        </div>
        <div id="noApplications" style="padding: 20px 6% 60px 6%; display: none">
            <center>
                <img src="/assets/recruiter/img/empty_box.svg" width="116px">
                <h5>No Applications Found!</h5>
                <h6>Looks like no interview is scheduled for the date provided. Change your date to get applications or <span style="color: #166ca4; cursor: pointer" onclick="openMyJobApplication()"><b>confirm interview now</b></span>!</h6>
            </center>
        </div>


        <div class="row hide-on-med-and-up" id="creditViewMobile" style="display: none">
            <div class="col s12 ">
                <div class="row" style="margin: 0;">
                    <span style="font-size: 18px; font-weight: bold">Credits Balance</span>
                </div>
                <div class="row" style="margin: 0;">
                    <div class="col s4" style="padding: 0;">
                        <img src="/assets/recruiter/img/coin.svg" width="12px" style="margin-top: -4px">
                        <span>Contact: <b><div style="display: inline-block" id="remainingContactCredits">0</div></b></span>
                    </div>
                    <div class="col s4" style="padding: 0;">
                        <img src="/assets/recruiter/img/coin.svg" width="12px" style="margin-top: -4px">
                        <span>Interview: <b><div style="display: inline-block" id="remainingInterviewCredits">0</div></b></span>
                    </div>
                    <div class="col s4 right-align" id="creditModalBtn">
                        <a class="waves-effect waves-light orange lighten-1 btn right" data-toggle="collapse" onclick="openCreditModal()"><font size="1" style="color: #fff;font-weight: 400"><b>Buy Credits</b></font></a>
                    </div>
                </div>
            </div>
        </div>

        <div id="creditView" class="col s12 hide-on-small-only" style="display: none">
            <span style="font-size: 18px; font-weight: bold">Credits Balance</span>
            <div style="margin: 4px">
                <img src="/assets/recruiter/img/coin.svg" width="24px">
                <span>Contact Unlock: <b><div style="display: inline-block" id="remainingContactCreditsMobile">0</div></b></span>
            </div>
            <div style="margin: 4px">
                <img src="/assets/recruiter/img/coin.svg" width="24px">
                <span>Interview Unlock: <b><div style="display: inline-block" id="remainingInterviewCreditsMobile">0</div></b></span>
            </div>
            <a class="waves-effect waves-light orange lighten-1 btn right" data-toggle="collapse" onclick="openCreditModal()"><font style="color: #fff;
                font-weight: 400"><b>Buy Credits</b></font></a>
        </div>

            <!-- Modal buy credit Structure -->
        <div id="modalBuyCredits" class="modal" style="background: transparent; box-shadow: none">
            <div style="float: right; padding: 12px; cursor: pointer"><img src="/assets/recruiter/img/cancel_white.png" onclick="closeCreditModal()"></div>
            <div style="background: rgba(0, 0, 0, 0.75); padding: 4%">
                <center><font style="color: #fff"><h5>Top up now and get access to more candidates!</h5></font></center>
            </div>
            <div id="modalBuyCreditInnerBox">
                <center>
                    <div class="row">
                        <div class="col s6 l6">
                            <div class="packCol">
                                <img src="/assets/recruiter/img/coin.svg">
                                <div>Buy contact unlocks</div>
                                <br>
                                <input style="width: 100%" placeholder="No. of Contact credits" id="contactCreditAmount" type="number" class="validate">
                            </div>
                        </div>
                        <div class="col s6 l6">
                            <div class="packCol">
                                <img src="/assets/recruiter/img/coin.svg">
                                <div>Buy interview unlocks</div>
                                <br>
                                <input style="width: 100%" placeholder="No. of Interview credits" id="interviewCreditAmount" type="number" class="validate">
                            </div>
                        </div>
                    </div>
                    <div id="requestCredits" class="waves-effect waves-light ascentGreen lighten-1 btn" data-toggle="collapse" onclick="submitCredits()"><font style="color: #fff;
                        font-weight: 400"><b>Buy Credits Now!</b></font></div>
                    <div style="margin: 8px; color: #0f9d58; display: none" id="successMsg">Thanks! We have received your request to buy more credits. Our business team will contact you within 24hrs</div>
                </center>
            </div>
        </div>

            <!-- feedback credit Structure -->
        <div id="addFeedback" class="modal" style="background: transparent; box-shadow: none">
            <div style="float: right; padding: 12px; cursor: pointer"><img src="/assets/recruiter/img/cancel_white.png" onclick="closeFeedbackModal()"></div>
            <div style="background: rgba(0, 0, 0, 0.75); padding: 4%">
                <center><font style="color: #fff"><h5>Interview Feedback!</h5></font></center>
            </div>
            <div style="background: #fff; padding: 12px">
                <center>
                    <div class="row">
                        <div class="col s12 l12">
                            <br>
                            <img src="/assets/recruiter/img/feedback.svg" width="70px">
                            <div class="row" style="margin-top: 12px; margin-bottom: 0" >
                                <div class="col-sm-6">
                                    <h6 style="text-align: right; margin-top: 28px;">Please select a feedback result:</h6>
                                </div>
                                <div class="input-field col s12 l6">
                                    <select id="feedbackOption" class="selectDropdown">
                                        <option value="0">Select a feedback</option>
                                        <option value="1">Interview Complete - Selected</option>
                                        <option value="2">Interview Complete - Rejected</option>
                                        <option value="3">Candidate no show</option>
                                        <option value="4">Candidate not qualified</option>
                                    </select>
                                    <style>
                                    select{
                                        display: inline-block;
                                    }
                                    </style>
                                </div>
                            </div>

                            <div class="row" id="otherReason" style="margin-top: 12px; margin-bottom: 0; display: none">
                                <div class="col-sm-6">
                                    <h6 style="text-align: right; margin-top: 28px">Please select a reason:</h6>
                                </div>
                                <div class="input-field col s12 l6">
                                    <select id="reasonVal" class="selectDropdown"></select>
                                    <style>
                                    select{
                                        display: inline-block;
                                    }
                                    </style>
                                </div>
                            </div>

                        </div>
                    </div>
                </center>
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">mode_edit</i>
                                <textarea id="feedbackNote" class="materialize-textarea"></textarea>
                                <label for="feedbackNote">Interview Comments</label>
                            </div>
                        </div>
                    </form>
                </div>

                <center>
                    <div id="rescheduleInterviewDateBtn" class="waves-effect waves-light ascentGreen lighten-1 btn" data-toggle="collapse" onclick="confirmAddFeedback()"><font style="color: #fff;
                        font-weight: 400"><b>Submit Feedback!</b></font>
                    </div>
                </center>
            </div>
        </div>

        <!--Footer start-->
        <footer class="page-footer" style="background-color: #424242;">
            <div class="container">
                <div class="row" style="margin: 0">
                    <div class="col l6 s12">
                        <h5 class="white-text">Hire in Bangalore</h5>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Get in touch</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="#!">Write us at: info@@trujobs.in</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Have queries? Talk to us at 8880007799</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row" style="margin: 0">
                    <img src="/assets/recruiter/img/skyline_small.svg" width="100%">
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
            © 2016 Trujobs.in | Bengaluru, India. All Right Reserved. Privacy Policy
                </div>
            </div>
        </footer>
    </body>

    <script type="text/javascript" src="/assets/common/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/common/js/materialize.js"></script>
    <script type="text/javascript" src="/assets/common/js/validation.js"></script>
    <script type="text/javascript" src="/assets/common/js/jobpost_workflow_constants.js"></script>
    <script type="text/javascript" src="/assets/recruiter/js/candidate_card.js"></script>
    <script type="text/javascript" src="/assets/recruiter/js/recruiter_track_application.js"></script>
</html>