<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Recruiter | TruJobs - Post jobs and hire the right candidates</title>

        <meta name="keywords" content="hire driver, hire fresher, hire candidate sites, job posting, hire sales candidate, hire beautician,
        hire, hire receptionist, hire office admin, hire office assistant,
        hire plumber, hire teacher, hire entry level candidate,
        hire delivery boys, hire call center executives, hire BPO, hire kpo, hire hire hire , hire data entry candidate, hire back office canididate,
        hire receptionist, hire beautician, hire experienced candidate, hire in Bangalore, hire cashier, hire entry level candidate, hire freshers,
        hire plumber, hire electrician, hire accountants, hire in bangalore">

        <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">

        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" type="text/css" href="/assets/common/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/assets/common/css/materialize.css">
        <link rel="stylesheet" type="text/css" href="/assets/recruiter/css/recruiter_home.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/assets/recruiter/css/jquery.tokenize.css" />

        <link rel="icon" type="image/png" href="/assets/common/img/icon.png">

        <script type="text/javascript" src="/assets/common/js/jquery-1.12.4.js"></script>
        <script type="text/javascript" src="/assets/recruiter/js/jquery.tokenize.js"></script>

        <meta name="theme-color" content="#000000">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div class="navbar-fixed">
            <nav>
                <div class="container" style="width: 85%;">
                    <div class="nav-wrapper">
                        <a href="#!" class="brand-logo">
                            <img id="navLogo" src="/assets/recruiter/img/trujobs-recruiter.png" style="height: 40px;
                                margin-top: -2%">
                        </a>
                        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                        <ul class="right hide-on-med-and-down">
                            <li><a onclick="openSignUpModal()" class="waves-effect waves-light ascentGreen lighten-1 btn"><font style="color: #fff; font-weight: 600">SignUp</font></a></li>
                            <li><a onclick="openLoginModal()" class="waves-effect waves-light transparent btn" style="border: 1px solid #ffffff"><font style="font-weight: 600; color: #ffffff">LogIn</font></a></li>
                        </ul>
                    </div>
                    <ul class="side-nav" id="mobile-demo">
                        <li><a onclick="openSignUpModal()">SIGNUP</a></li>
                        <li><a onclick="openLoginModal()">LOGIN</a></li>
                    </ul>
                </div>
            </nav>
        </div>
            <!-- Modal SignUp Structure -->
        <div id="modalSignUp" class="modal">
            <div class="row">
                <div class="col l4 hide-on-small-only" id="modalLeftBox">
                    <img src="/assets/recruiter/img/modal_background.jpg">
                </div>
                    <div class="col l8" id="modalRightBox">
                        <font style="font-size: 22px">Sign Up With TruJobs</font>
                        <center><div class="materialDashSignUp"></div></center>
                        <font style="font-size: 14px;">Signup and get access to 40000+ verified candidate profiles</font>
                        <form>
                        <div class="row" id="inputContainerModalSignup">
                            <div class="input-field col s12">
                                <form id="signUpForm">
                                    <input style="border-bottom: 1px solid #e0e0e0" placeholder="Name" id="rec_name" type="text" class="validate">
                                    <input style="border-bottom: 1px solid #e0e0e0" placeholder="Mobile" id="rec_mobile" type="text" maxlength="10" class="validate">
                                    <input style="border-bottom: 1px solid #e0e0e0" placeholder="Email" id="rec_email" type="email" class="validate">

                                    <span style="float: left; margin-top: 8px">Have Company Unique Code?</span>
                                    <div class="switch" style="position: inherit; margin-top: 24px">
                                        <label>No
                                            <input id="is_private_recruiter" type="checkbox">
                                            <span class="lever"></span>Yes
                                        </label>
                                    </div>

                                    <div style="margin-top: 72px">
                                        <div id="privateRecruiter" style="display: none;">
                                            <input style="border-bottom: 1px solid #e0e0e0" placeholder="Company unique code" id="rec_company_code" type="text" class="validate">
                                        </div>
                                        <div id="openRecruiter">
                                            <select id="rec_company" multiple="multiple" class="tokenCustomInput tokenize-sample"></select>
                                            <script type="text/javascript">
                                                $('#rec_company').tokenize({
                                                    displayDropdownOnFocus: true,
                                                    placeholder: "Enter your company",
                                                    nbDropdownElements: 1000,
                                                    newElements: true,
                                                    maxElements: 1,
                                                    onAddToken: function (value, text) {
                                                        validateCompanyVal(value, text);
                                                    }
                                                });
                                            </script>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="input-field col s12">
                              <button type="submit" id="SignSubmitUpBtn" class="waves-effect waves-light ascentGreen lighten-1 btn right"><font style="color: #fff">SignUp</font></button>
                                <p><font style="font-size: 14px; cursor: pointer">Have an Account? <span onclick="openLoginModal()"><font style="cursor: pointer; color: #2ec866; font-weight:600;">Sign In</font></span></font></p>
                            </div>
                        </div>
                        </form>
                    </div>
            </div>
        </div>
            <!-- Modal otp Structure -->
        <div id="modalOtp" class="modal">
            <div id="otpSection">
                <div style="background: rgba(0, 0, 0, 0.75); padding: 8%">
                    <center><font style="font-size: 22px; color: #fff">OTP Verification</font></center>
                </div>
                <form id="verifyOtpForm" style="background: #fff; padding: 4%">
                    <div class="row">
                        <div class="col l12">
                            <font style="font-size: 14px;">We have sent a 4-digit OTP to your mobile number. Please enter it here</font>
                            <div class="input-field col s12 l12">
                                <input type="text" id="rec_otp" style="margin-bottom:4px; border-bottom: 1px solid rgba(158, 158, 158, 0.32)" maxlength="4" placeholder="OTP">
                            </div>
                            <div class="input-field col s12">
                                <button type="submit" class="waves-effect waves-light ascentGreen lighten-1 btn right"><font style="color: #fff">Enter OTP</font></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div id="passwordSection">
                <div style="background: rgba(0, 0, 0, 0.75); padding: 8%">
                    <center><font style="font-size: 22px; color: #fff">New Password</font></center>
                </div>
                    <form id="savePasswordForm" style="background: #fff; padding: 4%">
                        <div class="row">
                            <div class="col l12">
                                <font style="font-size: 14px;">Set your new password. Must be atleast 6 characters in length</font>
                                <div class="input-field col s12 l12">
                                    <input type="password" id="rec_password" style="margin-bottom:4px; border-bottom: 1px solid rgba(158, 158, 158, 0.32)" maxlength="10" placeholder="Enter Password" class="validate">
                                </div>
                                <div class="input-field col s12">
                                    <button type="submit" id="passwordBtn" class="waves-effect waves-light ascentGreen lighten-1 btn right"><font style="color: #fff">Create Account</font></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        <!-- Modal LogIn Structure -->
        <div id="modalLogIn" class="modal">
            <div style="background: rgba(0, 0, 0, 0.75); padding: 8%">
                <center><font style="font-size: 22px; color: #fff" id="loginModalHeading">Log In</font></center>
            </div>
            <form id="loginModal" style="background: #fff; padding: 4%">
                <div class="row">
                    <div class="col l12">
                        <div class="input-field col s12 l12">
                            <input type="text" id="loginMobileNumber" style="margin-bottom:4px; border-bottom: 1px solid rgba(158, 158, 158, 0.32)" maxlength="10" placeholder="Mobile Number">
                        </div>
                        <div class="input-field col s12 l12">
                            <input type="password" id="password" style="margin-bottom:4px; border-bottom: 1px solid rgba(158, 158, 158, 0.32)"  placeholder="Password">
                        </div>
                        <div class="input-field col s12">
                            <p><font style="font-size: 14px;">New User? <span onclick="openSignUpModal()" style="cursor: pointer; color: #2ec866; font-weight:600;">Sign Up</span></font></p>
                            <p><font style="font-size: 14px;">Forgot password? <span onclick="resetPassword()" style="cursor: pointer; color: #2ec866; font-weight:600;">Reset Now</span></font></p>
                        </div>
                        <button id="loginSubmitBtn" type="submit" class="waves-effect waves-light ascentGreen lighten-1 btn right"><font style="color: #fff">LogIn</font></button>

                    </div>
                </div>
            </form>

            <form id="form_forgot_password" style="display: none; background: #fff; padding: 4%">
                <center>
                    <h6>Enter your mobile No</h6>
                    <div class="form-group">
                        <input style="width: 70%;" id="resetPasswordMobile" placeholder="Mobile No. (eg: 8880007799)" class="form-control input-md" pattern="[7-9]{1}[0-9]{9}" type="text" maxlength="10" required>
                        <button id="resetCheckUserBtn" type="submit" class="waves-effect waves-light ascentGreen lighten-1 btn"><font style="color: #fff">Submit</font></button>
                    </div>
                </center>
            </form>

            <form id="form_password_reset_otp" style="display: none; background: #fff; padding: 4%" >
                <div align="center">
                    <h6 id="helpText"></h6>

                    <div class="form-group">
                        <input style="width: 80%;" id="recruiterForgotOtp" type="number" minlength="1000" maxlength="9999" placeholder="Enter OTP: (eg: 9876)" class="form-control input-md" required>
                        <button  type="submit" class="waves-effect waves-light ascentGreen lighten-1 btn"><font style="color: #fff">Verify OTP</font></button>
                    </div>
                </div>
            </form>

            <form id="form_password_reset_new" style="display: none; background: #fff; padding: 4%">
                <div align="center">
                    <h6>Enter New Password</h6>

                    <div class="form-group">
                        <input style="width: 80%;" id="recruiterNewPassword" type="password" placeholder="Enter new Password" class="form-control input-md" required>
                        <button id="resetNewPasswordBtn" type="submit" class="waves-effect waves-light ascentGreen lighten-1 btn"><font style="color: #fff">Reset Password</font></button>
                    </div>
                </div>
            </form>


        </div>

        <div class="parallax-container custom-parallax-container">
            <div class="parallax">
                <img class="customParallaxContainer" src="/assets/recruiter/img/image2.jpg">
            </div>

            <div class="sectionOneBody" style="display:flex; justify-content:center; align-items:center;">
                <div>
                    <h4 style="color: #fff">We will schedule and manage your interviews</h4>
                    <h5 class="typist" style="color: #2ec866"><font color="#fff">Hire </font></h5>
                    <div>
                        <img src="/assets/recruiter/img/user.svg" width="16px" style="display: inline-block; margin: -4px 2px 2px 2px;">
                        <h6 style="color: #fff; font-size: 16px;  display: inline-block"><font color="#2ec866"><b>40000+ </b></font>verified candidates to hire!</h6>
                    </div>
                    <br>
                    <center class="hide-on-small-only">
                        <a data-target="modalHire" onclick="resetHireForm()" class="waves-effect waves-light ascentGreen lighten-1 btn modal-trigger" style="margin-top: 12px;margin-bottom:36px"><font style="color: #ffffff"><b>Request Call Back</b></font></a>
                    </center>

                    <center class="hide-on-med-and-up" id="mobileEnquiryBtn">
                        <a class="waves-effect waves-light transparent btn modal-trigger" style="border:1px solid #2ec866; color:#2ec866" data-target="recEnquiry" onclick="resetHireFormMobile()">Request Call Back</a>
                        <br>
                        <br>
                        <a onclick="openSignUpModal()" class="waves-effect waves-light ascentGreen lighten-1 btn"><font style="color: #fff; font-weight: 600">SignUp</font></a>
                        <a onclick="openLoginModal()" class="waves-effect waves-light transparent btn" style="border: 1px solid #2ec866;color:#2ec866">LogIn</a>
                    </center>

                </div>

            </div>

            <div class="footerLeadForm valign-wrapper hide-on-small-only">
                <div style="width: 100%; text-align: center" class="container">
                    <div style="color: #fff; font-size: 20px">How it works</div>
                    <center><div class="materialDash"></div></center>
                    <div class="row">
                        <div class="input-field col s4 l4">
                            <img src="/assets/recruiter/img/green/profile.svg" width="32px">
                            <br>
                            <center style="margin-top: 12px;"><h6 style="color: #fff">Signup and post your job for free!</h6></center>
                        </div>
                        <div class="input-field col s4 l4">
                            <img src="/assets/recruiter/img/green/search.svg" width="32px">
                            <br>
                            <center style="margin-top: 12px;"><h6 style="color: #fff">Search through 40000+ verified candidate profiles</h6></center>
                        </div>
                        <div class="input-field col s4 l4">
                            <img src="/assets/recruiter/img/green/interview.svg" width="32px">
                            <br>
                            <center style="margin-top: 12px;"><h6 style="color: #fff"> Upgrade your plan to contact candidates and schedule interviews</h6></center>
                        </div>
                    </div>
                </div>
            </div>

        <div class="container hide-on-med-and-up" style="text-align: center; background: transparent">
            <!-- Modal Trigger -->
                <!-- Modal Structure -->
            <div id="recEnquiry" class="modal bottom-sheet" style=" background: rgba(0, 0, 0, 0.76); z-index: 999">
                <form>
                    <div class="container">
                        <h5 style="color:#fff">Let us know your hiring needs</h5>
                        <div class="row" style="margin-bottom: 2%">
                            <div class="input-field col s12 l3">
                                <input type="text" id="mobileNumberModal" style="color: #fff; border-bottom: 1px solid rgba(158, 158, 158, 0.32);" maxlength="10" placeholder="Mobile Number">
                            </div>
                            <div class="input-field col s12 l12" style="margin-top: -4px">
                                <select id="jobRoleOptionModal" multiple="multiple" class="tokenCustomInput tokenize-sample"></select>
                                <script type="text/javascript">
                                    $('#jobRoleOptionModal').tokenize({
                                        displayDropdownOnFocus: true,
                                        placeholder: "Job role(s) you are looking to hire [max .3]",
                                        nbDropdownElements: 1000,
                                        maxElements: 3
                                    });
                                </script>
                            </div>

                            <div class="input-field col s12 l12">
                                <select id="jobLocationOptionModal" multiple="multiple" class="tokenCustomInput tokenize-sample"></select>
                                <script type="text/javascript">
                                    $('#jobLocationOptionModal').tokenize({
                                        displayDropdownOnFocus: true,
                                        nbDropdownElements: 1000,
                                        placeholder: "Location(s) you want to hire [max. 3]",
                                        maxElements: 3
                                    });
                                </script>
                            </div>

                            <div class="input-field col s12 l12">
                                <select id="recruiterRequirementModal" multiple="multiple" class="tokenCustomInput tokenize-sample">
                                    <option value="" disabled selected>Requirement Type</option>
                                    <option value="part time">Part time</option>
                                    <option value="full time">Full Time</option>
                                    <option value="contract">Contract</option>
                                    <option value="any">Any</option>
                                </select>
                                <script type="text/javascript">
                                    $('#recruiterRequirementModal').tokenize({
                                        displayDropdownOnFocus: true,
                                        nbDropdownElements: 1000,
                                        placeholder: "Specify work shift",
                                        maxElements: 1
                                    });
                                </script>
                            </div>
                        </div>
                        <a class="waves-effect waves-light ascentGreen lighten-1 btn right" id="requestLeadModal" onclick="requestModalLead()" style="margin-bottom: 16px"><font style="color: #ffffff">Request Call Back</font></a>
                    </div>
                </form>
                </div>
            </div>
        </div>

            <!-- Modal Hire Form Structure -->
        <div id="modalHire" class="modal hide-on-small-only">
            <div style="background: rgba(0, 0, 0, 0.75); padding: 8%">
                <center><font style="font-size: 22px; color: #fff">Let us know your hiring needs</font></center>
            </div>

            <form id="requestEnquiry" style="background: #fff; padding: 4%">
                <div class="row">
                    <div class="col l12">
                        <div class="input-field col s12 l12">
                            <input type="text" id="mobileNumber" style="margin-bottom:4px; border-bottom: 1px solid rgba(158, 158, 158, 0.32)" maxlength="10" placeholder="Mobile Number">
                        </div>
                        <div class="input-field col s12 l12">
                            <select id="jobRoleOption" multiple="multiple" class="tokenCustomInput tokenize-sample"></select>
                            <script type="text/javascript">
                                $('#jobRoleOption').tokenize({
                                    displayDropdownOnFocus: true,
                                    nbDropdownElements: 1000,
                                    placeholder: "Job role(s) you are looking to hire [max. 3]",
                                    maxElements: 3
                                });
                            </script>
                        </div>

                        <div class="input-field col s12 l12">
                            <select id="jobLocationOption" multiple="multiple" class="tokenCustomInput tokenize-sample"></select>
                            <script type="text/javascript">
                                $('#jobLocationOption').tokenize({
                                    displayDropdownOnFocus: true,
                                    nbDropdownElements: 1000,
                                    placeholder: "Location(s) you want to hire [max. 3]",
                                    maxElements: 3
                                });
                            </script>
                        </div>

                        <div class="input-field col s12 l12">
                            <select id="recruiterRequirement" multiple="multiple" class="tokenCustomInput tokenize-sample">
                                <option value="" disabled selected>Requirement Type</option>
                                <option value="part time">Part time</option>
                                <option value="full time">Full Time</option>
                                <option value="contract">Contract</option>
                                <option value="any">Any</option>
                            </select>
                            <script type="text/javascript">
                                $('#recruiterRequirement').tokenize({
                                    displayDropdownOnFocus: true,
                                    nbDropdownElements: 1000,
                                    placeholder: "Specify work shift",
                                    maxElements: 1
                                });
                            </script>
                        </div>
                        <center>
                            <button type="submit" class="waves-effect waves-light ascentGreen lighten-1 btn" id="requestLeadBtn" style="margin-top: 24px; margin-bottom: 0; width: 100%"><font style="color: #ffffff">Request Call Back</font></button>
                        </center>

                    </div>
                </div>
            </form>
        </div>

        <div class="container" id="companyHiringBox">
            <div class="row" id="companyHiringCompanyLogo">
                <div class="col s6 l2"><img class="responsive-img" src="/assets/recruiter/img/company/driveu.png" style="height: 50px; padding: 6px"></div>
                <div class="col s6 l2"><img class="responsive-img" src="/assets/recruiter/img/company/urban_clap.png" style="height: 50px; padding: 6px"></div>
                <div class="col s6 l2"><img class="responsive-img" src="/assets/recruiter/img/company/bb_logo.png" style="height: 50px; padding: 6px"></div>
                <div class="col s6 l2"><img class="responsive-img" src="/assets/recruiter/img/company/dunkin_donuts.png" style="height: 50px; padding: 6px"></div>
                <div class="col s6 l2"><img class="responsive-img" src="/assets/recruiter/img/company/porter_logo.png" style="height: 50px; padding: 6px"></div>
                <div class="col s6 l2"><img class="responsive-img" src="/assets/recruiter/img/company/swiggy.png" style="height: 50px; padding: 6px"></div>
            </div>
            <div class="row" id="companyHiringHeader">
                <font size="4" style="margin: 2%">Companies Hiring Form Us</font>
            </div>
        </div>

        <div class="container" id="stats">
            <div class="row">
                <h5>Highlights</h5>
                <center><div class="materialDash"></div></center>
                <div class="col l6 s6" style="padding: 2%;">
                    <div class="row">
                        <img class="responsive-img" src="/assets/recruiter/img/candidate.svg" id="candidateStats" style="height: 70px;">
                    </div>
                    <div class="row" style="margin:2px">
                        <b><div style="font-size: 24px">40000+</div></b>
                    </div>
                    <div class="row" style="margin:1px;font-weight:600;">
                        <div style="font-size: 18px">Candidates</div>
                    </div>
                </div>
                <div class="col l6 s6" style="padding: 2%;">
                    <div class="row">
                        <img class="responsive-img" src="/assets/recruiter/img/suitcase.svg" id="jobRolesStats" style="height: 70px;">
                    </div>
                    <div class="row" style="margin:2px">
                        <b><div style="font-size: 24px">35+</div></b>
                    </div>
                    <div class="row" style="font-weight:600;">
                        <div style="font-size: 18px">Job roles</div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="container-fluid" id="testimonial">
            <div class="container">
            <h5>What Recruiter Says !</h5>
            <center><div class="materialDash"></div></center>
            <div class="row">
                <div class="col l4 s12">
                    <div class="row">
                        <div class="col s12 m12">
                            <div class="card" style="padding-bottom:4%">
                                <div class="card-image" style="height:50%; width:100%">
                                    <img src="/assets/recruiter/img/manger2.jpg">
                                </div>
                                <div class="card-content">
                                    <p>I am a very simple card. I am good at containing small bits of information.
                                        I am convenient because I require little markup to use effectively.</p>
                                </div>
                                <span style="font-size:18px;font-weight:600">Mr. Bond</span>
                                <div class="row">
                                    <span class="card-title" style="font-size:12px;margin-bottom: 2%">CEO</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col l4 s12">
                    <div class="row">
                        <div class="col s12 m12">
                            <div class="card" style="padding-bottom:4%">
                                <div class="card-image" style="height:50%; width:100%">
                                    <img src="/assets/recruiter/img/manger2.jpg">
                                </div>
                                <div class="card-content">
                                    <p>I am a very simple card. I am good at containing small bits of information.
                                        I am convenient because I require little markup to use effectively.</p>
                                </div>
                                <span style="font-size:18px;font-weight:600">Mr. Bond</span>
                                <div class="row">
                                    <span class="card-title" style="font-size:12px;margin-bottom: 2%">CEO</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col l4 s12">
                    <div class="row">
                        <div class="col s12 m12">
                            <div class="card" style="padding-bottom:4%">
                                <div class="card-image" style="height:50%; width:100%">
                                    <img src="/assets/recruiter/img/manger2.jpg">
                                </div>
                                <div class="card-content">
                                    <p>I am a very simple card. I am good at containing small bits of information.
                                        I am convenient because I require little markup to use effectively.</p>
                                </div>
                                <span style="font-size:18px;font-weight:600">Mr. Bond</span>
                                <div class="row">
                                    <span class="card-title" style="font-size:12px;margin-bottom: 2%">CEO</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>*@

            <!-- credit message Modal Structure -->
        <div id="messageModal" class="modal" style="background: transparent; box-shadow: none">
            <div style="background: rgba(0, 0, 0, 0.75); padding: 4%">
                <center><font style="color: #fff"><h5>Congrats</h5></font></center>
            </div>
            <div style="background: #fff; padding: 24px">
                <center>
                    <img src="/assets/recruiter/img/coin.svg" width="36px">
                    <div>
                        Thank you for registering with Trujobs.
                    </div>
                    <h5 style="color: #2ec866"><b>You have earned 3 free contact unlock credits!</b></h5>
                    <h6>Logging you in!!</h6>
                </center>
            </div>
        </div>

        <!--Footer start-->
        <footer class="page-footer" style="background-color: #424242;">
            <div class="container">
                <div class="row" style="margin: 0">
                    <div class="col l6 s12">
                        <h5 class="white-text">Hire in Bangalore</h5>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Get in touch</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="#!">Write us at: info@@trujobs.in</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Have queries? Talk to us at 8880007799</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row" style="margin:0">
                    <img src="/assets/recruiter/img/skyline_small.svg" width="100%">
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
            © 2016 Trujobs.in | Bengaluru, India. All Right Reserved. Privacy Policy
                </div>
            </div>
        </footer>
    </body>

    <script type="text/javascript" src="/assets/common/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/common/js/materialize.js"></script>
    <script type="text/javascript" src="/assets/common/js/validation.js"></script>
    <script type="text/javascript" src="/assets/recruiter/js/recruiter_reset_password.js"></script>
    <script type="text/javascript" src="/assets/recruiter/js/recruiter_page.js"></script>
    <script type="text/javascript" src="/assets/recruiter/js/typist.js"></script>
    <script type="text/javascript" src="/assets/recruiter/js/recruiter_signup.js"></script>
    <script type="text/javascript" src="/assets/recruiter/js/recruiter_login.js"></script>
</html>