<style>
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 56px;
    line-height: 56px;
}
</style>
<div class="navbar-fixed">
    <nav>
        <div class="container" style="width: 85%;">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">
                    <img id="navLogo" src="/assets/recruiter/img/trujobs-recruiter.png" style="height: 32px;
                        margin-top: -2%">
                </a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li class="homeNav"><a href="/recruiter/home">Home</a></li>
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Referral</a></li>
                    <li class="report"><a href="/recruiter/report/">Report</a></li>
                    <li class="profileNav"><a href="/recruiter/profile">Profile</a></li>
                    <li class="jobNav"><a href="/recruiter/allRecruiterJobPosts">Application(s)<div class="newNotification" id="pendingApproval" style="display: none"></div></a></li>
                    <li class="postJobNav"><a href="/recruiter/jobPost/0">Post Job</a></li>
                    <li class="postJobNav" id="accountSwitcher" style="display: none"><a href="#" onclick="switchToPartner()">Switch to Partner</a></li>
                    <li><a onclick="logoutRecruiter()">Logout</a></li>
                </ul>
            </div>
                <ul id="dropdown1" class="dropdown-content" data-beloworigin="true">
                    <li class="" onclick="openCsvModal()"><a href="#!">Upload Employee</a></li>
                    <li class="" onclick=""><a href="/recruiter/employee">Execute Campaign</a></li>
                </ul>
            <ul class="side-nav" id="mobile-demo">
                <li class="homeNavMobile"><a href="/recruiter/home">Home</a></li>
                <li class="report"><a href="/recruiter/report/">Report</a></li>
                <li class="profileNavMobile"><a href="/recruiter/profile">Profile</a></li>
                <li class="jobNavMobile"><a href="/recruiter/allRecruiterJobPosts">Application(s)<div class="newNotification" id="pendingApprovalMobile"></div></a></li>
                <li class="postJobNavMobile"><a href="/recruiter/jobPost/0">Post Job</a></li>
                <li class="postJobNavMobile" id="accountSwitcherMobile" style="display: none"><a href="#" onclick="switchToPartner()">Switch to Partner</a></li>
                <li><a onclick="logoutRecruiter()">Logout</a></li>
            </ul>
        </div>
    </nav>
</div>

<div id="csvUploadModal" class="modal" style="background: transparent; box-shadow: none">
    <div style="float: right; padding: 12px; cursor: pointer"><img src="/assets/recruiter/img/cancel_white.png" onclick="closeCSVModal()"></div>
    <div style="background: rgba(0, 0, 0, 0.75); padding: 2%">
        <center><font style="color: #fff"><h5>Upload Employee CSV</h5></font></center>
    </div>
    <div style="background: #fff; padding: 12px">
        <div class="row" style="margin:20px 0 0 0">
            <center>
                <img src="/assets/recruiter/img/csv.svg" style="width:80px">
            </center>
        </div>
        <div id="uploadContainer" style="text-align: center;margin:20px 0"></div>
        <div class="row">
            <center>
                <label class="btn btn-default btn-file" id="uploadCSVBtn">UPLOAD CSV
                    <input type="file" accept=".csv" id="excelfile" style="display: none" onchange="UploadCSVFile(event)">
                </label>
            </center>
        </div>
    </div>
</div>

<script>
    function logoutRecruiter() {
        try {
            $.ajax({
                type: "GET",
                url: "/logoutRecruiter",
                data: false,
                async: false,
                contentType: false,
                processData: false,
                success: processDataLogoutRecruiter
            });
        } catch (exception) {
            console.log("exception occured!!" + exception);
        }
    }

    function processDataLogoutRecruiter() {
        window.location = "/recruiter";
    }

    $(document).ready(function () {
        $(".button-collapse").sideNav();
        $('.dropdown-button').dropdown({
                    constrainWidth: false, // Does not change width of dropdown to that of the activator
                    hover: true, // Activate on hover
                    belowOrigin: false, // Displays dropdown below the button
                }
        );
    });

    $(document).scroll(function(){
        if ($(this).scrollTop() > 30) {
            $('nav').css({"background": "rgba(0, 0, 0, 0.8)"});
        }
        else{
            $('nav').css({"background": "transparent"});
        }
    });
</script>