<style>
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 56px;
    line-height: 56px;
}
</style>
<div class="navbar-fixed">
    <nav>
        <div class="container" style="width: 85%;">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">
                    <img id="navLogo" src="/assets/recruiter/img/trujobs-recruiter.png" style="height: 32px;
                        margin-top: -2%">
                </a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li class="homeNav"><a href="/recruiter/home">Home</a></li>
                    <li class="report"><a href="/recruiter/report/">Report</a></li>
                    <li class="profileNav"><a href="/recruiter/profile">Profile</a></li>
                    <li class="jobNav"><a href="/recruiter/allRecruiterJobPosts">View Application(s)<div class="newNotification" id="pendingApproval" style="display: none"></div></a></li>
                    <li class="postJobNav"><a href="/recruiter/jobPost/0">Post Job</a></li>
                    <li class="postJobNav" id="accountSwitcher" style="display: none"><a href="#" onclick="switchToPartner()">Switch to Partner</a></li>
                    <li><a onclick="logoutRecruiter()">Logout</a></li>
                </ul>
            </div>

            <ul class="side-nav" id="mobile-demo">
                <li class="homeNavMobile"><a href="/recruiter/home">Home</a></li>
                <li class="report"><a href="/recruiter/report/">Report</a></li>
                <li class="profileNavMobile"><a href="/recruiter/profile">Profile</a></li>
                <li class="jobNavMobile"><a href="/recruiter/allRecruiterJobPosts">View Application(s)<div class="newNotification" id="pendingApprovalMobile"></div></a></li>
                <li class="postJobNavMobile"><a href="/recruiter/jobPost/0">Post Job</a></li>
                <li class="postJobNavMobile" id="accountSwitcherMobile" style="display: none"><a href="#" onclick="switchToPartner()">Switch to Partner</a></li>
                <li><a onclick="logoutRecruiter()">Logout</a></li>
            </ul>
        </div>
    </nav>
</div>

<script>
    function logoutRecruiter() {
        try {
            $.ajax({
                type: "GET",
                url: "/logoutRecruiter",
                data: false,
                async: false,
                contentType: false,
                processData: false,
                success: processDataLogoutRecruiter
            });
        } catch (exception) {
            console.log("exception occured!!" + exception);
        }
    }

    function processDataLogoutRecruiter() {
        window.location = "/recruiter";
    }

    $(document).ready(function () {
        $(".button-collapse").sideNav();
        $(".dropdown-button").dropdown();
    });

    $(document).scroll(function(){
        if ($(this).scrollTop() > 30) {
            $('nav').css({"background": "rgba(0, 0, 0, 0.8)"});
        }
        else{
            $('nav').css({"background": "transparent"});
        }
    });
</script>