<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Trujobs - Trusted Employers - Verified Candidates</title>
        <meta name="keywords" content="freshers jobs, driver jobs, delivery boy jobs, field sales agent,call center jobs, BPO jobs, data entry jobs, back office jobs, receptionist jobs, beautician jobs, waiter jobs, cook jobs, restaurant jobs, cashier jobs, experienced jobs, jobs in Bangalore, driver jobs, delivery boy jobs, field sales agent,call center jobs, BPO jobs, data entry jobs, back office jobs, receptionist jobs, beautician jobs, waiter jobs, cook jobs, restaurant jobs, cashier jobs, full time jobs, part time jobs, entry level jobs, plumber jobs, electrician jobs">
        <meta name="description" content="TruJobs helps you find the right job! Give a missed call at 8880007799 for Best Jobs. We pre-screen, match and schedule interviews for Jobs" />
        <title>Dashboard - Trujobs</title>

            <!-- Bootstrap Core CSS -->
        <link rel="icon" type="image/png" href="/assets/img/icon.png">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />

        <link href="/assets/dashboard/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

            <!-- Custom CSS -->
        <link href="/assets/dashboard/css/dashboard.css" rel="stylesheet">
        <link rel="stylesheet" href="/assets/css/token-input-facebook.css" type="text/css" />
        <script type="text/javascript" src="/assets/js/jquery.tokeninput.js"></script>
        <script type="text/javascript" src="//www.google.com/jsapi"></script>
        <script type="text/javascript" src="/assets/support/js/sign_up_support.js"></script>
        <script type="text/javascript" src="/assets/js/user_dashboard.js"></script>
        <link rel="stylesheet" type="text/css" href="/assets/new/css/myStyle.css">

        <script type="text/javascript">
          function showEditProfile(){
              window.location = "/dashboard/editProfile/basic";
          }

          var userMobile = localStorage.getItem("mobile");
          if(userMobile == null){
              logoutUser();
              window.location = "/";
          }

          google.load('visualization', '1', {packages: ['table']});

          function logoutUser() {
              localStorage.clear();
              window.location = "/";
              try {
                  $.ajax({
                      type: "GET",
                      url: "/logoutUser",
                      data: false,
                      contentType: false,
                      processData: false,
                  });
              } catch (exception) {
                  console.log("exception occured!!" + exception);
              }
          }
    </script>
    </head>

    <body>
        <div id="table" style="display: none;"></div>
        <div id="wrapper">

                <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="#">
                            <img id="navLogo" src="/assets/dashboard/img/logo-main.gif" height="42px">
                        </a>
                    </li>
                    <li>
                        <center>
                            <div style="padding-top: 8%; padding-bottom: 3%">
                                <img src="/assets/dashboard/img/user.png" height="124px">
                            </div>
                        </center>
                    </li>
                    <li>
                        <center>
                            <h4><font color="white"><div id="helloMsg">Hello Adarsh</div></font></h4>
                        </center>
                    </li>
                    <li>
                        <div class="sideNav">
                            <a href="/dashboard">Dashboard</a>
                        </div>
                    </li>
                    <li>
                        <div class="sideNav">
                            <a href="#editProfileDashboard" onclick="showEditProfile()">Profile</a>
                        </div>
                    </li>
                    <li>
                        <div class="sideNav">
                            <a href="#hotJobs">Hot Jobs</a>
                        </div>
                    </li>
                    <li>
                        <div class="sideNav">
                            <a href="#" onclick="logoutUser()">Log Out</a>
                        </div>
                    </li>
                </ul>
            </div>
                <!-- /#sidebar-wrapper -->

                <!-- Page Content -->
            <div id="page-content-wrapper">
                <a href="#menu-toggle" class="visible-xs btn btn-default" style="width: 30%" id="menu-toggle">Show Menu</a>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2>Welcome to Trujobs</h2>
                            <hr>
                            <div style="display: inline-block">
                                <div style="display: inline-block">
                                    <center>
                                        <div><font size="2" color="#000000">Profile Status</font></div>
                                        <div id="profileStatus"><img id="profileStatusIcon" src="" width="40px"></div>
                                        <div id="profileStatusResult"></div>
                                        <div id="profileStatusAction"></div>
                                    </center>
                                </div>

                                <div style="display: inline-block">
                                    <div style="display: inline-block; width: 40px;"></div>
                                </div>

                                <div style="display: inline-block">
                                    <center>
                                        <div><font size="2" color="#000000">Assessment Status</font></div>
                                        <div id="assessedStatus"><img id="assessedIcon" src="" width="40px"></div>
                                        <div id="assessedStatusResult"></div>
                                        <div id="assessedStatusAction"></div>
                                    </center>
                                </div>
                            </div>

@*                            <div id="profileStatus"></div><div id="profileStatusResult">---</div>
                            <div id="assessedStatus"></div><div id="assessedStatusResult">---</div>*@

                                <!-- start hot job -->
                            <div class="company_class" id="hotJobs">
                                Hot Jobs
                            </div>
                            <center>
                                <div class="materialDash"></div>
                                <div class="container-fluid" id="company_box">
                                    <div class="row">
                                        <div class="col-lg-1 visible-lg" id="arrow_left_hot">
                                            <a class="right carousel-control" href="#hot_job" role="button" data-slide="prev">
                                                <img class="img-responsive" src="/assets/new/img/arrow_left_hot.png">
                                            </a>
                                        </div>
                                        <div class="col-md-10">
                                            <div id="hot_job" class="carousel slide" data-ride="carousel">
                                                <div class="carousel-inner" role="listbox">
                                                    <div class="item active">
                                                        <div class="col-lg-4 visible-lg" style="padding: 4%">
                                                            <div class="panel" id="hot_box">
                                                                <div class="panel-heading" id="hot_box_head">
                                                                    <img class="img-responsive" src="/assets/new/img/company4.jpg">
                                                                </div>
                                                                <div class="panel-body" id="hot_box_body">
                                                                    <div class="hot_body_role">
                                                                      Customer Support Executive
                                                                    </div>
                                                                    <img class="img-responsive" src="/assets/new/img/hotjob_divider.jpg">
                                                                    <div class="hot_body_salary">
                                                                        10,000 - 20,000 Monthly
                                                                        <br>
                                                                        Experience : 6 months +
                                                                    </div>
                                                                    <img class="img-responsive" src="/assets/new/img/hotjob_divider.jpg">
                                                                    <div class="hot_body_location">
                                                                        St. John's Road<br><br>
                                                                        <a href="tel:+918880007799">
                                                                            <div class="btn btn-primary" id="modalBtn" style="width: 92%">
                                                                                <font size="1">Call 8880007799 to Apply</font>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4" style="padding: 4%">
                                                            <div class="panel" id="hot_box">
                                                                <div class="panel-heading" id="hot_box_head">
                                                                    <img class="img-responsive" src="/assets/new/img/company1.jpg">
                                                                </div>
                                                                <div class="panel-body" id="hot_box_body">
                                                                    <div class="hot_body_role">
                                                                        Office Accountant
                                                                    </div>
                                                                    <img class="img-responsive" src="/assets/new/img/hotjob_divider.jpg">
                                                                    <div class="hot_body_salary">
                                                                        15,000 - 20,000 Monthly
                                                                        <br>
                                                                        Experience : 1 yr
                                                                    </div>
                                                                    <img class="img-responsive" src="/assets/new/img/hotjob_divider.jpg">
                                                                    <div class="hot_body_location">
                                                                        MICO Gate, Bannerghatta Road<br><br>
                                                                        <a href="tel:+918880007799">
                                                                            <div class="btn btn-primary" id="modalBtn" style="width: 92%">
                                                                                <font size="1">Call 8880007799 to Apply</font>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4" style="padding: 4%">
                                                            <div class="panel" id="hot_box">
                                                                <div class="panel-heading" id="hot_box_head">
                                                                    <img class="img-responsive" src="/assets/new/img/company1.jpg">
                                                                </div>
                                                                <div class="panel-body" id="hot_box_body">
                                                                    <div class="hot_body_role">
                                                                        Marketing Executive
                                                                    </div>
                                                                    <img class="img-responsive" src="/assets/new/img/hotjob_divider.jpg">
                                                                    <div class="hot_body_salary">
                                                                        20,000 - 25,000 Monthly
                                                                        <br>
                                                                        Experience : 2 yrs
                                                                    </div>
                                                                    <img class="img-responsive" src="/assets/new/img/hotjob_divider.jpg">
                                                                    <div class="hot_body_location">
                                                                        MICO Gate, Bannerghatta Road<br><br>
                                                                        <a href="tel:+918880007799">
                                                                            <div class="btn btn-primary" id="modalBtn" style="width: 92%">
                                                                                <font size="1">Call 8880007799 to Apply</font>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                        <!--add-->
                                                    <div class="item">
                                                        <div class="col-sm-4" style="padding: 4%">
                                                            <div class="panel" id="hot_box">
                                                                <div class="panel-heading" id="hot_box_head">
                                                                    <img class="img-responsive" src="/assets/new/img/company1.jpg">
                                                                </div>
                                                                <div class="panel-body" id="hot_box_body">
                                                                    <div class="hot_body_role">
                                                                        Receptionist
                                                                    </div>
                                                                    <img class="img-responsive" src="/assets/new/img/hotjob_divider.jpg">
                                                                    <div class="hot_body_salary">
                                                                        15,000 - 20,000 Monthly
                                                                        <br>
                                                                        Experience : Any
                                                                    </div>
                                                                    <img class="img-responsive" src="/assets/new/img/hotjob_divider.jpg">
                                                                    <div class="hot_body_location">
                                                                        MICO Gate, Bannerghatta Road<br><br>
                                                                        <a href="tel:+918880007799">
                                                                            <div class="btn btn-primary" id="modalBtn" style="width: 92%">
                                                                                <font size="1">Call 8880007799 to Apply</font>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                            <!-- pebbles pre school -->
                                                        <div class="col-sm-4 visible-lg" style="padding: 4%">
                                                            <div class="panel" id="hot_box">
                                                                <div class="panel-heading" id="hot_box_head">
                                                                    <img class="img-responsive" src="/assets/new/img/logo_pebbles.png">
                                                                </div>
                                                                <div class="panel-body" id="hot_box_body">
                                                                    <div class="hot_body_role">
                                                                        Teacher
                                                                    </div>
                                                                    <img class="img-responsive" src="/assets/new/img/hotjob_divider.jpg">
                                                                    <div class="hot_body_salary">
                                                                        9,000 - 11,000 Monthly
                                                                        <br>
                                                                        Experience : Any
                                                                    </div>
                                                                    <img class="img-responsive" src="/assets/new/img/hotjob_divider.jpg">
                                                                    <div class="hot_body_location">
                                                                        Kadugodi<br><br>
                                                                        <a href="tel:+918880007799">
                                                                            <div class="btn btn-primary" id="modalBtn" style="width: 92%">
                                                                                <font size="1">Call 8880007799 to Apply</font>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                            <!-- online systemsm indiranagar -->
                                                        <div class="col-lg-4 visible-lg" id="hot_box_padding" style="padding: 4%">
                                                            <div class="panel" id="hot_box">
                                                                <div class="panel-heading" id="hot_box_head">
                                                                    <img  class="img-responsive" src="/assets/new/img/logo_online_systems.png">
                                                                </div>
                                                                <div class="panel-body" id="hot_box_body">
                                                                    <div class="hot_body_role">
                                                                        Sales Executive
                                                                    </div>
                                                                    <img class="img-responsive" src="/assets/new/img/hotjob_divider.jpg">
                                                                    <div class="hot_body_salary">
                                                                        15,000 - 20,000 Monthly
                                                                        <br>
                                                                        Experience : 6 Months +
                                                                    </div>
                                                                    <img class="img-responsive" src="/assets/new/img/hotjob_divider.jpg">
                                                                    <div class="hot_body_location">
                                                                        Indiranagar<br><br>
                                                                        <a href="tel:+918880007799">
                                                                            <div class="btn btn-primary" id="modalBtn" style="width: 92%">
                                                                                <font size="1">Call 8880007799 to Apply</font>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                        <!-- end add -->
                                                        <!--add-->
                                                    <div class="item">
                                                        @*online systems*@
                                                        <div class="col-sm-4" style="padding: 4%">
                                                            <div class="panel" id="hot_box">
                                                                <div class="panel-heading" id="hot_box_head">
                                                                    <img class="img-responsive" src="/assets/new/img/company1.jpg">
                                                                </div>
                                                                <div class="panel-body" id="hot_box_body">
                                                                    <div class="hot_body_role">
                                                                        Office Assistant
                                                                    </div>
                                                                    <img class="img-responsive" src="/assets/new/img/hotjob_divider.jpg">
                                                                    <div class="hot_body_salary">
                                                                        10,000 - 15,000 Monthly
                                                                        <br>
                                                                        Experience : 6 Months +
                                                                    </div>
                                                                    <img class="img-responsive" src="/assets/new/img/hotjob_divider.jpg">
                                                                    <div class="hot_body_location">
                                                                        Indiranagar<br><br>
                                                                        <a href="tel:+918880007799">
                                                                            <div class="btn btn-primary" id="modalBtn" style="width: 92%">
                                                                                <font size="1">Call 8880007799 to Apply</font>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        @* online Systems*@
                                                        <div class="col-sm-4 visible-lg" style="padding: 4%">
                                                            <div class="panel" id="hot_box">
                                                                <div class="panel-heading" id="hot_box_head">
                                                                    <img class="img-responsive" src="/assets/new/img/company1.jpg">
                                                                </div>
                                                                <div class="panel-body" id="hot_box_body">
                                                                    <div class="hot_body_role">
                                                                        Telemarketing Executive
                                                                    </div>
                                                                    <img class="img-responsive" src="/assets/new/img/hotjob_divider.jpg">
                                                                    <div class="hot_body_salary">
                                                                        15,000 Monthly
                                                                        <br>
                                                                        Experience : 6 Months +
                                                                    </div>
                                                                    <img class="img-responsive" src="/assets/new/img/hotjob_divider.jpg">
                                                                    <div class="hot_body_location">
                                                                        Indiranagar<br><br>
                                                                        <a href="tel:+918880007799">
                                                                            <div class="btn btn-primary" id="modalBtn" style="width: 92%">
                                                                                <font size="1">Call 8880007799 to Apply</font>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 visible-lg" id="hot_box_padding" style="padding: 4%">
                                                            <div class="panel" id="hot_box">
                                                                <div class="panel-heading" id="hot_box_head">
                                                                    <img  class="img-responsive" src="/assets/new/img/logo_vlokal.png">
                                                                </div>
                                                                <div class="panel-body" id="hot_box_body">
                                                                    <div class="hot_body_role">
                                                                        Delivery Executive
                                                                    </div>
                                                                    <img class="img-responsive" src="/assets/new/img/hotjob_divider.jpg">
                                                                    <div class="hot_body_salary">
                                                                        15,000 Monthly
                                                                        <br>
                                                                        Experience : Any
                                                                    </div>
                                                                    <img class="img-responsive" src="/assets/new/img/hotjob_divider.jpg">
                                                                    <div class="hot_body_location">
                                                                        Marathahalli<br><br>
                                                                        <a href="tel:+918880007799">
                                                                            <div class="btn btn-primary" id="modalBtn" style="width: 92%">
                                                                                <font size="1">Call 8880007799 to Apply</font>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                        <!-- end add -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-1 visible-lg" id="arrow_right_hot">
                                            <a class="right carousel-control" href="#hot_job" role="button" data-slide="next">
                                                <img class="img-responsive" src="/assets/new/img/arrow_right_hot.png">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </center>
                            <hr>

                            <div class="row sectionDashboard">
                                <div class="row>">

                                    <div class="col-sm-4">
                                        <div style="display : inline-block">
                                            <img src="/assets/img/job.png" height="30px;">
                                        </div>
                                        <div style="margin-left: 4px; display: inline-block">
                            Preferred Job Role:
                                        </div>
                                        <div class="sectionHeaderBody">
                                            <ul class="preferredJobs" style="margin-left: 20px">
                                        </ul>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div style="display : inline-block">
                                            <img src="/assets/img/location.png" height="30px;">
                                        </div>
                                        <div style="margin-left: 4px; display: inline-block">
                            Preferred Location:
                                        </div>
                                        <div class="sectionHeaderBody">
                                            <ul class="preferredLocation" style="margin-left: 20px">
                                        </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div style="float: right; cursor: pointer" onclick="showEditProfile()"><img src="/assets/dashboard/img/edit.png" width="24px">&nbsp;Edit Profile</div>
                                    </div>
@*

<div class="col-sm-4">
                                    </div>
*@
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
                <!-- /#page-content-wrapper -->
        </div>
        <script>
          function clickFresher(){
              $("#totalWorkExperience").hide();
          }
          function clickExperienced(){
              $("#totalWorkExperience").show();
          }

          function clickWorkingYes() {
              $("#isEmployedForm").show();
          }

          function clickWorkingNo() {
              $("#isEmployedForm").hide();
          }

          function showInstitute() {
              $("#educationalInstitute").show();
          }

          function hideInstitute() {
              $("#educationalInstitute").hide();
          }
      </script>

            <!-- Including Bootstrap -->
        <script src="/assets/dashboard/js/jquery.js"></script>
        <script src="/assets/dashboard/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/assets/js/jquery.tokeninput.js"></script>
            <!-- Menu Toggle Script -->
        <script>
          $("#menu-toggle").click(function(e) {
              e.preventDefault();
              $("#wrapper").toggleClass("toggled");
          });
      </script>

    </body>
</html>