<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard - Trujobs.in</title>

    <meta name="keywords" content="freshers jobs, driver jobs, delivery boy jobs, field sales agent,call center jobs, BPO jobs, data entry jobs, back office jobs, receptionist jobs, beautician jobs, waiter jobs, cook jobs, restaurant jobs, cashier jobs">

        <!-- Bootstrap Core CSS -->
    <link href="http://sbootstrap.startbootstrapc.netdna-cdn.com/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">

        <!-- Start Bootstrap Custom CSS -->

    <link href="http://sbootstrap.startbootstrapc.netdna-cdn.com/assets/css/startbootstrap.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="/assets/img/icon.png">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/assets/css/token-input.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/token-input-facebook.css" type="text/css" />
    <script type="text/javascript" src="/assets/js/jquery.tokeninput.js"></script>
    <script type="text/javascript" src="//www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1', {packages: ['table']});
    </script>

    <script>
        function getLocalityName(id){
            var localityArray = [
                {id: 1, name: "80 Ft. Road"},
                {id: 2, name: "Abhay Reddy Layout"},
                {id: 3, name: "Achitnagar"},
                {id: 4, name: "Adugodi"},
                {id: 5, name: "Agaram"},
                {id: 6, name: "Air Force Hospital"},
                {id: 7, name: "Airport"},
                {id: 8, name: "Amruthahalli"},
                {id: 9, name: "Anekal"},
                {id: 10, name: "Anepalya"},
                {id: 11, name: "Anjanapura"},
                {id: 12, name: "Arabic College"},
                {id: 13, name: "Attiguppe"},
                {id: 14, name: "Austin Town"},
                {id: 15, name: "Avenue Road"},
                {id: 16, name: "Ayappa Garden"},
                {id: 17, name: "Ayyappa Nagar"},
                {id: 18, name: "B.P.Wadia Road"},
                {id: 19, name: "Bagalgunte"},
                {id: 20, name: "Bagalur"},
                {id: 21, name: "Banasavadi"},
                {id: 22, name: "Banashankari"},
                {id: 23, name: "Bangalore Bazaar"},
                {id: 24, name: "Bangalore District Office"},
                {id: 25, name: "Bangalore Viswavidyalaya"},
                {id: 26, name: "Bannerghatta Road"},
                {id: 27, name: "Bapagrama"},
                {id: 28, name: "Bapuji Nagar"},
                {id: 29, name: "Basavanagudi"},
                {id: 30, name: "Basaveshwara Nagar"},
                {id: 31, name: "Begur"},
                {id: 32, name: "Bellandur"},
                {id: 33, name: "Benson Town"},
                {id: 34, name: "Bhattarahalli"},
                {id: 35, name: "Bidadi"},
                {id: 36, name: "Bidrahalli"},
                {id: 37, name: "Bilekahalli"},
                {id: 38, name: "Bolare"},
                {id: 39, name: "Bommanahalli"},
                {id: 40, name: "Bommasandra Industrial Estate"},
                {id: 41, name: "Bone Mill"},
                {id: 42, name: "Brigade Road"},
                {id: 43, name: "Brookefield"},
                {id: 44, name: "Bsk 2nd Stage"},
                {id: 45, name: "BTM Layout"},
                {id: 46, name: "Byatarayanapura"},
                {id: 47, name: "Byatha"},
                {id: 48, name: "C V Raman Nagar"},
                {id: 49, name: "Carmelaram Road"},
                {id: 50, name: "Carmelaram Road"},
                {id: 51, name: "Central Bengaluru"},
                {id: 52, name: "Chamrajpet"},
                {id: 53, name: "Chandapura"},
                {id: 54, name: "Channasandra"},
                {id: 55, name: "Chickpet"},
                {id: 56, name: "Chikkabanavara Lake"},
                {id: 57, name: "Chikkabidarkal"},
                {id: 58, name: "Chikkalasandra"},
                {id: 59, name: "Chudenapura"},
                {id: 60, name: "Church Street"},
                {id: 61, name: "City Centre"},
                {id: 62, name: "Cooke Town"},
                {id: 63, name: "Cottonpet"},
                {id: 64, name: "Cox Town"},
                {id: 65, name: "Crescent Road"},
                {id: 66, name: "Crpf Campus Yelahanka"},
                {id: 67, name: "Cubban Road"},
                {id: 68, name: "Cunningham Road"},
                {id: 69, name: "Dasarahalli"},
                {id: 70, name: "Deepanjalinagar"},
                {id: 71, name: "Devanagundi"},
                {id: 72, name: "Devanahalli"},
                {id: 73, name: "Devasandra Lake"},
                {id: 74, name: "Dharmaram College"},
                {id: 75, name: "Diamond District"},
                {id: 76, name: "Dickenson Road"},
                {id: 77, name: "Dlf Township"},
                {id: 78, name: "Doddaballapur Road"},
                {id: 79, name: "Doddaballapura"},
                {id: 80, name: "Doddagubbi"},
                {id: 81, name: "Doddakallasandra"},
                {id: 82, name: "Doddanekkundi"},
                {id: 83, name: "Domlur"},
                {id: 84, name: "Dooravaninagar"},
                {id: 85, name: "Doorvaninagar"},
                {id: 86, name: "Dr. Ambedkar Veedhi"},
                {id: 87, name: "Dr. Shivarama Karanth Nagar"},
                {id: 88, name: "Electronic City"},
                {id: 89, name: "Fraser Town"},
                {id: 90, name: "G.e.f."},
                {id: 91, name: "Gandhi Nagar"},
                {id: 92, name: "Ganga Nagar"},
                {id: 93, name: "Gangamma Circle"},
                {id: 94, name: "Gavipuram Extension"},
                {id: 95, name: "Gayathrinagar"},
                {id: 96, name: "Girinagar"},
                {id: 97, name: "Goraguntepalya"},
                {id: 98, name: "Gottigere"},
                {id: 99, name: "Govindapura"},
                {id: 100, name: "Gunjur"},
                {id: 101, name: "Guttahalli"},
                {id: 102, name: "H K P Road"},
                {id: 103, name: "H.a. Farm"},
                {id: 104, name: "H.B.R. Layout"},
                {id: 105, name: "H.k.p. Road"},
                {id: 106, name: "H.m.t"},
                {id: 107, name: "H.S.R Layout"},
                {id: 108, name: "HAL 2nd Stage"},
                {id: 109, name: "Hampinagar"},
                {id: 110, name: "Hanumanth Nagar"},
                {id: 111, name: "Haragadde"},
                {id: 112, name: "Hebbagodi"},
                {id: 113, name: "Hebbal"},
                {id: 114, name: "Hegde Nagar"},
                {id: 115, name: "Hennagara"},
                {id: 116, name: "Hennur Main Road"},
                {id: 117, name: "Herohalli"},
                {id: 118, name: "Hessarghatta Road"},
                {id: 119, name: "High Court"},
                {id: 120, name: "High Grounds"},
                {id: 121, name: "Hmt"},
                {id: 122, name: "Hongasandra"},
                {id: 123, name: "Hoodi"},
                {id: 124, name: "Horamavu"},
                {id: 125, name: "Hormavu"},
                {id: 126, name: "Hosakerehalli"},
                {id: 127, name: "Hoskote"},
                {id: 128, name: "Hosur Road"},
                {id: 129, name: "Hulimangala"},
                {id: 130, name: "Hulimavu"},
                {id: 131, name: "Hunsur Road"},
                {id: 132, name: "Huskur"},
                {id: 133, name: "Immedihalli"},
                {id: 134, name: "Indian Institute Of Science"},
                {id: 135, name: "Indiranagar"},
                {id: 136, name: "Indlawadi Pura"},
                {id: 137, name: "Infantry Road"},
                {id: 138, name: "Isro Layout"},
                {id: 139, name: "J C Nagar"},
                {id: 140, name: "J.P. Nagar"},
                {id: 141, name: "Jakkur"},
                {id: 142, name: "Jalahalli"},
                {id: 143, name: "Jalahalli West"},
                {id: 144, name: "Jalavayuvihar"},
                {id: 145, name: "Jayamahal Extn"},
                {id: 146, name: "Jayamahal Road"},
                {id: 147, name: "Jayanagar"},
                {id: 148, name: "Jaylakshmi Puram"},
                {id: 149, name: "Jeevanbhimanagar"},
                {id: 150, name: "Jigani"},
                {id: 151, name: "Jogapalya"},
                {id: 152, name: "K H B Colony"},
                {id: 153, name: "K R Puram"},
                {id: 154, name: "K. G. Road"},
                {id: 155, name: "K.d. Road"},
                {id: 156, name: "Kacharakanahalli"},
                {id: 157, name: "Kadugodi"},
                {id: 158, name: "Kagalipura"},
                {id: 159, name: "Kaikondarhalli"},
                {id: 160, name: "Kaikondrahalli"},
                {id: 161, name: "Kakolu"},
                {id: 162, name: "Kalkere"},
                {id: 163, name: "Kalkunte"},
                {id: 164, name: "Kalyan Nagar"},
                {id: 165, name: "Kamakshipalya"},
                {id: 166, name: "Kammanahalli"},
                {id: 167, name: "Kanakanagar"},
                {id: 168, name: "Kanakapura Road"},
                {id: 169, name: "Kannamangala"},
                {id: 170, name: "Kanteeravanagar"},
                {id: 171, name: "Kasavanahalli"},
                {id: 172, name: "Kasturi Nagar"},
                {id: 173, name: "Kathriguppe"},
                {id: 174, name: "Kempapur Agrahara"},
                {id: 175, name: "Kempe Gowda Road"},
                {id: 176, name: "Kenchanahalli"},
                {id: 177, name: "Kenchanapura Village"},
                {id: 178, name: "Kengeri"},
                {id: 179, name: "Kodigehalli"},
                {id: 180, name: "Konanakunte"},
                {id: 181, name: "Koramangala"},
                {id: 182, name: "Kothanur"},
                {id: 183, name: "Krishnarajapuram"},
                {id: 184, name: "Kudlu Gate"},
                {id: 185, name: "Kumaraswamy Layout"},
                {id: 186, name: "Kumbalagodu"},
                {id: 187, name: "Kumbalgodu"},
                {id: 188, name: "Kundalahalli"},
                {id: 189, name: "Laggere"},
                {id: 190, name: "Lakkasandra"},
                {id: 191, name: "Kasavanahalli"},
                {id: 192, name: "Lalbagh Rd."},
                {id: 193, name: "Langford Town"},
                {id: 194, name: "Lavelle Road"},
                {id: 195, name: "LB Shastri Nagar"},
                {id: 196, name: "Lingarajapuram"},
                {id: 197, name: "Lottegollahalli"},
                {id: 198, name: "M. G. Road"},
                {id: 199, name: "Madhavan Park"},
                {id: 200, name: "Madivala"},
                {id: 201, name: "Magadi Road"},
                {id: 202, name: "Magrath Road"},
                {id: 203, name: "Mahadevpura"},
                {id: 204, name: "Mahalakshmipuram"},
                {id: 205, name: "Mahatma Gandhi Road"},
                {id: 206, name: "Majestic"},
                {id: 207, name: "Mallathahalli"},
                {id: 208, name: "Malleswaram"},
                {id: 209, name: "Malleswaram West"},
                {id: 210, name: "Malur"},
                {id: 211, name: "Marathahalli"},
                {id: 212, name: "Maruthi Sevanagar"},
                {id: 213, name: "Mathikere"},
                {id: 214, name: "Mavalli"},
                {id: 215, name: "Medimallasandra"},
                {id: 216, name: "Mico Layout"},
                {id: 217, name: "Milk Colony"},
                {id: 218, name: "Millers Road"},
                {id: 219, name: "Minerva Circle"},
                {id: 220, name: "Msrit"},
                {id: 221, name: "Mundur"},
                {id: 222, name: "Museum Road"},
                {id: 223, name: "Muthanallur"},
                {id: 224, name: "Muthusandra"},
                {id: 225, name: "Mysore Road"},
                {id: 226, name: "Nagarabhavi"},
                {id: 227, name: "Nagarbhavi"},
                {id: 228, name: "Nagasandra"},
                {id: 229, name: "Nagavara"},
                {id: 230, name: "Nagvarpalya Main Road"},
                {id: 231, name: "Nal"},
                {id: 232, name: "Nandhini Layout"},
                {id: 233, name: "Nandi Durg Road"},
                {id: 234, name: "Nayandahalli"},
                {id: 235, name: "Nelakadiranahalli"},
                {id: 236, name: "Nelamangala"},
                {id: 237, name: "New Thippasandra"},
                {id: 238, name: "Niketan"},
                {id: 239, name: "Off Hennur Road"},
                {id: 240, name: "Old Airport Road"},
                {id: 241, name: "Old Madras Road"},
                {id: 242, name: "Outer Ring Road"},
                {id: 243, name: "Padmanabhanagar"},
                {id: 244, name: "Palace Guttahalli"},
                {id: 245, name: "Palace Road"},
                {id: 246, name: "Pampamahakavi Road"},
                {id: 247, name: "Panathur"},
                {id: 248, name: "Peenya"},
                {id: 249, name: "R V Niketan"},
                {id: 250, name: "R.T. Nagar"},
                {id: 251, name: "Race Course Road"},
                {id: 252, name: "Raj Bhavan Road"},
                {id: 253, name: "Raja Rajeshwari Nagar"},
                {id: 254, name: "RajajiNagar"},
                {id: 255, name: "Rajvi Nagar"},
                {id: 256, name: "Ram Krishna Nagar"},
                {id: 257, name: "Ram Murthy Nagar"},
                {id: 258, name: "Ramagondana Halli"},
                {id: 259, name: "Ramagondana Halli"},
                {id: 260, name: "Ramamurthy Nagar"},
                {id: 261, name: "Rameshnagar"},
                {id: 262, name: "Ramohalli"},
                {id: 263, name: "Residency Road"},
                {id: 264, name: "Richmond Road"},
                {id: 265, name: "RMV Extension"},
                {id: 266, name: "S.R. Nagar"},
                {id: 267, name: "Sadahalli"},
                {id: 268, name: "Sadashiv Nagar"},
                {id: 269, name: "Sahakara Nagar"},
                {id: 270, name: "Sakalavara"},
                {id: 271, name: "Samethanahalli"},
                {id: 272, name: "Sampangirama Nagar"},
                {id: 273, name: "Sanjay Nagar"},
                {id: 274, name: "Sankey Road"},
                {id: 275, name: "Sarakki Main Road."},
                {id: 276, name: "Sarjapur"},
                {id: 277, name: "Sarjapur Road"},
                {id: 278, name: "Seshadri Road"},
                {id: 279, name: "Seshadripuram"},
                {id: 280, name: "Shampura"},
                {id: 281, name: "Shanthinagar"},
                {id: 282, name: "Shettigere"},
                {id: 283, name: "Shivaji Nagar"},
                {id: 284, name: "Shivakote"},
                {id: 285, name: "Shrirampuram"},
                {id: 286, name: "Siddapura Rd."},
                {id: 287, name: "Silk Board Junction"},
                {id: 288, name: "Silvepura"},
                {id: 289, name: "Singanayakanahalli"},
                {id: 290, name: "Singasandra"},
                {id: 291, name: "Sivan Chetty Gardens"},
                {id: 292, name: "Somanhalli"},
                {id: 293, name: "Sompura Gate"},
                {id: 294, name: "Sri Chowdeshwari"},
                {id: 295, name: "Sri Ram Puram"},
                {id: 296, name: "Srirampuram"},
                {id: 297, name: "St. Mark's Road"},
                {id: 298, name: "St. Thomas Town"},
                {id: 299, name: "Subramanyapura"},
                {id: 300, name: "Sulikere"},
                {id: 301, name: "Tarabanahalli"},
                {id: 302, name: "Taralu"},
                {id: 303, name: "Tataguni"},
                {id: 304, name: "Thalaghattapura"},
                {id: 305, name: "Thambuchetty Palya"},
                {id: 306, name: "Thanisandra Road"},
                {id: 307, name: "Thattekuppe"},
                {id: 308, name: "Thaverekere Road"},
                {id: 309, name: "Thyagarajanagar"},
                {id: 310, name: "Tilaknagar"},
                {id: 311, name: "Tumkur Road"},
                {id: 312, name: "Udaypura"},
                {id: 313, name: "Ullalu Upanagara"},
                {id: 314, name: "Ulsoor"},
                {id: 315, name: "Uttarahalli Main Road"},
                {id: 316, name: "V.v. Mahal"},
                {id: 317, name: "Varthur"},
                {id: 318, name: "Vasanth Nagar"},
                {id: 319, name: "Venkatarangapura"},
                {id: 320, name: "Venkateshapura"},
                {id: 331, name: "Vidhana Soudha"},
                {id: 322, name: "Vidyaranyapura"},
                {id: 323, name: "Vignan Nagar"},
                {id: 324, name: "Vijayanagar"},
                {id: 325, name: "Vimanapura"},
                {id: 326, name: "Virgonagar"},
                {id: 327, name: "Vishweshwaraiah Layout"},
                {id: 328, name: "Viswaneedam"},
                {id: 329, name: "Vittal Mallya Road"},
                {id: 330, name: "Vivek Nagar"},
                {id: 331, name: "Vyalikaval Extn."},
                {id: 332, name: "West Of Chord Road"},
                {id: 333, name: "Whitefield"},
                {id: 334, name: "Wilson Garden"},
                {id: 335, name: "Wipro Limited"},
                {id: 336, name: "Yelachenahalli"},
                {id: 337, name: "Yelahanaka"},
                {id: 338, name: "Yelahanaka - A. F. Road"},
                {id: 339, name: "Yemalur"},
                {id: 340, name: "Yeshwanthpura"},
                {id: 341, name: "Yeswanthpur"}
            ];
            var returnLocalityName;
            localityArray.forEach(function (locality) {
                if(locality.id == id){
                    console.log(locality.name);
                    returnLocalityName = locality.name;
                    return true;
                }
            });
            return returnLocalityName;
        }
        function getJobName(id){
            var jobArray = [
                {id: 1, name: "BPO - Voice"},
                {id: 2, name: "BPO - Non Voice"},
                {id: 3, name: "Beautician"},
                {id: 4, name: "Cashier"},
                {id: 5, name: "Cook"},
                {id: 6, name: "Delivery Boy"},
                {id: 7, name: "Data Entry"},
                {id: 8, name: "Driver"},
                {id: 9, name: "Field Sales"},
                {id: 10, name: "Hair Dresser"},
                {id: 11, name: "Massage Therapist"},
                {id: 12, name: "Receptionist"},
                {id: 13, name: "Steward"},
                {id: 14, name: "Store Manager"},
                {id: 15, name: "Telecaller"},
                {id: 16, name: "Waiter"}
            ];
            var returnJobName;
            jobArray.forEach(function (job) {
                if(job.id == id){
                    console.log(job.name);
                    returnJobName = job.name;
                    return true;
                }
            });
            return returnJobName;
        }

        function processDataCheck(returnedData) {
            var parent = $('.preferredLocation')[0];
            returnedData.forEach(function (locality) {
                var l = document.createElement("li");
                l.textContent = getLocalityName(locality.candidateLocalityLocalityId);
                parent.appendChild(l);
            });

        }
        function processDataCheckJob(returnedData) {
            console.log(returnedData);
            var parent = $('.preferredJobs')[0];
            returnedData.forEach(function (job) {
                var l = document.createElement("li");
                l.textContent = getJobName(job.candidateJobJobId);
                parent.appendChild(l);
            });

        }
        $(document).ready(function(){
            try {
                $.ajax({
                    type: "GET",
                    url: "/getCandidateLocality/" + localStorage.getItem("id"),
                    data: false,
                    contentType: false,
                    processData: false,
                    success: processDataCheck
                });
            } catch (exception) {
                console.log("exception occured!!" + exception);
            }

            try {
                $.ajax({
                    type: "GET",
                    url: "/getCandidateJob/" + localStorage.getItem("id"),
                    data: false,
                    contentType: false,
                    processData: false,
                    success: processDataCheckJob
                });
            } catch (exception) {
                console.log("exception occured!!" + exception);
            }

            var userMobile = localStorage.getItem("mobile");
            var userName = localStorage.getItem("name");
            if(userMobile == null){
                $('#noUser').show();
                $('#userExist').hide();
            }
            else{
                document.getElementById("helloMsg").innerHTML = "Hello " + userName + "!";
                document.getElementById("userName").innerHTML = userName;
                document.getElementById("userMobile").innerHTML = userMobile;
                $('#noUser').hide();
                $('#userExist').show();
                $('#doneAssessment').hide();
                $('#takeAssessment').hide();
            }

        });
        function logoutUser() {
            localStorage.clear();
            try {
                $.ajax({
                    type: "GET",
                    url: "/logoutUser",
                    data: false,
                    contentType: false,
                    processData: false,
                });
            } catch (exception) {
                console.log("exception occured!!" + exception);
            }
            window.location = "/";

        }
    </script>
    <script type="text/javascript">
      var options = {'showRowNumber': true};
      var data;
      var query = new google.visualization.Query('https://docs.google.com/spreadsheets/d/1HwEWPzZD4BFCyeRf5HO_KqNXyaMporxYQfg5lhOoA2g/edit#gid=496359801');

      function sendAndDraw() {
          // Send the query with a callback function.
          var val = localStorage.getItem("mobile");
          query.setQuery('select C where C=' + val);
          query.send(handleQueryResponse);
      }

      function handleQueryResponse(response) {
          if (response.isError()) {
              return;
          }
          data = response.getDataTable();
          new google.visualization.Table(document.getElementById('table')).draw(data, options);
          var data2 = document.getElementsByClassName('google-visualization-table-td google-visualization-table-td-number').length;
          if(data2>0) {
              $('#doneAssessment').show();
              $('#takeAssessment').hide();
          }
          else{
              $('#doneAssessment').hide();
              $('#takeAssessment').show();
          }
      }
      google.setOnLoadCallback(sendAndDraw);
    </script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button> <a class="navbar-brand" href="#"><img src="/assets/img/logo.png" height="40px" style="margin-top: -8px;"></a>
            </div>

            <div class="collapse navbar-collapse" id="navigationbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="tel:+918880007799">JOB HOTLINE 8880007799</a></li>
                    <li><a><div id="helloMsg"></div></a></li>
                    <li style="cursor: hand" onclick="logoutUser()"><a>Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="table" style="display: none;"></div>

    <div class="sectionThree" id="noUser" style="display: none;">
        <div class="row" style="text-align: center">
            <div class="noUser">
                <h5>User not logged in!</h5>
            </div>
        </div>
    </div>

    <div class="sectionDashboard" style="text-align: left" id="userExist">
        <div class="row" style="text-align: center">
            <h3>Welcome to Trujobs!<br></h3>
        </div>
        <br>
        <div class="material_grid">
            <div class="dashboardHeader">
                <h3>PROFILE INFORMATION</h3 >
            </div>
            <br>

            <div class="row" style="margin-left: 12%; margin-right: 12%; padding-top: 4%">
                <div class="col-sm-5">
                    <div class="row" style="padding-left: 5%">
                        <div style="display : inline-block"><img src="/assets/img/user.png" height="30px;"></div>
                        <div style="margin-left: 4px; display: inline-block" id="userName"></div>
                    </div>
                </div>
                <div class="col-sm-2">
                        &nbsp;
                </div>
                <div class="col-sm-5">
                    <div class="row" style="padding-left: 5%">
                        <div style="display : inline-block"><img src="/assets/img/phone.png" height="30px;"></div>
                        <div style="margin-left: 4px; display: inline-block" id="userMobile"></div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row" style="margin-left: 12%; margin-right: 12%; padding-bottom: 4%;">
                <div class="col-sm-5">
                    <div class="row" style="padding-left: 5%">
                        <div style="display : inline-block"><img src="/assets/img/job.png" height="30px;"></div>
                        <div style="margin-left: 4px; display: inline-block" >Interested Jobs:</div>
                    </div>
                    <ul class="preferredJobs" style="margin-left: 20px">
                    </ul>
                </div>
                <div class="col-sm-2">
                </div>
                <div class="col-sm-5">
                    <div class="row" style="padding-left: 5%">
                        <div style="display : inline-block"><img src="/assets/img/location.png" height="30px;"></div>
                        <div style="margin-left: 4px; display: inline-block">Preferred Location:
                        </div>
                    </div>
                    <ul class="preferredLocation" style="margin-left: 20px">
                  </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="material_grid">
            <div class="dashboardHeader">
                <h3>SKILL ASSESSMENT</h3 >
            </div>
            <div class="dashboardBody">
                <div id="takeAssessment" style="padding: 4%; display: none">
                    <a href="https://docs.google.com/forms/d/1BmjmKBmTh1KcOmOJ0Le_d9Y1o75hEI-waRNPRXnX8MI/viewform" target="_blank" style="color: #0B4063" >
                        <h3 style="text-align : center;">Complete our skill assessment today and find your right job. Start Assessment!</h3>
                    </a>
                </div>
                <div id="doneAssessment" style="padding: 4%; display: none">
                    <center>

                        <img style="text-align: center" src="/assets/img/tick.png" height="60px;">
                    </center>
                    <h3 style="text-align : center;">You have successfully completed your assessment. You will receive matching job details via SMS/email.</h3>
                    <h4 style="text-align : center;">Call +91 888 000 7799 for any queries.</h4>
                </div>
            </div>
        </div>
        <br>
        <div class="material_grid">
            <div class="dashboardHeader">
                <h3>KNOWLEDGE ZONE</h3>
            </div>
            <div class="row" style="text-align: center; padding: 4%;">
                <div class="col-sm-4">
                    <iframe frameborder="0" src="https://www.youtube.com/embed/OjBMvx0e3zQ?hl=en&amp;cc_load_policy=0&amp;loop=0&amp;iv_load_policy=1&amp;fs=1&amp;showinfo=1">
                    </iframe>
                </div>
                <div class="col-sm-4">
                    <iframe frameborder="0" src="https://www.youtube.com/embed/gnqzM6FWgTE?hl=en&amp;cc_load_policy=0&amp;loop=0&amp;iv_load_policy=1&amp;fs=1&amp;showinfo=1">
                    </iframe>
                </div>
                <div class="col-sm-4">
                    <iframe frameborder="0" src="https://www.youtube.com/embed/H3cH2wEQiSw?hl=en&amp;cc_load_policy=0&amp;loop=0&amp;iv_load_policy=1&amp;fs=1&amp;showinfo=1">
                    </iframe>
                </div>

            </div>
        </div>
    </div>


</body>
</html>