<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard - Trujobs.in</title>

    <meta name="keywords" content="freshers jobs, driver jobs, delivery boy jobs, field sales agent,call center jobs, BPO jobs, data entry jobs, back office jobs, receptionist jobs, beautician jobs, waiter jobs, cook jobs, restaurant jobs, cashier jobs">

        <!-- Bootstrap Core CSS -->
    <link href="http://sbootstrap.startbootstrapc.netdna-cdn.com/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">

        <!-- Start Bootstrap Custom CSS -->

    <link href="http://sbootstrap.startbootstrapc.netdna-cdn.com/assets/css/startbootstrap.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="/assets/img/icon.png">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/assets/css/token-input.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/token-input-facebook.css" type="text/css" />
    <script type="text/javascript" src="/assets/js/jquery.tokeninput.js"></script>
    <script type="text/javascript" src="//www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1', {packages: ['table']});
    </script>

    <script>
        var localityArray = [];
        var candidateLocalityArray = [];
        var jobArray = [];
        var candidateJobArray = [];
        function getLocality(){
            return localityArray;
        }
        function getJob(){
            return jobArray;
        }

        function getCandidateLocality(){
            return candidateLocalityArray;
        }

        function getCandidateJob(){
            return candidateJobArray;
        }

        function processDataCheck(returnedData) {
            var parent = $('.preferredLocation')[0];
            returnedData.forEach(function (locality) {
                var l = document.createElement("li");
                l.textContent = locality.locality.localityName;
                parent.appendChild(l);

                var id = locality.localityId;
                var name = locality.locality.localityName;
                var item = {}
                item ["id"] = id;
                item ["name"] = name;
                candidateLocalityArray.push(item);
            });
        }
        function processDataCheckJob(returnedData) {
            var parent = $('.preferredJobs')[0];
            returnedData.forEach(function (job) {
                var l = document.createElement("li");
                l.textContent = job.jobRole.jobName;
                parent.appendChild(l);

                var id = job.jobRole.jobRoleId;
                var name = job.jobRole.jobName;
                var item = {}
                item ["id"] = id;
                item ["name"] = name;
                candidateJobArray.push(item);
            });
        }
        function processDataCheckLocality(returnedData) {
            returnedData.forEach(function(locality)
            {
                var id = locality.localityId;
                var name = locality.localityName;
                var item = {}
                item ["id"] = id;
                item ["name"] = name;
                localityArray.push(item);
            });
        }
        function processDataCheckJobs(returnedData) {
            returnedData.forEach(function(job)
            {
                var id = job.jobId;
                var name = job.jobName;
                var item = {}
                item ["id"] = id;
                item ["name"] = name;
                jobArray.push(item);
            });
        }
        $(document).ready(function(){
            try {
                $.ajax({
                    type: "GET",
                    url: "/getAllLocality",
                    data: false,
                    contentType: false,
                    processData: false,
                    success: processDataCheckLocality
                });
            } catch (exception) {
                console.log("exception occured!!" + exception);
            }
            try {
                $.ajax({
                    type: "GET",
                    url: "/getAllJobs",
                    data: false,
                    contentType: false,
                    processData: false,
                    success: processDataCheckJobs
                });
            } catch (exception) {
                console.log("exception occured!!" + exception);
            }
            try {
                $.ajax({
                    type: "GET",
                    url: "/getCandidateLocality/" + localStorage.getItem("id"),
                    data: false,
                    contentType: false,
                    processData: false,
                    success: processDataCheck
                });
            } catch (exception) {
                console.log("exception occured!!" + exception);
            }
            try {
                $.ajax({
                    type: "GET",
                    url: "/getCandidateJob/" + localStorage.getItem("id"),
                    data: false,
                    contentType: false,
                    processData: false,
                    success: processDataCheckJob
                });
            } catch (exception) {
                console.log("exception occured!!" + exception);
            }

            var userMobile = localStorage.getItem("mobile");
            var userName = localStorage.getItem("name");

           if(userMobile != null){
               document.getElementById("helloMsg").innerHTML = "Hello " + userName + "!";
               document.getElementById("userName").innerHTML = userName;
               document.getElementById("userMobile").innerHTML = userMobile;
               $('#userExist').show();
               $('#doneAssessment').hide();
               $('#takeAssessment').hide();
           }
           else{
               logoutUser();
               window.location = "/";
           }

        });
        function logoutUser() {
            localStorage.clear();
            try {

                $.ajax({
                    type: "GET",
                    url: "/logoutUser",
                    data: false,
                    contentType: false,
                    processData: false,
                });
            } catch (exception) {
                console.log("exception occured!!" + exception);
            }
            window.location = "/";
        }

    </script>
    <script type="text/javascript">
      var options = {'showRowNumber': true};
      var data;
      var query = new google.visualization.Query('https://docs.google.com/spreadsheets/d/1HwEWPzZD4BFCyeRf5HO_KqNXyaMporxYQfg5lhOoA2g/edit#gid=496359801');

      function sendAndDraw() {
          var val = localStorage.getItem("mobile");
          query.setQuery('select C where C=' + val.substring(3, 13));
          query.send(handleQueryResponse);
      }

      function handleQueryResponse(response) {
          if (response.isError()) {
              return;
          }
          data = response.getDataTable();
          new google.visualization.Table(document.getElementById('table')).draw(data, options);
          var data2 = document.getElementsByClassName('google-visualization-table-td google-visualization-table-td-number').length;
          if(data2>0) {
              $('#doneAssessment').show();
              $('#takeAssessment').hide();
          }
          else{
              $('#doneAssessment').hide();
              $('#takeAssessment').show();
          }
      }
      google.setOnLoadCallback(sendAndDraw);
    </script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button> <a class="navbar-brand" href="#"><img src="/assets/img/logo.png" height="40px" style="margin-top: -8px;"></a>
            </div>

            <div class="collapse navbar-collapse" id="navigationbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="tel:+918880007799">JOB HOTLINE 8880007799</a></li>
                    <li><a><div id="helloMsg"></div></a></li>
                    <li style="cursor: hand" onclick="logoutUser()"><a>Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="table" style="display: none;"></div>

    <div class="sectionDashboard" style="text-align: left" id="userExist">
        <div class="row" style="text-align: center">
            <h3>Welcome to Trujobs!<br></h3>
        </div>
        <br>
        <div class="material_grid">
            <div class="dashboardHeader">
                <h3>PROFILE INFORMATION</h3 >
            </div>
            <br>

            <div class="row" style="margin-left: 12%; margin-right: 12%; padding-top: 4%">
                <div class="col-sm-5">
                    <div class="row" style="padding-left: 5%">
                        <div style="display : inline-block"><img src="/assets/img/user.png" height="30px;"></div>
                        <div style="margin-left: 4px; display: inline-block" id="userName"></div>
                    </div>
                </div>
                <div class="col-sm-2">
                        &nbsp;
                </div>
                <div class="col-sm-5">
                    <div class="row" style="padding-left: 5%">
                        <div style="display : inline-block"><img src="/assets/img/phone.png" height="30px;"></div>
                        <div style="margin-left: 4px; display: inline-block" id="userMobile"></div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row" style="margin-left: 12%; margin-right: 12%; padding-bottom: 4%;">
                <div class="col-sm-5">
                    <div class="row" style="padding-left: 5%">
                        <div style="display : inline-block"><img src="/assets/img/job.png" height="30px;"></div>
                        <div style="margin-left: 4px; display: inline-block" >Interested Jobs:</div>

                    </div>
                    <ul class="preferredJobs" style="margin-left: 20px">
                    </ul>

                </div>
                <div class="col-sm-2">
                </div>
                <div class="col-sm-5">
                    <div class="row" style="padding-left: 5%">
                        <div style="display : inline-block"><img src="/assets/img/location.png" height="30px;"></div>
                        <div style="margin-left: 4px; display: inline-block">Preferred Location:
                        </div>
                    </div>
                    <ul class="preferredLocation" style="margin-left: 20px">
                  </ul>

                </div>
            </div>
        </div>
        <br>
        <div class="material_grid">
            <div class="dashboardHeader">
                <h3>SKILL ASSESSMENT</h3 >
            </div>
            <div class="dashboardBody">
                <div id="takeAssessment" style="padding: 4%; display: none">
                    <a href="https://docs.google.com/forms/d/1BmjmKBmTh1KcOmOJ0Le_d9Y1o75hEI-waRNPRXnX8MI/viewform" target="_blank" style="color: #0B4063" >
                        <h3 style="text-align : center;">Complete our skill assessment today and find your right job. Start Assessment!</h3>
                    </a>
                </div>
                <div id="doneAssessment" style="padding: 4%; display: none">
                    <center>

                        <img style="text-align: center" src="/assets/img/tick.png" height="60px;">
                    </center>
                    <h3 style="text-align : center;">You have successfully completed your assessment. You will receive matching job details via SMS/email.</h3>
                    <h4 style="text-align : center;">Call +91 888 000 7799 for any queries.</h4>
                </div>
            </div>
        </div>
        <br>
        <div class="material_grid">
            <div class="dashboardHeader">
                <h3>KNOWLEDGE ZONE</h3>
            </div>
            <div class="row" style="text-align: center; padding: 4%;">
                <div class="col-sm-4">
                    <iframe onclick="_gaq.push(['_trackEvent', 'video', 'clicked', 'contact us', 'true'])" frameborder="0" src="https://www.youtube.com/embed/OjBMvx0e3zQ?hl=en&amp;cc_load_policy=0&amp;loop=0&amp;iv_load_policy=1&amp;fs=1&amp;showinfo=1">
                    </iframe>
                </div>
                <div class="col-sm-4">
                    <iframe onclick="_gaq.push(['_trackEvent', 'video', 'clicked', 'contact us', 'true'])" frameborder="0" src="https://www.youtube.com/embed/gnqzM6FWgTE?hl=en&amp;cc_load_policy=0&amp;loop=0&amp;iv_load_policy=1&amp;fs=1&amp;showinfo=1">
                    </iframe>
                </div>
                <div class="col-sm-4">
                    <iframe onclick="_gaq.push(['_trackEvent', 'video', 'clicked', 'contact us', 'true'])" frameborder="0" src="https://www.youtube.com/embed/H3cH2wEQiSw?hl=en&amp;cc_load_policy=0&amp;loop=0&amp;iv_load_policy=1&amp;fs=1&amp;showinfo=1">
                    </iframe>
                </div>

            </div>
        </div>
    </div>


</body>
</html>