<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Trujobs - Dashboard</title>
    <meta name="keywords" content="freshers jobs, driver jobs, delivery boy jobs, field sales agent,call center jobs, BPO jobs, data entry jobs, back office jobs, receptionist jobs, beautician jobs, waiter jobs, cook jobs, restaurant jobs, cashier jobs">

      <!-- Bootstrap Core CSS -->
    <link href="http://sbootstrap.startbootstrapc.netdna-cdn.com/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">

      <!-- Start Bootstrap Custom CSS -->
    <link href="http://sbootstrap.startbootstrapc.netdna-cdn.com/assets/css/startbootstrap.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="/assets/img/icon.png">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
          var userMobile = localStorage.getItem("mobile");
          if(userMobile == null){
            $('#noUser').show();
            $('#userExist').hide();
          }
          else{
            $('#noUser').hide();
            $('#userExist').show();
          }

        });
        function logout() {
          localStorage.clear();
        }
        function assessmentTest() {
          window.location = "/assessment";
        }
    </script>
  </head>
  <body>
    <div class="sectionThree" id="noUser" style="display: none;">
      <div class="row" style="text-align: center">
        <div class="noUser">
          <h5>User not logged in!</h5>
        </div>
      </div>
    </div>

    <div class="sectionThree" id="userExist">
      <div class="row" style="text-align: center">
        <img src="/assets/img/logo.png" height="60px" style="margin-top: -8px;">
        <h3>Dashboard</h3>
        <h5 onclick="logout()"><a style="color: #2980b9" href="/logIn">Logout</a></h5>
      </div>
      <br>
      <button type="button" class="btn floating" onclick="assessmentTest()">Take Assessment Test</button>
    </div>

      <!-- Including Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/scroll.js"></script>
    <script type="text/javascript" src="/assets/js/login.js"></script>

  </body>
</html>