<div class="sectionFiveMain">
    <div class="sectionFive" id="contact" itemscope itemtype ="http://schema.org/contactPoint">
        <span itemprop="email">Write us at: <a href="mailto:info@@trujobs.in"><font color="#f0f8ff">info@@trujobs.in</font></a></span>
        <br>
        <span itemprop="telephone"> Have queries? Talk to us at 8880007799</span>
        <br>
        Follow us on &nbsp;
        <a href="https://www.facebook.com/trujobs" target="_blank">
            <img src="/assets/img/fb.png" width="48px"
                 onmouseover="this.src='/assets/img/fb_blue.png'"
                 onmouseout="this.src='/assets/img/fb.png'"
                 border="0" alt=""/>
        </a>
    </div>
    <div class="footer" itemscope itemtype ="http://schema.org/contactPoint">
        © 2016 Trujobs.in | Bengaluru, India. All Right Reserved.
        <a href="/privacy" target="/privacy" title="Privacy Policy"> <font color="#f0f8ff">
            Privacy Policy&nbsp;&nbsp;</font> </a>

    </div>
</div>