<div class="sectionFiveMain">
    <div class="sectionFive" id="contact" itemscope itemtype ="http://schema.org/contactPoint">
        <div class="row">
            <div class="col-sm-8">
                    <div class="row" id="jobRolesFooterContainer">
                        <div class="col-sm-3 col-xs-6" style="text-align: left" id="jobRoleFooter_1">

                        </div>
                        <div class="col-sm-3 col-xs-6" style="text-align: left" id="jobRoleFooter_2">

                        </div>
                        <div class="col-sm-3 col-xs-6" style="text-align: left" id="jobRoleFooter_3">

                        </div>
                        <div class="col-sm-3 col-xs-6" style="text-align: left" id="jobRoleFooter_4">

                        </div>
                    </div>
            </div>
            <div class="col-sm-4" id="contact_container">
                <span itemprop="email">Write us at: <a href="mailto:info@@trujobs.in"><font color="#f0f8ff">info@@trujobs.in</font></a></span>
                <br>
                <span itemprop="telephone" style="margin-top: 5px"> Have queries? Talk to us at 8880007799</span>
                <br>
                <a href="https://www.facebook.com/trujobs" target="_blank">
                    <img src="/assets/img/fb.svg" style="margin-top: 10px;width:40px"
                         onmouseover="this.src='/assets/img/fb_blue.svg'"
                         onmouseout="this.src='/assets/img/fb.svg'"
                         border="0" alt=""/>
                </a>
            </div>
        </div>
    </div>
    <div class="footer" itemscope itemtype ="http://schema.org/contactPoint">
        © 2016 Trujobs.in | Bengaluru, India. All Right Reserved.
        <a href="/privacy" target="/privacy" title="Privacy Policy"> <font color="#f0f8ff">
            Privacy Policy&nbsp;&nbsp;</font> </a>
    </div>
</div>