<script>
    $(document).ready(function(){
        try {
            $.ajax({
                type: "POST",
                url: "/getAllJobs",
                data: false,
                contentType: false,
                processData: false,
                success: processDataCheckJobs
            });
        } catch (exception) {
            console.log("exception occured!!" + exception);
        }

    });

    function processDataCheckJobs(returnedData) {
        var jobRoleCount = Object.keys(returnedData).length;
        var jobRoleRowCount = Math.floor(jobRoleCount / 6); // 6 because we are showing 6 job roles in a row
        var startIndex = 0;
        for(var i=0;i<jobRoleRowCount; i++){
            setJobRoles(returnedData, startIndex);
            startIndex = startIndex + 6;
        }
    }

    function setJobRoles(returnedData, start){
        var count = 0;
        var parent = $("#jobRoleGrid");
        returnedData.forEach(function (jobRole) {
            if(count >= start && count < (start+6)){
                var rowDiv = document.createElement("div");
                rowDiv.className = "row";
                parent.append(rowDiv);

                var gridDiv = document.createElement("div");
                rowDiv.className = "col-md-2 col-sm-4 col-xs-6";
                rowDiv.style = "padding: 0px";
                rowDiv.appendChild(gridDiv);

                var jobAnchor = document.createElement("a");
                jobAnchor.onclick = function () {
                    window.location.href = "/job/" + jobRole.jobName.split("/").join('_') + "_jobs" + "/" + jobRole.jobRoleId;
                };
                gridDiv.appendChild(jobAnchor);

                var innerDiv = document.createElement("div");
                innerDiv.id = "jobRole";
                innerDiv.style = "padding-top: 20%; padding-bottom: 20%";
                jobAnchor.appendChild(innerDiv);

                var jobIcon = document.createElement("img");
                jobIcon.src = jobRole.jobRoleIcon;
                jobIcon.setAttribute('width', '50px');
                jobIcon.setAttribute('alt', jobRole.jobName);
                innerDiv.appendChild(jobIcon);

                var subDiv = document.createElement("div");
                subDiv.style = "margin-top: 6px";
                subDiv.textContent = jobRole.jobName;
                innerDiv.appendChild(subDiv);
            }
            count++;

            //checking when to end the loop
            if(count > start + 6){ return true; }
        });
    }

</script>

<div class="sectionTwo" style="display: table" id="jobs">
    <h3 id="jobVacancyHead">Job Roles</h3>
    <center>
        <div class="materialDash"></div>
    </center><br>

    <div id="jobRoleGrid" style="width: auto"></div>
</div>