<script>
       function fromShowPageToAllJobs(jobRole,jobId){
           window.location.href = "/job/"+jobRole+"/"+jobId;
       }
   </script>
<div class="sectionTwo" id="jobs">
  <h3 id="jobVacancyHead">Job Roles</h3>
  <center>
    <div class="materialDash"></div>
  </center><br>
    <!-- First row -->
  <div class="row">

  <div class="row">
    <div class="col-md-2 col-sm-4 col-xs-6" style="padding: 0">
      <a href="#" id="delivery_executive_jobs" onclick="fromShowPageToAllJobs(this.id,11)">
        <div id="jobRole" style="padding-top: 20%; padding-bottom: 20%">
          <img src="/assets/new/img/icons/d_executive.svg" width="50px" alt="Delivery Executive">
          <br><div style="margin-top: 6px" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
          <span itemprop="name">Delivery Jobs </span>
        </div>
        </div>
      </a>
    </div>

      <div class="col-md-2 col-sm-4 col-xs-6" style="padding: 0">
          <a href="#" id="driver_jobs" onclick="fromShowPageToAllJobs(this.id,12)">
              <div id="jobRole" style="padding-top: 20%; padding-bottom: 20%">
                  <img src="/assets/new/img/icons/driver.svg" width="50px" alt="Driver Job">
                  <br><div style="margin-top: 6px" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
                  <span itemprop="name"> Driver Jobs </span>
              </div>
              </div>
          </a>
      </div>
    <div class="col-md-2 col-sm-4 col-xs-6" style="padding: 0">
      <a href="#" id="beautician_jobs" onclick="fromShowPageToAllJobs(this.id,2)">
        <div id="jobRole" style="padding-top: 20%; padding-bottom: 20%">
          <img src="/assets/new/img/icons/beautician.svg" width="50px" alt="Beautician Jobs">
          <br><div style="margin-top: 6px" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
          <span itemprop="name">Beautician Jobs</span>
        </div>
        </div>
      </a>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6" style="padding: 0">
      <a href="#" id="sales_jobs" onclick="fromShowPageToAllJobs(this.id,18)">
        <div id="jobRole" style="padding-top: 20%; padding-bottom: 20%">
          <img src="/assets/new/img/icons/field_sales.svg" width="50px" alt="Sales Job">
          <br><div style="margin-top: 6px" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
          <span itemprop="name">Sales Jobs </span>
        </div>
        </div>
      </a>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6" style="padding: 0">
        <a href="#" id="store_manager_jobs" onclick="fromShowPageToAllJobs(this.id,29)">
          <div id="jobRole" style="padding-top: 20%; padding-bottom: 20%">
            <img src="/assets/new/img/icons/store_manager.svg" width="50px" alt="Store Manager Jobs">
            <br><div style="margin-top: 6px" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
            <span itemprop="name">Store Manager Jobs</span>
          </div>
          </div>
        </a>
      </div>
    <div class="col-md-2 col-sm-4 col-xs-6" style="padding: 0">
      <a href="#" id="warehouse_executive_jobs" onclick="fromShowPageToAllJobs(this.id,33)">
        <div id="jobRoleBottom" style="padding-top: 20%; padding-bottom: 20%">
          <img src="/assets/new/img/icons/Steward.svg" width="50px" alt="Warehouse Executive Jobs">
          <br><div style="margin-top: 6px" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
          <span itemprop="name">Warehouse Executive Jobs</span>
        </div>
        </div>
      </a>
    </div>
    @*<div class="col-md-2 col-sm-4 col-xs-6" style="padding: 0">
      <a href="#" id="cashier_jobs" onclick="fromShowPageToAllJobs(this.id,7)">
      <div id="jobRole" style="padding-top: 20%; padding-bottom: 20%">
        <img src="/assets/new/img/icons/cashier.svg" width="50px" alt="Cashier Job">
        <br><div style="margin-top: 6px" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
        <span itemprop="name"> Cashier Jobs </span>
      </div>
      </div>
      </a>
    </div>*@

    @*<div class="col-md-2 col-sm-4 col-xs-6" style="padding: 0">
      <a href="#" id="store_manager_jobs" onclick="fromShowPageToAllJobs(this.id,29)">
      <div id="jobRole" style="padding-top: 20%; padding-bottom: 20%">
        <img src="/assets/new/img/icons/store_manager.svg" width="50px" alt="Store Manager Job">
        <br><div style="margin-top: 6px" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
        <span itemprop="name"> Store Manager Job </span>
      </div>
      </div>
        </a>
    </div>*@

    @*<div class="col-md-2 col-sm-4 col-xs-6" style="padding: 0">
      <a href="#" id="data_entry_jobs" onclick="fromShowPageToAllJobs(this.id,10)">
      <div id="jobRole" style="padding-top: 20%; padding-bottom: 20%">
        <img src="/assets/new/img/icons/data_entry.svg" width="50px" alt="Data Entry Job">
        <br><div style="margin-top: 6px" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
        <span itemprop="name"> Data Entry Job </span>
      </div>
      </div>
        </a>
    </div>*@

    @*<div class="col-md-2 col-sm-4 col-xs-6" style="padding: 0">
      <a href="#" id="store_manager_job" onclick="fromShowPageToAllJobs(this.id,9)">
      <div id="jobRole" style="padding-top: 20%; padding-bottom: 20%">
        <img src="/assets/new/img/icons/chef.svg" width="50px" alt="Cook Job">
        <br><div style="margin-top: 6px" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
        <span itemprop="name"> Cook Jobs </span>
      </div>
      </div>
        </a>
    </div>*@
  </div>
    <!-- second row -->
  <div class="row">

    @*<div class="col-md-2 col-sm-4 col-xs-6" style="padding: 0">
      <a href="#" id="accountant_jobs" onclick="fromShowPageToAllJobs(this.id,1)">
      <div id="jobRole" style="padding-top: 20%; padding-bottom: 20%">
        <img src="/assets/new/img/icons/accountant.svg" width="50px">
        <br><div style="margin-top: 6px" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
        <span itemprop="name"> Accountant Jobs </span>
      </div>
      </div>
        </a>
    </div>*@

    @*<div class="col-md-2 col-sm-4 col-xs-6" style="padding: 0">
      <a href="#" id="receptionist_jobs" onclick="fromShowPageToAllJobs(this.id,25)">
      <div id="jobRole" style="padding-top: 20%; padding-bottom: 20%">
        <img src="/assets/new/img/icons/receptionist.svg" width="50px" alt="Receptionist Job">
        <br><div style="margin-top: 6px" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
        <span itemprop="name"> Receptionist Jobs </span>
      </div>
      </div>
        </a>
    </div>*@

    @*<div class="col-md-2 col-sm-4 col-xs-6" style="padding: 0">
      <a href="#" id="office_admin_jobs" onclick="fromShowPageToAllJobs(this.id,)">
      <div id="jobRole" style="padding-top: 20%; padding-bottom: 20%">
        <img src="/assets/new/img/icons/office_admin.svg" width="50px" alt="Office Admin Job">
        <br><div style="margin-top: 6px" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
        <span itemprop="name"> Office Admin Jobs </span>
      </div>
      </div>
        </a>
    </div>*@


  </div>
    <!-- Third row -->
  <div class="row">
    @*<div class="col-md-2 col-sm-4 col-xs-6" style="padding: 0">
      <a href="#" id="waiter_jobs" onclick="fromShowPageToAllJobs(this.id,28)">
      <div id="jobRoleRight" style="padding-top: 20%; padding-bottom: 20%">
        <img src="/assets/new/img/icons/waiter.svg" width="50px" alt="Waiter Job">
        <br><div style="margin-top: 6px" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
        <span itemprop="name"> Waiter Jobs </span>
      </div>
      </div>
      </a>
    </div>*@

    <div class="col-md-2 col-sm-4 col-xs-6" style="padding: 0">
      <a href="#" id="electrician_jobs" onclick="fromShowPageToAllJobs(this.id,14)">
      <div id="jobRoleRight" style="padding-top: 20%; padding-bottom: 20%">
        <img src="/assets/new/img/icons/electrician.svg" width="50px" alt="Electrician Job">
        <br><div style="margin-top: 6px" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
        <span itemprop="name"> Electrician Jobs </span>
      </div>
      </div>
      </a>
    </div>
  <div class="col-md-2 col-sm-4 col-xs-6" style="padding: 0">
    <a href="#" id="telecaller_jobs" onclick="fromShowPageToAllJobs(this.id,5)">
      <div id="jobRoleRight" style="padding-top: 20%; padding-bottom: 20%">
        <img src="/assets/new/img/icons/telecaller.svg" width="50px" alt="Telecaller Job">
        <br><div style="margin-top: 6px" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
        <span itemprop="name"> Telecaller Jobs </span>
      </div>
      </div>
    </a>
  </div>
    <div class="col-md-2 col-sm-4 col-xs-6" style="padding: 0">
      <a href="#" id="carpenter_jobs" onclick="fromShowPageToAllJobs(this.id,6)">
      <div id="jobRoleRight" style="padding-top: 20%; padding-bottom: 20%">
        <img src="/assets/new/img/icons/carpenter.svg" width="50px" alt="Carpenter Jobs">
        <br><div style="margin-top: 6px" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
        <span itemprop="name"> Carpenter Jobs </span>
      </div>
      </div>
        </a>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6" style="padding: 0">
      <a href="#" id="marketing_jobs" onclick="fromShowPageToAllJobs(this.id,26)">
      <div id="jobRoleRight" style="padding-top: 20%; padding-bottom: 20%">
        <img src="/assets/new/img/icons/field_sales.svg" width="50px" alt="Marketing Jobs">
        <br><div style="margin-top: 6px" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
        <span itemprop="name"> Marketing Jobs </span>
      </div>
      </div>
      </a>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6" style="padding: 0">
      <a href="#" id="hospitality_executive_jobs" onclick="fromShowPageToAllJobs(this.id,16)">
      <div id="jobRoleRight" style="padding-top: 20%; padding-bottom: 20%">
        <img src="/assets/new/img/icons/waiter.svg" width="50px" alt="Hospitality Executive Jobs">
        <br><div style="margin-top: 6px" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
        <span itemprop="name"> Hospitality Jobs </span>
      </div>
      </div>
      </a>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6" style="padding: 0">
      <a href="#" id="plumber_jobs" onclick="fromShowPageToAllJobs(this.id,24)">
      <div id="jobRoleNoBorder" style="padding-top: 20%; padding-bottom: 20%">
        <img src="/assets/new/img/icons/plumber.svg" width="50px" alt="Plumber Job">
        <br><div style="margin-top: 6px" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
        <span itemprop="name"> Plumber Jobs </span>
      </div>
      </div>
        </a>
    </div>
  </div>
</div>
    </div>