<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Trujobs - Best Jobs for Freshers and Experienced Candidates </title>

        <meta name="keywords" content="driving jobs, fresher jobs, jobs for freshers, job search sites, job posting, sales jobs, beautician jobs,
        medical transcription jobs, online job search, find jobs, receptionist jobs, admin jobs, office assistant jobs,
        plumbing work, teacher job, online teaching jobs, jobs in schools, teacher vacancy, teacher recruitment, entry level jobs,
        delivery boy jobs,call center jobs, BPO jobs, kpo jobs, job job job, data entry jobs, back office jobs,
        receptionist jobs, beautician jobs, experienced jobs, jobs in Bangalore, cashier jobs, entry level jobs,
        plumber jobs, electrician jobs, job search, accountant jobs, job vacancy, bangalore vacancy">

        <meta name="description" content="Search and apply for jobs online. Register for FREE and find best
        fresher and experienced jobs.Give a missed call at 8880007799 for best jobs." />

        <meta http-equiv="Cache-control" content="public">
            <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">

        <script type="text/javascript" src="/assets/js/jquery.min_1_12_0.js"></script>
        <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
        <link rel="icon" type="image/png" href="/assets/img/icon.png">
        <link rel="stylesheet" type="text/css" href="/assets/new/css/myStyle.css">


        <link rel="stylesheet" href="/assets/css/token-input-facebook.css" type="text/css" />
        <script type="text/javascript" src="/assets/js/jquery.tokeninput.js"></script>
        <script type="text/javascript" src="/assets/js/validation.js"></script>

        <script>
            localStorage.clear();
            $('html, body').css({
                'overflow': 'hidden',
                'height': '100%'
            });
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-77156203-1', 'auto');
          ga('send', 'pageview');
        </script>
        <script>
            $(document).ready(function(){
                $('#job_cards_inc').load('/jobPostCardView');
            });
        </script>

    </head>
    <body>

        <div id="preloader">
            <div id="loaderLogo">
                <img id="leaderLogo" src="/assets/new/img/logo-color.gif" alt="TruJobs Logo" height="40px">
            </div>
            <div id="status">&nbsp;</div>
        </div>

        <!-- Nav start -->
        <div id="nav_bar_inc"></div>
        <script>
            $(document).ready(function(){
              $('#nav_bar_inc').load('/navBar');
            });
        </script>
        <div class="container">
            <div id="fixed-menu" style="padding-bottom: 12px; padding-top: 8px; display: none" >
                <div id="leadFormBox" class="input-group">
                    <input type="text" class="form-control" placeholder="Enter mobile number" id="addLeadMobile" pattern="[7-9]{1}[0-9]{9}" maxlength="10">
                    <button class="btn btn-default" type="button" onclick="addLead()" id="addLeadMobileButton">Find Job Now</button>
                </div>
            </div>
        </div>

        <div>
            <div id="sectionOne">
                <font color="white">
                    <div class="row" style="margin-right: 0; margin-left: 0">
                        <div class="col-sm-9" id="headingMain">
                            <img src="/assets/img/image4.png" style="display: inline-block;" width="14%">
                            <div style="display: inline-block; width: auto;">
                                <h1 style="letter-spacing: 2px; text-align: left; margin: 10px;"><b><font size="5">Find Entry Level and Experienced Jobs </font></b></h1>
                                <h2 style="letter-spacing: 2px; margin: 10px; text-align: left"><font size="5">Call 8880007799 to find jobs in top companies!</font></h2>
                                <h4 style="letter-spacing: 2px; margin: 10px; text-align: left; display: inline-block; float: left">Download app from</h4>
                                <a href="https://play.google.com/store/apps/details?id=in.trujobs.dev.trudroid" target="_blank" style="padding-top: 2px; float: left">
                                    <img src="/assets/img/download_btn.png" alt="PlayStore Logo" height="40px"></a>
                            </div>
                        </div>
                    </div>
                </font>
            </div>
                <!-- End of sectionOne -->
        </div>
        <div class="leadBox">
            <form id="form_signup_candidate"  style="margin-top: 0%; margin-right: 2%; margin-left: 2%" class="form-horizontal" role="form" name="form_signup_candidate" >
                <h4 style="font-weight: bold">Job Seeker Registration</h4>
                <div class="row" id="firstNameLastName">
                    <div class="col-sm-6" style="padding: 0 4px 0 16px">
                        <input id="candidateFirstName" placeholder="First name" type="text" maxLength="49" class="form-control input-md">
                    </div>
                    <div class="col-sm-6" style="padding: 0 16px 0 4px">
                        <input id="candidateSecondName" placeholder="Last name" type="text" maxLength="49" class="form-control input-md candidateSecondNameMain" >
                    </div>
                </div>

                <input id="candidateMobile" style="margin-top: 8px" placeholder="What is your mobile no.?" name="candidateMobile" type="text" maxlength="10" class="form-control input-md" >

                <div style="margin-top: 8px">
                    <input type="text" id="candidateJobPref" placeholder="What jobs you are Interested in?">
                    <script type="text/javascript">
                    $(document).ready(function() {
                        $("#candidateJobPref").tokenInput(getJob(), {
                            theme: "facebook",
                            placeholder: "What jobs you are Interested? (Max: 3)",
                            hintText: "Start typing jobs (eg. Cook, Delivery boy..)",
                            minChars: 0,
                            tokenLimit: 3,
                            preventDuplicates: true
                        });
                    });
                    </script>
                </div>

                <div style="margin-top: 8px">
                    <input type="text" id="candidateLocality" style="margin-top: 4px">
                    <script type="text/javascript">
                    $(document).ready(function() {
                        $("#candidateLocality").tokenInput(getLocality(), {
                            theme: "facebook",
                            placeholder: "Where do you want to Work?",
                            minChars: 3,
                            hintText: "Start Typing Area (eg: Whitefield, Agara, etc..)",
                            preventDuplicates: true
                        });
                    });
                    </script>
                </div>

                <button type="submit" id="registerBtnSubmit" class="btn btn-primary" style="margin-top: 8px; padding-top: 3%; padding-bottom: 3%; padding-right: 8%; padding-left: 8%; width: 100%" >Register for FREE</button>
                    <!-- Text input-->
            </form>


            <div style="text-align: center">
                <div class="errorMsgText" id="alreadyMsgCandidate" style="margin-top: 2%;display: none;">
                    <h5>User Already Exists! Please <a data-toggle="modal" data-target="#myLoginModal" style="cursor: hand; color: #888888">Login</a> to Continue</h5>
                    <br>
                </div>
            </div>
        </div>

            <!-- start hot job -->
        <div id="applyToJobs">
            <h3 id="applyToJobsTitle">
                Hot Jobs this week
            </h3>
        </div>
        <div id="job_cards_inc"></div>

        <!--  Start Job Icons Box -->
        <div class="sectionTwo" style="display: table; width: 100%" id="jobs">
            <h3 id="jobVacancyHead">Click on Job Roles to View Jobs</h3>
            <center>
                <div class="materialDash"></div>
            </center><br>

            <div id="jobRoleGrid" style="width: auto"></div>
        </div>

        <div class="company_class">
            Companies Hiring From Us                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      </Us>
        </div>

        <center id="hiringCompanyContent">
            <div class="materialDash"></div>

            <div class="container-fluid" id="company_box">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-lg-1 visible-lg">
                                <a class="left carousel-control" href="#" style="padding-top: 36px; padding-left: 50px"  role="button" data-slide="prev"></a>
                            </div>
                            <div class="col-sm-10">
                                <div class="container-fluid" id="slider_logo">
                                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                            <!-- Wrapper for slides -->
                                        <div class="carousel-inner" id="hiringCompanies" role="listbox"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1 visible-lg">
                                <a class="right carousel-control" style="padding-top: 36px; padding-right: 50px" href="#" role="button" data-slide="next"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </center>

        <!-- App section -->
        <div class="appStoreContainer">
            <div class="row" style="padding:0%;margin:0%">
                <div class="col-xs-6" style="padding-left:4%">
                     <img id="appImg1" src="/assets/img/image1.png">
                     <img id="appImg2" src="/assets/img/image2.png">
                     <img id="appImg3" src="/assets/img/image3.png">
                </div>
                <div class="col-xs-6" id="playStore">
                    <h2>TruJobs Android App</h2>
                    <h4>Download TruJobs app from Google Play Store and apply to 1000+ jobs.</h4>
                        <div class="row" id="stepContainer">
                            <div class="col-sm-4">
                                <img id="step_image" src="/assets/img/step1.svg" style="height: 20px;">
                                <p>Download TruJobs app </p>
                            </div>
                            <div class="col-xs-4">
                                <img id="step_image"  src="/assets/img/step2.svg" style="height: 20px;">
                                <p>Register in less than a minute</p>
                            </div>
                            <div class="col-xs-4"  >
                                <img id="step_image"  src="/assets/img/step3.svg" style="height: 20px;">
                                <p>Apply to jobs and attend Interviews</p>
                            </div>
                        </div>
                        <div class="row" id="playStoreDownloadButtonContainer">
                            <a href="https://play.google.com/store/apps/details?id=in.trujobs.dev.trudroid" target="_blank">
                            <img src="/assets/img/download_btn.png" id="playStoreDownloadButton">
                            </a>
                        </div>
                    </div>
            </div>
        </div>

        <!-- Are you a candidate -->
        <div class="sectionThree" id="forCandidate">
            <div class="row" style="text-align: center">
                <div class="col-sm-6">
                    <h3>Are you a Candidate?</h3>
                    <br>
                    <center>
                        <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-1">
                                <img src="/assets/new/img/circle_1.svg" width="52px" alt="Free Registration">
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-8" id="steps" style="margin-top: 8px"><h4>Give a missed call to 8880007799</h4></div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-1">
                                <img src="/assets/new/img/circle_2.svg" width="52px" alt="Create Profile">
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-8" id="steps" style="margin-top: 8px"><h4>Create your Online Profile</h4></div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-1">
                                <img src="/assets/new/img/circle_3.svg" width="52px" alt="Job Interview">
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-8" id="steps" style="margin-top: 8px"><h4>Attend interviews and get job offers!</h4></div>
                        </div>
                        <br>
                        <a href="#sectionOne"><button id="registerBtn" class="btn btn-primary" style="padding: 2%"><font color="#ffffff">Register for FREE</font></button></a>
                    </center>
                </div>

                    <!-- Recruiter -->
                <div class="col-sm-6 hidden-xs" id="recruiterSection"></div>
            </div>
        </div>

        <div class="sectionStats">
            <div class="row">
                <div class="col-sm-4">
                    <p><img class="hov" src="/assets/img/job_seeker.svg" width="80px"></p>
                    <h3><b>15000+</b> Job Seekers</h3>
                </div>
                <div id="stats" class="col-sm-4">
                    <p><img class="hov" src="/assets/img/recruiter.svg" width="80px"></p>
                    <h3><b>50+</b> Companies </h3>
                </div>
                <div id="stats" class="col-sm-4">
                    <p><img class="hov" src="/assets/img/rupee.svg" width="80px"></p>
                    <h3>Find a job and earn upto <b>30k</b>!</h3>
                </div>
            </div>
        </div>

        <!-- Are you a recruiter -->
        <div class="sectionThree"  id="forRecruiter">
            <div class="row" style="text-align: center">
                <!-- Recruiter -->
                <div class="col-sm-6" id="recruiterSection">
                    <h3>Are you an Employer?</h3>
                    <br>
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-1">
                            <img src="/assets/new/img/circle_2_3.svg" width="52px">
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-8" id="steps" style="margin-top: 8px"><h4>Call 9980293925 to specify requirement</h4></div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-1">
                            <img src="/assets/new/img/circle_2_2.svg" width="52px">
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-8" id="steps" style="margin-top: 8px"><h4>We will schedule interviews for you with pre-screened Candidates</h4></div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-1">
                            <img src="/assets/new/img/circle_2_1.svg" width="52px">
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-8" id="steps" style="margin-top: 8px"><h4>Conduct interviews and make Offers!</h4></div>
                    </div>
                    <br>
                </div>

                <div class="col-sm-6">
                    <div id="recruiter_form_section">
                        <div class="reg_input">
                            <a href="https://docs.google.com/a/trujobs.in/forms/d/e/1FAIpQLSeJZdQhkEhYToVDkSyQEj0Ec5q9MAoqZTlMisLjMtNRFMDoHg/viewform" target="_blank">
                            <button type="submit" class="form-control" id="modalBtn">Post Job for FREE</button>
                                </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    <!-- Start Footer-->
        <div id="footer_inc"></div>
        <script>
            $(document).ready(function(){
            $('#footer_inc').load('/footer');
            });
        </script>

            <!-- Including Bootstrap -->

        <script>
            $(document).ready(function () {
                $(document).click(function (event) {
                    $(".navbar-collapse").collapse('hide');
                });
            });
            $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>
        <div id="scriptContainer">
        </div>
        <script>
            $(document).ready(function(){
                $('#scriptContainer').load('/scriptContainer');
            });
        </script>

        <script type="text/javascript" src="/assets/js/home_page.js"></script>
        <script type="text/javascript" src="/assets/js/all_hot_jobs.js"></script>
        <script type="text/javascript" src="/assets/js/all_job_role_with_jobs.js"></script>

    </body>
</html>