<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Trujobs - Best Jobs for Freshers and Experienced Candidates </title>

        <meta name="keywords" content="driving jobs, fresher jobs, jobs for freshers, job search sites, job posting, sales jobs, beautician jobs,
        medical transcription jobs, online job search, find jobs, receptionist jobs, admin jobs, office assistant jobs,
        plumbing work, teacher job, online teaching jobs, jobs in schools, teacher vacancy, teacher recruitment, entry level jobs,
        delivery boy jobs,call center jobs, BPO jobs, kpo jobs, job job job, data entry jobs, back office jobs,
        receptionist jobs, beautician jobs, experienced jobs, jobs in Bangalore, cashier jobs, entry level jobs,
        plumber jobs, electrician jobs, job search, accountant jobs, job vacancy, bangalore vacancy">

        <meta name="description" content="Search and apply for jobs online. Register for FREE and find best
        fresher and experienced jobs.Give a missed call at 8880007799 for best jobs." />

            <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">

        <script type="text/javascript" src="/assets/js/jquery.min_1_12_0.js"></script>
        <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
        <link rel="icon" type="image/png" href="/assets/img/icon.png">
        <link rel="stylesheet" type="text/css" href="/assets/new/css/myStyle.css">

        <link rel="stylesheet" href="/assets/css/token-input-facebook.css" type="text/css" />
        <script type="text/javascript" src="/assets/js/home_page.js"></script>
        <script type="text/javascript" src="/assets/js/jquery.tokeninput.js"></script>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-77156203-1', 'auto');
          ga('send', 'pageview');
        </script>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>

                    </button>
                    <div itemscope itemtype ="http://schema.org/logo">
                    <a class="navbar-brand" href="#"><img id="navLogo" itemprop="Brand" src="/assets/new/img/logo-main.gif" alt="TruJobs Logo" height="32px" style="margin-top: -8px;"></a>
                    </div>
                    </div>

                <div class="collapse navbar-collapse" id="navigationbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li> <a href="#sectionOne"><font id="navItem1" color="white" style="letter-spacing: 1px;">HOME</font></a></li>
                        <li> <a href="#hot_job_section"><font id="navItem2" color="white" style="letter-spacing: 1px;">APPLY TO JOBS</font></a></li>
                        <li> <a href="#contact"><font id="navItem3" color="white" style="letter-spacing: 1px;">JOB HOTLINE 8880007799</font></a></li>
                        <li> <a href="#recruiterSection"><font id="navItem4" color="white" style="letter-spacing: 1px;">FOR EMPLOYERS</font></a></li>
                        <li> <a style="cursor: pointer;" data-toggle="modal" data-target="#myLoginModal" onClick="openLogin()">
                            <font id="navItem5" color="white" style="letter-spacing: 1px;">
                                <img src="/assets/new/img/sign_up.png" height="16px" style="margin-right: 6px"/>SIGN IN
                            </font></a>
                        </li>
                    </ul>
                </div>
                    <!-- /.navbar-collapse -->
            </div>
                <!-- /.container -->
        </nav>

        <div id="myLoginModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                    <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-body" id="model_size">
                        <form id="form_login_candidate" class="form-horizontal" role="form" name="form_login_candidate">
                            <div class="line_up" id="signInPopup">Sign In</div>
                            <div class="container-fluid" id="main_signin_box">
                                <div class="row">
                                    <div class="col-sm-12" id="logo">
                                        <input type="text" class="form-control" id="candidateLoginMobile" placeholder="Mobile Number" pattern="[7-9]{1}[0-9]{9}" type="text" maxlength="10" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12" id="pass_input" style="margin-bottom:12px;">
                                        <input type="password" class="form-control" id="candidateLoginPassword" placeholder="Password" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <input type="checkbox" class="checkbox-inline" style="margin-right:5px;">Remember me
                                    </div>
                                    <div class="col-xs-6 pull-right" style="text-align:right;">
                                        <a style="cursor: pointer;" onclick="resetPassword()"><font color="#06436a">Forgot Password?</font></a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12" id="logo">
                                        <button type="submit" class="form-control" id="registerBtn" style="margin-top:5px;">Sign In</button>
                                    </div>
                                </div>
                                <hr>
                                <center>
                                    Don't have an account?<a style="cursor: pointer;" data-toggle="modal" data-target="#mySignUpModal" onClick="openSignUp()">
                                        <font color="#06436a">&nbsp;Sign Up</font></a>
                                </center>
                            </div>
                        </form>

                        <form id="form_forgot_password" style="display: none" class="form-horizontal" role="form" name="form_forgot_password" >
                            <div align="center">
                                <div class="line_up">Reset Password</div>
                                    <!-- Text input-->
                                <br>
                                <h5>Enter your mobile No</h5>
                                <div class="form-group">
                                    <input style="width: 80%;" id="resetPasswordMobile" type="text" maxlength="10" placeholder="Mobile No. (eg: 8880007799)" class="form-control input-md" pattern="[7-9]{1}[0-9]{9}" type="text" maxlength="10" required>
                                </div>

                                <button type="submit" class="btn btn-primary" id="resetCheckUserBtn" style="padding-top: 3%; padding-bottom: 3%; padding-right: 8%; padding-left: 8%; background: #06436a; border: none">Submit</button>

                            </div>
                        </form>

                        <form id="form_password_reset_otp" style="display: none" class="form-horizontal" role="form">
                            <div align="center">
                                <div class="line_up">Reset Password</div>
                                    <!-- Text input-->
                                <br>
                                <h5 id="helpText"></h5>

                                <div class="form-group">
                                    <input style="width: 80%;" id="candidateForgotOtp" type="number" minlength="1000" maxlength="9999" placeholder="Enter OTP: (eg: 9876)" class="form-control input-md" required>
                                </div>
                                <button type="submit" class="btn btn-primary" style="padding-top: 3%; padding-bottom: 3%; padding-right: 8%; padding-left: 8%; background: #06436a; border: none" >Verify OTP</button>

                            </div>
                        </form>

                        <form id="form_password_reset_new" style="display: none" class="form-horizontal" role="form">
                            <div align="center">
                                <div class="line_up">Reset Password</div>
                                    <!-- Text input-->
                                <br>
                                <h5>Enter New Password</h5>

                                <div class="form-group">
                                    <input style="width: 80%;" id="candidateNewPassword" type="password" placeholder="Enter new Password" class="form-control input-md" required>
                                </div>
                                <button type="submit" class="btn btn-primary" id="resetNewPasswordBtn" style="padding-top: 3%; padding-bottom: 3%; padding-right: 8%; padding-left: 8%; background: #06436a; border: none" >Reset Password</button>
                            </div>
                        </form>

                        <center>
                            <font color="red">
                                <div class="errorMsgText" id="incorrectMsg" style="margin-top: 2%;display: none;">
                                    <h5>Incorrect Login Credentials</h5>
                                </div>
                                <div class="errorMsgText" id="incorrectMsgLogin" style="margin-top: 2%;display: none;" >
                                    <h5>Incorrect Login Credentials</h5>
                                </div>
                                <div class="errorMsgText" id="errorMsgReset" style="margin-top: 2%;display: none;">
                                    <h5>User Does Not Exist!</h5>
                                </div>
                                <div class="errorMsgText" id="noUserLogin" style="margin-top: 2%;display: none;">
                                    <h5>User Does Not Exist!</h5>
                                </div>

                                <div class="errorMsgText" id="wrongOtp" style="margin-top: 2%;display: none;">
                                    <h5>Incorrect OTP!</h5>
                                </div>

                                <div class="errorMsgText" id="errorMsg" style="margin-top: 2%;display: none;">
                                    <h5>Looks like something went wrong. Please try again later!</h5>
                                </div>
                            </font>
                        </center>
                    </div>
                </div>
            </div>
        </div>

        <div id="mySignUpModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                    <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-body" id="model_size">
                        <form id="form_signup_candidate_modal"  style="margin-top: 0%; margin-right: 2%; margin-left: 2%" class="form-horizontal" role="form" name="form_signup_candidate" >
                            <h4 style="font-weight: bold"><center><font color="#0B4063">Sign Up to Apply Jobs</font></center></h4>
                            <div class="row" id="firstNameLastName">
                                <div class="col-sm-6" style="padding: 0 4px 0 16px">
                                    <input id="candidateFirstNameModal" placeholder="First name" type="text" maxLength="49" class="form-control input-md">
                                </div>
                                <div class="col-sm-6" style="padding: 0 16px 0 4px">
                                    <input id="candidateSecondNameModal" placeholder="Last name" type="text" maxLength="49" class="form-control input-md candidateSecondNameMain" >
                                </div>
                            </div>

                            <input id="candidateMobileModal" style="margin-top: 8px" placeholder="Mobile No." name="candidateMobile" type="text" maxlength="10" class="form-control input-md" >

                            <div style="margin-top: 8px">
                                <input type="text" id="candidateJobPrefModal" placeholder="What jobs you are Interested in?">
                                <script type="text/javascript">
                                    $(document).ready(function() {
                                        $("#candidateJobPrefModal").tokenInput(getJob(), {
                                            theme: "facebook",
                                            placeholder: "Jobs Interested? (Max: 3)",
                                            hintText: "Start typing jobs (eg. Cook, Delivery boy..)",
                                            minChars: 0,
                                            tokenLimit: 3,
                                            zindex: 9999999,
                                            preventDuplicates: true
                                        });
                                    });
                                </script>
                            </div>

                            <div style="margin-top: 8px">
                                <input type="text" id="candidateLocalityModal" placeholder="What jobs you are Interested in?" style="margin-top: 4px">
                                <script type="text/javascript">
                                    $(document).ready(function() {
                                        $("#candidateLocalityModal").tokenInput(getLocality(), {
                                            theme: "facebook",
                                            placeholder: "Locality Interested?",
                                            minChars: 3,
                                            zindex: 9999999,
                                            hintText: "Start Typing Area (eg: Whitefield, Agara, etc..)",
                                            preventDuplicates: true
                                        });
                                    });
                                </script>
                            </div>

                            <button type="submit" id="registerBtnSubmit" class="btn btn-primary" style="margin-top: 8px; padding-top: 3%; padding-bottom: 3%; padding-right: 8%; padding-left: 8%; width: 100%" >Register for FREE</button>
                                <!-- Text input-->
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div id="sectionOne">
                <div class="container">
                    <div id="fixed-menu" style="padding-bottom: 12px; padding-top: 8px" >
                        <div id="leadFormBox" class="input-group">
                            <input type="text" class="form-control" placeholder="Enter mobile number" id="addLeadMobile" pattern="[7-9]{1}[0-9]{9}" maxlength="10">
                            <button class="btn btn-default" type="button" onclick="addLead()" id="addLeadMobileButton">Find Job Now</button>
                        </div>
                    </div>
                </div>

                <font color="white">
                    <div class="row">
                        <div class="col-sm-9" id="headingMain">
                            <br><br>
                            <h1 style="font-size: 38px; letter-spacing: 2px;"><b>Find Entry Level and Experienced Jobs </b></h1>
                            <br>
                            <h2 style="letter-spacing: 2px;">Call 8880007799 to find jobs in top companies!</h2>
                        </div>

                        <div class="col-sm-3">
                            <div class="leadBox">
                                <form id="form_signup_candidate"  style="margin-top: 0%; margin-right: 2%; margin-left: 2%" class="form-horizontal" role="form" name="form_signup_candidate" >
                                    <h4 style="font-weight: bold">Job Seeker Registration</h4>
                                    <div class="row" id="firstNameLastName">
                                        <div class="col-sm-6" style="padding: 0 4px 0 16px">
                                            <input id="candidateFirstName" placeholder="First name" type="text" maxLength="49" class="form-control input-md">
                                        </div>
                                        <div class="col-sm-6" style="padding: 0 16px 0 4px">
                                            <input id="candidateSecondName" placeholder="Last name" type="text" maxLength="49" class="form-control input-md candidateSecondNameMain" >
                                        </div>
                                    </div>

                                    <input id="candidateMobile" style="margin-top: 8px" placeholder="What is your mobile no.?" name="candidateMobile" type="text" maxlength="10" class="form-control input-md" >

                                    <div style="margin-top: 8px">
                                        <input type="text" id="candidateJobPref" placeholder="What jobs you are Interested in?">
                                        <script type="text/javascript">
                                            $(document).ready(function() {
                                                $("#candidateJobPref").tokenInput(getJob(), {
                                                    theme: "facebook",
                                                    placeholder: "What jobs you are Interested? (Max: 3)",
                                                    hintText: "Start typing jobs (eg. Cook, Delivery boy..)",
                                                    minChars: 0,
                                                    tokenLimit: 3,
                                                    preventDuplicates: true
                                                });
                                            });
                                            </script>
                                    </div>

                                    <div style="margin-top: 8px">
                                        <input type="text" id="candidateLocality" style="margin-top: 4px">
                                        <script type="text/javascript">
                                            $(document).ready(function() {
                                                $("#candidateLocality").tokenInput(getLocality(), {
                                                    theme: "facebook",
                                                    placeholder: "Where do you want to Work?",
                                                    minChars: 3,
                                                    hintText: "Start Typing Area (eg: Whitefield, Agara, etc..)",
                                                    preventDuplicates: true
                                                });
                                            });
                                            </script>
                                    </div>

                                    <button type="submit" id="registerBtnSubmit" class="btn btn-primary" style="margin-top: 8px; padding-top: 3%; padding-bottom: 3%; padding-right: 8%; padding-left: 8%; width: 100%" >Register for FREE</button>
                                        <!-- Text input-->
                                </form>
                                <div class="modal fade bs-example-modal-sm" id="myRegistrationModal" tabindex="-1" role="dialog" aria-labelledby="myRegistrationModal">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content" style="text-align: center">
                                            <img src="/assets/img/logo.gif" height="40px" alt="TruJobs Logo">
                                            <form id="form_otp" role="form" name="form_otp" style="display: none">
                                                <div class="c_form" style="margin-left: 10%; margin-right: 10%;" align="center">
                                                    <h5 id="helpTextSignUp">Enter OTP</h5>

                                                    <div class="form-group">
                                                        <input id="candidateOtp" style="width: 80%;" min="1000" max="9999" name="candidateOtp" type="number" placeholder="Enter OTP: (eg: 9876)" class="form-control input-md" required>
                                                    </div>

                                                    <button type="submit" id="verifyOtpBtn" class="btn btn-primary" style="padding-top: 3%; padding-bottom: 3%; padding-right: 8%; padding-left: 8%; background: #06436a; border: none">Verify OTP</button>

                                                </div>
                                            </form>

                                            <form id="form_auth" role="form" name="form_auth" style="display: none">
                                                <div class="c_form" style="margin-left: 10%; margin-right: 10%;" align="center">
                                                    <h4>Enter a password</h4>
                                                    <div class="form-group">
                                                        <input id="candidatePassword" minlength="6" name="candidatePassword" type="password" placeholder="Enter password (Min. 6 characters)" class="form-control input-md" required>
                                                    </div>

                                                        <!-- hidden-->
                                                    <div class="form-group" style="display: none;">
                                                        <input id="candidateAuthMobile" name="candidateAuthMobile" type="text"class="form-control input-md" >
                                                    </div>
                                                    <button type="submit" class="btn btn-primary" id="btnSubmit" style="padding-top: 3%; padding-bottom: 3%; padding-right: 8%; padding-left: 8%; background: #06436a; border: none">Create Account</button>
                                                </div>
                                            </form>
                                            <div id="incorrectOtpMsg" style="margin-top: 2%;display: none; color: #2980b9">
                                                <h5>Incorrect OTP Code. Please Enter Again</h5>
                                            </div>

                                            <div id="errorMsg" style="margin-top: 2%;display: none; color: #2980b9">
                                                <h4>Looks like something went wrong. Please try again later!</h4>
                                            </div>
                                        </div>
                                    </div>
                                        <!-- Lead form block ends -->
                                </div>

                                <div style="text-align: center">
                                    <div class="errorMsgText" id="alreadyMsgCandidate" style="margin-top: 2%;display: none;">
                                        <h5>User Already Exists! Please <a data-toggle="modal" data-target="#myLoginModal" style="cursor: hand; color: #888888">Login</a> to Continue</h5>
                                        <br>
                                    </div>
                                </div>
                            </div>
                                <!-- Leads Form Block -->
                        </div>
                    </div>
                </font>
            </div>
                <!-- End of sectionOne -->
        </div>

        <!-- custom message modal -->
        <div class="modal fade" id="messagePromptModal" tabindex="-1" role="dialog" aria-labelledby="messagePromptModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">TruJobs</h4>
                    </div>
                    <div class="modal-body">
                        <center>
                            <img id="customMsgIcon" width="48px">
                            <div id="customMsg" style="padding: 16px"></div>
                            <div id="customSubMsg" style="padding: 16px"></div>
                        </center>
                    </div>
                </div>
            </div>
        </div>

            <!-- start hot job -->
        <div class="company_class" id="hot_job_section">
                Apply to Jobs
        </div>

        <center id="temp_hot_job_section">
            <div class="materialDash"></div>
            <div class="container-fluid" id="company_box">
                <div class="row">
                    <div class="col-lg-1 visible-lg" id="arrow_left_hot">
                        <a class="right carousel-control" href="#hot_job" role="button" data-slide="prev">
                            <img class="img-responsive" src="/assets/new/img/arrow_left_hot.png">
                        </a>
                    </div>
                    <div class="col-md-10">
                        <div id="hot_job" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner" role="listbox" id="hotJobPosts"></div>
                        </div>
                    </div>
                    <div class="col-lg-1 visible-lg" id="arrow_right_hot">
                        <a class="right carousel-control" href="#hot_job" role="button" data-slide="next">
                            <img class="img-responsive" src="/assets/new/img/arrow_right_hot.png">
                        </a>
                    </div>
                </div>
            </div>
        </center>
        <hr>
        <div class="company_class">
            Companies Hiring From Us
        </div>

        <center>
            <div class="materialDash"></div>

            <div class="container-fluid" id="company_box">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-lg-1 visible-lg">
                                <a class="left carousel-control" href="#myCarousel" style="padding-top: 40px; padding-left: 50px"  role="button" data-slide="prev">
                                    <img src="/assets/new/img/arrow_left_hot.png" alt="Job Vacancy">
                                </a>
                            </div>
                            <div class="col-sm-10">
                                <div class="container-fluid" id="slider_logo">
                                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                            <!-- Wrapper for slides -->
                                        <div class="carousel-inner" role="listbox">
                                            <div class="item active">
                                                <div class="row">
                                                    <div class="col-sm-2">
                                                        <img class="img-responsive" src="/assets/new/img/urban_clap.png" alt="Companies Hiring">
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <img class="img-responsive" src="/assets/new/img/dunkin_donuts.png" alt="Companies Hiring">
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <img class="img-responsive" src="/assets/new/img/driveu.png" alt="Companies Hiring">
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <img class="img-responsive" src="/assets/new/img/kalmane_koffees.png" alt="Companies Hiring">
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <img class="img-responsive" src="/assets/new/img/swiggy.png" alt="Companies Hiring">
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <img class="img-responsive" src="/assets/new/img/child_help_foundation.png" alt="Companies Hiring">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="row">
                                                    <div class="col-sm-2">
                                                        <img class="img-responsive" src="/assets/new/img/online_systems.png" alt="Companies Hiring">
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <img class="img-responsive" src="/assets/new/img/kruti.png" alt="Companies Hiring">
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <img class="img-responsive" src="/assets/new/img/pink_blue.png" alt="Companies Hiring">
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <img class="img-responsive" src="/assets/new/img/vito.png" alt="Companies Hiring">
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <img class="img-responsive" src="/assets/new/img/aegis.png" alt="Companies Hiring">
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <img class="img-responsive" src="/assets/new/img/dominos.png" alt="Companies Hiring">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1 visible-lg">
                                <a class="right carousel-control" style="padding-top: 56px; padding-right: 50px" href="#myCarousel" role="button" data-slide="next">
                                    <img src="/assets/new/img/arrow_right_hot.png" alt="Job Vacancy">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </center>


        <div class="sectionStats">
            <div class="row">
                <div class="col-sm-4">
                    <p><img class="hov" src="/assets/img/job_seeker.svg" width="80px"></p>
                    <h3><b>3000+</b> Job Seekers</h3>
                </div>
                <div id="stats" class="col-sm-4">
                    <p><img class="hov" src="/assets/img/recruiter.svg" width="80px"></p>
                    <h3><b>50+</b> Companies </h3>
                </div>
                <div id="stats" class="col-sm-4">
                    <p><img class="hov" src="/assets/img/rupee.svg" width="80px"></p>
                    <h3>Find a job and earn upto <b>30k</b>!</h3>
                </div>
            </div>
        </div>

        <div class="sectionTwo" id="jobs">
            <h3 id="jobVacancyHead">Job Roles</h3>
            <center>
                <div class="materialDash"></div>
            </center><br>
                <!-- Third row -->
            <div class="row">
                <div class="col-md-2 col-sm-4 col-xs-6" style="padding: 0">
                    <div id="jobRole" style="padding-top: 20%; padding-bottom: 20%">
                        <img id="jobRoleIcon" src="/assets/new/img/icons/d_executive.svg" width="50px" alt="Delivery Executive">
                        <br><div style="margin-top: 6px" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
                        <span itemprop="name"> Delivery Executive </span>
                    </div>
                    </div>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6" style="padding: 0">
                    <div id="jobRole" style="padding-top: 20%; padding-bottom: 20%">
                        <img src="/assets/new/img/icons/cashier.svg" width="50px" alt="Cashier Job">
                        <br><div style="margin-top: 6px" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
                        <span itemprop="name"> Cashier </span>
                    </div>
                    </div>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6" style="padding: 0">
                    <div id="jobRole" style="padding-top: 20%; padding-bottom: 20%">
                        <img src="/assets/new/img/icons/store_manager.svg" width="50px" alt="Store Manager Job">
                        <br><div style="margin-top: 6px" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
                        <span itemprop="name"> Store Manager </span>
                    </div>
                    </div>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6" style="padding: 0">
                    <div id="jobRole" style="padding-top: 20%; padding-bottom: 20%">
                        <img src="/assets/new/img/icons/data_entry.svg" width="50px" alt="Data Entry Job">
                        <br><div style="margin-top: 6px" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
                        <span itemprop="name"> Data Entry </span>
                    </div>
                    </div>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6" style="padding: 0">
                    <div id="jobRole" style="padding-top: 20%; padding-bottom: 20%">
                        <img src="/assets/new/img/icons/chef.svg" width="50px" alt="Cook Job">
                        <br><div style="margin-top: 6px" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
                        <span itemprop="name"> Cook </span>
                    </div>
                    </div>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6" style="padding: 0">
                    <div id="jobRoleBottom" style="padding-top: 20%; padding-bottom: 20%">
                        <img src="/assets/new/img/icons/beautician.svg" width="50px" alt="Beautician Job">
                        <br><div style="margin-top: 6px" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
                        <span itemprop="name"> Beautician </span>
                    </div>
                </div>
                </div>
            </div>

                <!-- second row -->
            <div class="row">
                <div class="col-md-2 col-sm-4 col-xs-6" style="padding: 0">
                    <div id="jobRole" style="padding-top: 20%; padding-bottom: 20%">
                        <img src="/assets/new/img/icons/driver.svg" width="50px" alt="Driver Job">
                        <br><div style="margin-top: 6px" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
                        <span itemprop="name"> Driver </span>
                    </div>
                    </div>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6" style="padding: 0">
                    <div id="jobRole" style="padding-top: 20%; padding-bottom: 20%">
                        <img src="/assets/new/img/icons/field_sales.svg" width="50px" alt="Sales Job">
                        <br><div style="margin-top: 6px" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
                        <span itemprop="name"> Field Sales </span>
                    </div>
                    </div>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6" style="padding: 0">
                    <div id="jobRole" style="padding-top: 20%; padding-bottom: 20%">
                        <img src="/assets/new/img/icons/accountant.svg" width="50px">
                        <br><div style="margin-top: 6px" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
                        <span itemprop="name"> Accountant </span>
                    </div>
                    </div>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6" style="padding: 0">
                    <div id="jobRole" style="padding-top: 20%; padding-bottom: 20%">
                        <img src="/assets/new/img/icons/receptionist.svg" width="50px" alt="Receptionist Job">
                        <br><div style="margin-top: 6px" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
                        <span itemprop="name"> Receptionist </span>
                    </div>
                    </div>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6" style="padding: 0">
                    <div id="jobRole" style="padding-top: 20%; padding-bottom: 20%">
                        <img src="/assets/new/img/icons/office_admin.svg" width="50px" alt="Office Admin Job">
                        <br><div style="margin-top: 6px" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
                        <span itemprop="name"> Office Admin </span>
                    </div>
                    </div>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6" style="padding: 0">
                    <div id="jobRoleBottom" style="padding-top: 20%; padding-bottom: 20%">
                        <img src="/assets/new/img/icons/telecaller.svg" width="50px" alt="Telecaller Job">
                        <br><div style="margin-top: 6px" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
                        <span itemprop="name"> Telecaller </span>
                    </div>
                </div>
                </div>
            </div>
                <!-- Third row -->
            <div class="row">
                <div class="col-md-2 col-sm-4 col-xs-6" style="padding: 0">
                    <div id="jobRoleRight" style="padding-top: 20%; padding-bottom: 20%">
                        <img src="/assets/new/img/icons/waiter.svg" width="50px" alt="Waiter Job">
                        <br><div style="margin-top: 6px" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
                        <span itemprop="name"> Waiter </span>
                    </div>
                    </div>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6" style="padding: 0">
                    <div id="jobRoleRight" style="padding-top: 20%; padding-bottom: 20%">
                        <img src="/assets/new/img/icons/electrician.svg" width="50px" alt="Electrician Job">
                        <br><div style="margin-top: 6px" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
                        <span itemprop="name"> Electrician </span>
                    </div>
                    </div>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6" style="padding: 0">
                    <div id="jobRoleRight" style="padding-top: 20%; padding-bottom: 20%">
                        <img src="/assets/new/img/icons/carpenter.svg" width="50px" alt="Carpenter Job">
                        <br><div style="margin-top: 6px" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
                        <span itemprop="name"> Carpenter </span>
                    </div>
                    </div>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6" style="padding: 0">
                    <div id="jobRoleRight" style="padding-top: 20%; padding-bottom: 20%">
                        <img src="/assets/new/img/icons/bpo.svg" width="50px" alt="Bpo Voice Job">
                        <br><div style="margin-top: 6px" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
                        <span itemprop="name"> BPO-Voice </span>
                    </div>
                    </div>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6" style="padding: 0">
                    <div id="jobRoleRight" style="padding-top: 20%; padding-bottom: 20%">
                        <img src="/assets/new/img/icons/bpo.svg" width="50px" alt="BPO Non Voice Job">
                        <br><div style="margin-top: 6px" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
                        <span itemprop="name"> BPO-Non Voice </span>
                    </div>
                    </div>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6" style="padding: 0">
                    <div id="jobRoleNoBorder" style="padding-top: 20%; padding-bottom: 20%">
                        <img src="/assets/new/img/icons/plumber.svg" width="50px" alt="Plumber Job">
                        <br><div style="margin-top: 6px" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
                        <span itemprop="name"> Plumber </span>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <div class="sectionThree">
            <div class="row" style="text-align: center">
                <div class="col-sm-6">
                    <h3>Are you a Candidate?</h3>
                    <br>
                    <center>
                        <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-1">
                                <img src="/assets/new/img/circle_1.svg" width="52px" alt="Free Registration">
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-8" id="steps" style="margin-top: 8px"><h5>Give a missed call to 8880007799</h5></div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-1">
                                <img src="/assets/new/img/circle_2.svg" width="52px" alt="Create Profile">
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-8" id="steps" style="margin-top: 8px"><h5>Create your Online Profile</h5></div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-1">
                                <img src="/assets/new/img/circle_3.svg" width="52px" alt="Job Interview">
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-8" id="steps" style="margin-top: 8px"><h5>Attend interviews and get job offers!</h5></div>
                        </div>
                        <br>
                        <a href="#sectionOne"><button id="registerBtn" class="btn btn-primary" style="padding: 2%"><font color="#ffffff">Register for FREE</font></button></a>
                    </center>
                </div>

                    <!-- Recruiter -->
                <div class="col-sm-6" id="recruiterSection">
                    <h3>Are you a Recruiter?</h3>
                    <br>
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-1">
                            <img src="/assets/new/img/circle_2_3.svg" width="52px">
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-8" id="steps" style="margin-top: 8px"><h5>Call 8880007799 to specify requirement</h5></div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-1">
                            <img src="/assets/new/img/circle_2_2.svg" width="52px">
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-8" id="steps" style="margin-top: 8px"><h5>We will schedule interviews for you with pre-screened Candidates</h5></div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-1">
                        <img src="/assets/new/img/circle_2_1.svg" width="52px">
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8" id="steps" style="margin-top: 8px"><h5>Conduct interviews and make Offers!</h5></div>
                </div>
                <br>
                <button id="registerBtn" id="steps" class="btn btn-primary" style="padding: 2%" data-toggle="modal" data-target="#regmodal">Register for FREE</button>
            </div>
        </div>
        </div>
        <div class="modal fade" id="regmodal" role="dialog">
                <!-- Modal content-->
            <div class="container" id="register_rec" style="margin:auto; margin-top:20px;">
                <div class="form-group" style="text-align: center; padding-left: 8%; padding-right: 8%">
                    <form id="form_recruiter" class="form-horizontal" role="form" name="form_candidate" >
                        <label>Register for FREE</label>
                        <div class="reg_input">
                            <input type="text" class="form-control" id="leadName" maxLength="49" placeholder="Name(eg: Manjunath)" required>
                        </div>
                        <div class="reg_input">
                            <input type="text" class="form-control" id="leadMobile" placeholder="Mobile(eg: 8880007799)" pattern="[7-9]{1}[0-9]{9}" type="text" maxlength="10"  required>
                        </div>

                            <!-- hidden-->
                        <div class="form-group" style="display: none;">
                            <input id="leadChannel" name="leadChannel" type="number" value="0" class="form-control input-md" >
                        </div>

                        <div class="form-group" style="display: none;">
                            <input id="leadType" name="leadType" type="number" class="form-control input-md" value="3">
                        </div>

                        <div class="form-group" style="display: none;">
                            <input id="leadInterest" name="leadInterest" type="text" class="form-control input-md" value="Recruiter Registration">
                        </div>
                        <div class="reg_input">
                            <button type="submit" class="form-control" id="modalBtn">Call Me</button>
                        </div>
                    </form>
                    <font color="red">
                        <div id="thanksMsgRecruiter" style="margin-top: 2%;display: none; color: #2980b9">
                            <h4>Thanks for applying. We will contact you soon!</h4>
                        </div>
                        <div id="errorMsgRecruiter" style="margin-top: 2%;display: none; color: #2980b9">
                            <h4>Looks like something went wrong. Please try again later!</h4>
                        </div>
                        <div id="alreadyMsgRecruiter" style="margin-top: 2%;display: none; color: #2980b9">
                            <h5>User with the above mobile no. already exists!</h5>
                        </div>
                    </font>
                </div>
            </div>
        </div>

        <div class="sectionFiveMain">
            <div class="sectionFive" id="contact" itemscope itemtype ="http://schema.org/contactPoint">
                <span itemprop="email">Write us at: <a href="mailto:info@@trujobs.in"><font color="#f0f8ff">info@@trujobs.in</font></a></span>
                <br>
                <span itemprop="telephone"> Have queries? Talk to us at 8880007799</span>
                <br>
                Follow us on &nbsp;
                <a href="https://www.facebook.com/trujobs" target="_blank">
                    <img src="/assets/img/fb.png" width="48px"
                    onmouseover="this.src='/assets/img/fb_blue.png'"
                    onmouseout="this.src='/assets/img/fb.png'"
                    border="0" alt=""/>
                </a>
            </div>
            <div class="footer" itemscope itemtype ="http://schema.org/contactPoint">
                © 2016 Trujobs.in | Bengaluru, India. All Right Reserved.
            <a href="/privacy" target="/privacy" title="Privacy Policy"> <font color="#f0f8ff">
                    Privacy Policy&nbsp;&nbsp;</font> </a>

            </div>
        </div>

            <!-- Including Bootstrap -->
        <script type="text/javascript" src="/assets/js/validation.js"></script>
        <script type="text/javascript" src="/assets/js/add_lead.js"></script>
        <script type="text/javascript" src="/assets/js/apply_job.js"></script>
        <script type="text/javascript" src="/assets/js/reset_password.js"></script>
        <script type="text/javascript" src="/assets/js/login.js"></script>
        <script type="text/javascript" src="/assets/js/signup_candidate.js"></script>
            <!-- Facebook Pixel Code -->
        <script>
            !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
                n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
                t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
                    document,'script','https://connect.facebook.net/en_US/fbevents.js');

            fbq('init', '535139956654403');
            fbq('track', "PageView");
            fbq('track', 'CompleteRegistration');
        </script>

        <noscript>
            <img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=535139956654403&ev=PageView&noscript=1"/>
        </noscript>
        <!-- End Facebook Pixel Code -->

        <!-- Google Code for trujobs adwords converstion Conversion Page
        In your html page, add the snippet and call goog_report_conversion when someone clicks on the
        chosen link or button. -->
        <script type="text/javascript">
          /* <![CDATA[ */
          goog_snippet_vars = function() {
              var w = window;
              w.google_conversion_id = 882410740;
              w.google_conversion_label = "LXetCP7hv2cQ9InipAM";
              w.google_remarketing_only = false;
          }
          // DO NOT CHANGE THE CODE BELOW.
          goog_report_conversion = function(url) {
              goog_snippet_vars();
              window.google_conversion_format = "3";
              var opt = new Object();
              opt.onload_callback = function() {
                  if (typeof(url) != 'undefined') {
                      window.location = url;
                  }
              }
              var conv_handler = window['google_trackConversion'];
              if (typeof(conv_handler) == 'function') {
                  conv_handler(opt);
              }
          }
          /* ]]> */
        </script>
                <script type="text/javascript"
                src="//www.googleadservices.com/pagead/conversion_async.js">
        </script>

        <!-- End google conversion tracker Code -->

    </body>
</html>