@workflow{
    <script>
        $(function () {
            $('.collapse').on('show',function(){
                alert("Im shown");
                $(this).parent().find(".glyphicon-menu-up").removeClass("glyphicon-menu-up").addClass("glyphicon-menu-down");
            })
                    /*.$('#match-pane-header').on('hidden', function(){
             alert("Im shown");
             $(this).parent().find(".glyphicon-menu-down").removeClass("glyphicon-menu-down").addClass("glyphicon-menu-up");
             });*/
        });
    </script>
    <div id="searchError" style="text-align: center;
        color: red"><h5 id="searchErrorMsg"></h5></div>
    <div id="matchPane">
        <div class="panel mdl-card mdl-shadow--4dp" style="overflow: visible !important;">
            <div class="panel-heading" id="match-pane-header" data-toggle="collapse" data-target="#matchPaneBody" onmouseover="" style="cursor: pointer;">
                Match Options<span class="glyphicon glyphicon-menu-up pull-right"></span></div>
            <div class="panel-body collapse in" id="matchPaneBody">
                <form id="candidateMatchForm">
                    <div class="row">
                        <div class="col-sm-1" style="margin-top:8px"><font size="2">Job Role :</font></div>
                        <div class="col-sm-3">
                            <input type="text" id="jobPostJobRole" >
                        </div>
                        <div class="col-sm-1" style="margin-top:8px"><font size="2">Locality:</font></div>
                        <div class="col-sm-3">
                            <input type="text" id="jobPostLocality" placeholder="Where do you want to work?">
                        </div>
                        <div class="col-sm-1" style="margin-top:8px"><font size="2">Max Age:</font></div>
                        <div class="col-sm-3">
                            <input type="number" id="maxAge" name="maxAge" placeholder="Maximum Age?" min="0" max="70" class="form-control input-md">
                        </div>
                    </div>

                    <div class="row" style="margin-top: 16px">
                        <div class="col-sm-1" style="margin-top:8px"><font size="2">Min Salary:</font></div>
                        <div class="col-sm-3">
                            <input type="number" id="minSalary" name="minSalary" placeholder="Minimum Salary?" min="0" class="form-control input-md">
                        </div>
                        <div class="col-sm-1" style="margin-top:8px"><font size="2">Max Salary:</font></div>
                        <div class="col-sm-3">
                            <input type="number" id="maxSalary" name="maxSalary" placeholder="Maximum Salary?" min="0" class="form-control input-md">
                        </div>
                        <div class="col-sm-1" style="margin-top:8px"><font size="2">Experience :</font></div>
                        <div class="col-sm-3">
                            <select id="experienceMultiSelect" multiple="multiple"></select>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 16px">

                        <div class="col-sm-1" style="margin-top:8px"><font size="2">Language</font></div>
                        <div class="col-sm-3" id="languageMultiSelectDiv">
                            <select id="languageMultiSelect" multiple="multiple"></select>
                        </div>
                        <div class="col-sm-1" style="margin-top:8px"><font size="2">Education </font></div>
                        <div class="col-sm-3" id="educationSelectDiv">
                            <select id="educationMultiSelect" multiple="multiple"></select>
                        </div>
                        <div class="col-sm-1" style="margin-top:8px"><font size="2">Gender </font></div>
                        <div class="col-sm-3" id="genderSelectDiv">
                            <select id="genderSelect">
                                <option value="-1">None Selected</option>
                                <option value="2">Any</option>
                                <option value="0">Male</option>
                                <option value="1">Female</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 16px">
                        <div class="col-sm-1" style="margin-top:8px"><font size="2">Radius <font size="2">(<div id="radiusValue" style="display: inline-block">10</div></font> KM): </font></div>
                        <div class="col-sm-3" style="margin-top:8px" id="radiusDiv">
                            <input class="mdl-slider mdl-js-slider" type="range" min="1" max="30" value="10" tabindex="1" oninput="showRadiusValue(this.value)" onchange="showRadiusValue(this.value)">
                        </div>
                        <div class="col-sm-1" style="margin-top:8px"><font size="2">Document </font></div>
                        <div class="col-sm-3" id="documentMultiSelectDiv">
                            <select id="documentMultiSelect" multiple="multiple"></select>
                        </div>
                        <div class="col-sm-1" style="margin-top:8px"><font size="2">Asset </font></div>
                        <div class="col-sm-3" id="assetMultiSelectDiv">
                            <select id="assetMultiSelect" multiple="multiple"></select>
                        </div>
                    </div>
                    <br>
                    <div class="row" id="matchCandidateBtnBox">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit" data-toggle="collapse" data-target="#matchPaneBody" id="matchBtn">Match Candidate</button>
                    </div>
                </form>
                <div style="margin-top: 16px"></div>
            </div>
        </div>
        <div id="matchError" style="text-align: center;
            color: red"><h5 id="matchErrorMsg"></h5></div>
        <table id="candidateResultTable" class="mdl-data-table mdl-js-data-table" style="margin-top: 16px;display: none;table-layout: fixed;overflow-x: scroll;" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>CLID</th>
                    <th>Candidate Name</th>
                    <th>Mobile</th>
                    <th>JobRole Pref</th>
                    <th>Locality Pref</th>
                    <th>Home Location</th>
                    <th>Matched Job Locality (Distance)</th>
                    <th>Age</th>
                    <th>Exp (Year)</th>
                    <th>isEmployed?</th>
                    <th>Current/Lastdrawn Salary</th>
                    <th>Language Known</th>
                    <th>Education</th>
                    <th>Skills</th>
                    <th>Gender</th>
                    <th>Past Company</th>
                    <th>isAssessed?</th>
                    <th>Job Applied on</th>
                    <th>No. of JobApp?</th>
                    <th>Experience/Relieving Letter</th>
                    <th>ID-Proofs</th>
                    <th>TimeShift Pref</th>
                    <th>Last Active</th>
                    <th>Created On</th>
                    <th>MinProfile?</th>
                    <th>Exp Detail</th>
                    <th>Candidate Id</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>CLID</th>
                    <th>Candidate Name</th>
                    <th>Mobile</th>
                    <th>JobRole Pref</th>
                    <th>Locality Pref</th>
                    <th>Home Location</th>
                    <th>Matched Job Locality (Distance)</th>
                    <th>Age</th>
                    <th>Exp (Year)</th>
                    <th>isEmployed?</th>
                    <th>Current/Lastdrawn Salary</th>
                    <th>Language Known</th>
                    <th>Education</th>
                    <th>Skills</th>
                    <th>Gender</th>
                    <th>Past Company</th>
                    <th>isAssessed?</th>
                    <th>Job Applied on</th>
                    <th>No. of JobApp?</th>
                    <th>Experience/Relieving Letter</th>
                    <th>ID-Proofs</th>
                    <th>TimeShift Pref</th>
                    <th>Last Active</th>
                    <th>Created On</th>
                    <th>MinProfile?</th>
                    <th>Exp Detail</th>
                    <th>Candidate Id</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
            <tbody>
            </tbody>
        </table>
    </div>
    <div id="otherControls">
        <button type="submit" id="moveSelectedBtn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Move To Pre-Screen</button>
    </div>
}

