<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Trujobs - Best Jobs for Freshers and Experienced Candidates </title>

    <meta name="keywords" content="driving jobs, fresher jobs, jobs for freshers, job search sites, job posting, sales jobs, beautician jobs,
                medical transcription jobs, online job search, find jobs, receptionist jobs, admin jobs, office assistant jobs,
                plumbing work, teacher job, online teaching jobs, jobs in schools, teacher vacancy, teacher recruitment, entry level jobs,
                delivery boy jobs,call center jobs, BPO jobs, kpo jobs, job job job, data entry jobs, back office jobs,
                receptionist jobs, beautician jobs, experienced jobs, jobs in Bangalore, cashier jobs, entry level jobs,
                plumber jobs, electrician jobs, job search, accountant jobs, job vacancy, bangalore vacancy">

    <meta name="description" content="Search and apply for jobs online. Register for FREE and find best
        fresher and experienced jobs.Give a missed call at 8880007799 for best jobs." />
    <meta http-equiv="Cache-control" content="public">
      <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/new/css/myStyle.css">
    <link rel="stylesheet" type="text/css" href="/assets/new/css/myJobPost.css">
    <link rel="stylesheet" href="/assets/css/token-input-facebook.css" type="text/css" />

    <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">

    <script type="text/javascript" src="/assets/js/jquery.min_1_12_0.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/png" href="/assets/img/icon.png">

    <script type="text/javascript" src="/assets/js/jquery.tokeninput.js"></script>
    <script>
            $('html, body').css({
              'overflow': 'hidden',
              'height': '100%'
            });
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-77156203-1', 'auto');
            ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div id="preloader">
      <div id="loaderLogo">
        <img id="leaderLogo" src="/assets/new/img/logo-color.gif" alt="TruJobs Logo" height="40px">
      </div>
      <div id="status">&nbsp;</div>
    </div>
      <!--Details for hot jobs-->
    <div class="pageNotFound">
        <!--Job Details to display-->
      <div class="pageNotFoundImg">
        <img id="pageNotFoundImage" src="/assets/new/img/error_page.png" width="40%">
        <h3 id="pageNotFoundHeaderOne">Looks like the page you are trying to visit doesn't exist.</h3>
        <h4 id="pageNotFoundHeaderTwo">Please check the URL</h4>
          <button type="submit" id="pageNFBtn" onclick="homeLinkPNF()" class="btn btn-primary" style="margin-top: 8px;margin-bottom:8px; padding-top: 1%; padding-bottom: 1%; padding-right: 1%; padding-left: 1%;">Go To Home</button>
      </div>

    </div>
      <!-- Start Footer-->
    <div id="footer_inc"></div>
    <script>
            $(document).ready(function(){
              $('#footer_inc').load('/footer');
            });
    </script>
      <!-- Including Bootstrap -->
    @*<script type="text/javascript" src="/assets/js/posted_jobs_page.js"></script>*@
    <script type="text/javascript" src="/assets/js/all_job_role_footer.js"></script>
    <script type="text/javascript" src="/assets/js/home_page.js"></script>
    <div id="scriptContainer">
    </div>
    <script>
            $(document).ready(function(){
              $('#scriptContainer').load('/scriptContainer');
            });
    </script>
  </body>
</html>