@workflow{

  <div class="mdl-grid">
  </div>
  <div id="preScreenCompletedPane">
    <div id="preScreenCompletedError" style="text-align: center;
      color: red"><h5 id="preScreenCompletedErrorMsg"></h5></div>

    <table id="candidateResultTable" class="mdl-data-table mdl-js-data-table" style="margin-top: 16px;display: none;table-layout: fixed;overflow-x: scroll;" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>CLID</th>
          <th>Candidate Name</th>
          <th>Mobile</th>
          <th>JobRole Pref</th>
          <th>Locality Pref</th>
          <th>Home Location</th>
          <th>Matched Job Locality (Distance)</th>
          <th>Age</th>
          <th>Exp (Year)</th>
          <th>isEmployed?</th>
          <th>Current/Lastdrawn Salary</th>
          <th>Language Known</th>
          <th>Education</th>
          <th>Degree</th>
          <th>Has Completed?</th>
          <th>Skills</th>
          <th>Gender</th>
          <th>Past Company</th>
          <th>isAssessed?</th>
          <th>Job Applied on</th>
          <th>No. of JobApp?</th>
          <th>Job Application Mode (Self/Partner)</th>
          <th>Experience/Relieving Letter</th>
          <th>ID-Proofs</th>
          <th>TimeShift Pref</th>
          <th>Last Active</th>
          <th>Created On</th>
          <th>MinProfile?</th>
          <th>Exp Detail</th>
          <th>Candidate Id</th>
          <th>Interaction History</th>
          <th></th>
          <th></th>
          <th></th>
          <th>Schedule interview </th>
          <th></th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>CLID</th>
          <th>Candidate Name</th>
          <th>Mobile</th>
          <th>JobRole Pref</th>
          <th>Locality Pref</th>
          <th>Home Location</th>
          <th>Matched Locality</th>
          <th>Age</th>
          <th>Exp (Year)</th>
          <th>isEmployed?</th>
          <th>Matched Job Locality (Distance)</th>
          <th>Language Known</th>
          <th>Education</th>
          <th>Degree</th>
          <th>Has Completed?</th>
          <th>Skills</th>
          <th>Gender</th>
          <th>Past Company</th>
          <th>isAssessed?</th>
          <th>Job Applied on</th>
          <th>No. of JobApp?</th>
          <th>Job Application Mode (Self/Partner)</th>
          <th>Experience/Relieving Letter</th>
          <th>ID-Proofs</th>
          <th>TimeShift Pref</th>
          <th>Last Active</th>
          <th>Created On</th>
          <th>MinProfile?</th>
          <th>Exp Detail</th>
          <th>Candidate Id</th>
          <th>Interaction History</th>
          <th></th>
          <th></th>
          <th></th>
          <th>Schedule interview </th>
          <th></th>
        </tr>
      </tfoot>
      <tbody>
      </tbody>
    </table>
  </div>

  <dialog class="mdl-dialog" id="reasonDialog" style="width: 36%">
    <center>
      <h4 class="mdl-dialog__title">Reason for Rejection</h4>
    </center>
    <br>
    <div class="mdl-dialog__content">
      <center>
        <img src="/assets/recruiter/img/icons/reject_application.svg" width="60px">
        <br>
        <h5>Please specify reason for rejection</h5>
      </center>

      <center>
        <select id="reject_reason" style="width: 60%; margin: 8px"></select>
      </center>

      <center>
        <div id="rejectInterviewBtn" class="waves-effect waves-light red lighten-1 btn" data-toggle="collapse" onclick="confirmRejectInterview()"><font style="color: #fff;
          font-weight: 400"><b>Reject Job Application!</b></font>
        </div>
      </center>

    </div>
    <div class="mdl-dialog__actions">
      <button type="button" class="mdl-button confirmRejection">Reject Interview</button>
      <button type="button" class="mdl-button close">Cancel</button>
    </div>
  </dialog>

  <dialog class="mdl-dialog" id="rescheduleDialog" style="width: 36%">
    <center>
      <h4 class="mdl-dialog__title">Reschedule Interview Date and Time Slot</h4>
    </center>
    <br>
    <div class="mdl-dialog__content">
      <center>
        <img src="/assets/recruiter/img/icons/reschedule-color.svg" width="60px">
        <br>
        <h5>Please select a new date and time slot</h5>
      </center>
      <div class="row" style="margin-top: 4px" >
        <div class="col-sm-6">
          <h6 style="text-align: right;">Please select a new interview date and time:</h6>
        </div>
        <div class="col-sm-6">
          <select id="rescheduleDateAndSlot" style="margin-top: 30px" class="selectDropdown"></select>
        </div>
      </div>

      <center>
        <div id="rejectInterviewBtn" class="waves-effect waves-light red lighten-1 btn" data-toggle="collapse" onclick="confirmRescheduleInterview()"><font style="color: #fff;
          font-weight: 400"><b>Reject Job Application!</b></font>
        </div>
      </center>

    </div>
    <div class="mdl-dialog__actions">
      <button type="button" class="mdl-button confirmReschedule">Reschedule Interview</button>
      <button type="button" class="mdl-button closeReschedule">Cancel</button>
    </div>
  </dialog>

  <link rel="stylesheet" type="text/css" href="/assets/css/pre_screen_modal.css">
  <script type="text/javascript" src="/assets/js/bootbox.min.js"></script>
  <script type="text/javascript" src="/assets/common/js/validation.js"></script>
  <script type="text/javascript" src="/assets/js/interview_modal.js"></script>

}