<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>

<form id="resumeUploadForm">
    <input type="file" multiple id="resumes" name="resumes">
    <br><div id="list"></div>
</form>

<script>

  function handleFileSelect(evt) {
    // FileList object
    var files = evt.target.files;

    // files is a FileList of File objects. List some properties.
    var output = [];
    for (var i = 0, f; f = files[i]; i++) {

      output.push('<li><strong>', escape(f.name), '</strong> (', f.type || 'n/a', ') - ',
                  f.size, ' bytes, last modified: ',
                  f.lastModifiedDate ? f.lastModifiedDate.toLocaleDateString() : 'n/a',
                  '</li>');

            var data = new FormData();
	        data.append('resume',f);

	        try {
	            $.ajax({
	                type: "POST",
	                url: "/addResume",
	                data: data,
	                async: true,
	                cache: false,
	                contentType: false,
	                processData: false,
	                success: processDataForAddResume
	            });
	        } catch(exception) {
	            console.log("Exception Occurred!!" + exception);
	            console.log(new Error().stack);
	        }

    }
    document.getElementById('list').innerHTML = '<ul>' + output.join('') + '</ul>';
  }

  function processDataForAddResume(r){ console.log("Successfully uploaded resume"); }

  document.getElementById('resumes').addEventListener('change', handleFileSelect, false);

</script>

</body>
</html>