<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Trujobs - Trusted Employers - Verified Candidates</title>
        <meta name="keywords" content="freshers jobs, driver jobs, delivery boy jobs, field sales agent,call center jobs, BPO jobs, data entry jobs, back office jobs, receptionist jobs, beautician jobs, waiter jobs, cook jobs, restaurant jobs, cashier jobs">

            <!-- Bootstrap Core CSS -->
        <link href="http://sbootstrap.startbootstrapc.netdna-cdn.com/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">

            <!-- Start Bootstrap Custom CSS -->
        <link href="http://sbootstrap.startbootstrapc.netdna-cdn.com/assets/css/startbootstrap.css" rel="stylesheet" type="text/css">
        <link rel="icon" type="image/png" href="/assets/img/icon.png">
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
        <link href='https://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    </head>
    <body>

        <div class="sectionThree" id="candidate">
            <div class="row" style="text-align: center">
                <img src="/assets/img/logo.png" height="80px" style="margin-top: -8px;">
                <h3>New Candidate Registration</h3>
            </div>
            <br>
                <!-- form -->
            <form id="form_signup_candidate" class="form-horizontal" role="form" name="form_signup_candidate" >
                <div class="c_form" align="center">
                    <!-- Text input-->
                    <div class="form-group">
                        <input id="candidateName" name="candidateName" type="text" placeholder="Name: (eg: Manjunath)" class="form-control input-md" required>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <input id="candidateMobile" name="candidateMobile" pattern="[7-9]{1}[0-9]{9}" type="text" maxlength="10" placeholder="Mobile: (eg: 8880007799)" class="form-control input-md">
                    </div>

                    <button type="submit" class="btn btn-primary" style="padding-top: 3%; padding-bottom: 3%; padding-right: 8%; padding-left: 8%;" >Register</button>

                    <!-- Text input-->

                </div>
            </form>

            <form id="form_otp" class="form-horizontal" role="form" name="form_otp" style="display: none">
                <div class="c_form" align="center">

                    <div class="form-group">
                        <input id="candidateOtp" name="candidateOtp" type="number" placeholder="Enter OTP: (eg: 9876)" class="form-control input-md" required>
                    </div>

                        <!-- hidden-->
                    <div class="form-group" style="display: none;">
                        <input id="autoCandidateMobile" name="autoCandidateMobile" type="text"class="form-control input-md" >
                    </div>
                    <button type="submit" class="btn btn-primary" style="padding-top: 3%; padding-bottom: 3%; padding-right: 8%; padding-left: 8%;" >Verify OTP</button>

                </div>
            </form>

            <form id="form_auth" class="form-horizontal" role="form" name="form_auth" style="display: none">
                <div class="c_form" align="center">

                    <div class="form-group">
                        <input id="candidatePassword" name="candidatePassword" type="password" placeholder="Enter password (Min. 6 characters)" class="form-control input-md" required>
                    </div>

                    <div class="form-group">
                        <input id="rePassword" name="rePassword" type="password" placeholder="Re-enter password" class="form-control input-md" required>
                    </div>

                        <!-- hidden-->
                    <div class="form-group" style="display: none;">
                        <input id="candidateAuthMobile" name="candidateAuthMobile" type="text"class="form-control input-md" >
                    </div>
                    <button type="submit" class="btn btn-primary" style="padding-top: 3%; padding-bottom: 3%; padding-right: 8%; padding-left: 8%;" >Save Password</button>

                </div>
            </form>
            <div id="thanksMsg" style="margin-top: 2%;display: none; color: #2980b9">
                <h4>Account Created Successfully!</h4>
            </div>
            <div id="incorrectMsg" style="margin-top: 2%;display: none; color: #2980b9">
                <h4>Incorrect OTP Code. Please Enter Again</h4>
            </div>

            <div id="errorMsg" style="margin-top: 2%;display: none; color: #2980b9">
                <h4>Looks like something went wrong. Please try again later!</h4>
            </div>
        </div>

        <div class="sectionFive" id="contact">
            <h4>Write us at <a href="mailto:hi@@trujobs.in">hi@@trujobs.in</a></h4>
            <h4>Have queries? Talk to us at 8880007799 (Option 2)</h4>
        </div>

         <div class="footer">
            © 2016 Trujobs.in | Bellandur, Bengaluru, India. All Right Reserved.
        </div>
            <!-- Including Bootstrap -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/assets/js/scroll.js"></script>
        <script type="text/javascript" src="/assets/js/signup_candidate.js"></script>

    </body>
</html>