<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        <link rel="stylesheet" href="assets/support/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/support/css/dataTables.bootstrap.min.css">
        <link rel="stylesheet" href="assets/support/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="assets/support/css/nprogress.css">
        <script type="text/javascript" src="assets/support/js/jquery-1.12.0.min.js"></script>

    </head>
    <body style="font-size: 13px;">

        <div class="container">

            <div class="modal fade" id="callResponseModal" tabindex="-1" role="dialog"  aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h5 class="modal-title">Call Assesment for <input type="text" class="form-control" name="leadMobileNumber" id="leadMobileNumber" disabled/></h5>
                        </div>
                        <div class="modal-body">
                                <!-- The form is placed inside the body of modal -->
                            <form id="callResponseForm" method="post" class="form-horizontal">
                                <h3 class="modal-title">Is Lead a Candidate/Recruiter/Lost/Not able to Connect now?</h3>
                                <div class="form-group">
                                    <label class="radio-inline"><input type="radio" name="answer" id="no" data-dismiss="modal" value="no"  />Profile Not Created</label>
                                    <label class="radio-inline"><input type="radio" name="answer" id="lost" value="lost"  />Lost</label>
                                    <label class="radio-inline"><input type="radio" name="answer" id="candidate" value="candidate"  />Candidate</label>
                                    <label class="radio-inline"><input type="radio" name="answer" id="recruiter" value="recruiter"  />Recruiter</label>
                                </div>
                                <input type="hidden" class="form-control" name="leadId" id="leadId"/>

                                <div class="form-group">
                                    <div class="col-xs-5 col-xs-offset-3">
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

            <h2> Support Dashboard :<a href="/logout"><button class="btn btn-danger" style="align-items: flex-end"> Logout</button></a></h2>
            <table id="leadTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>GID</th>
                        <th>Record Type</th>
                        <th>Status</th>
                        <th>First Inbound</th>
                        <th>Total Inbounds </th>
                        <th>Recent Inbound</th>
                        <th>Channel</th>
                        <th>Mobile</th>
                        <th>Name</th>
                        <th>FUA</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <script type="text/javascript" src="assets/support/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="assets/support/js/datatables.min.js"></script>
        <script type="text/javascript" src="assets/support/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="assets/support/js/nprogress.js"></script>
        <script type="text/javascript" src="assets/support/js/controller.js"></script>

    </body>
</html>