<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        <link rel="stylesheet" href="assets/support/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/support/css/dataTables.bootstrap.min.css">
        <link rel="stylesheet" href="assets/support/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="assets/support/css/nprogress.css">
        <script type="text/javascript" src="assets/support/js/jquery-1.12.0.min.js"></script>

    </head>
    <body style="font-size: 13px;">

        <div class="container">

            <div class="modal fade" id="newLeadEntryModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h5 class="modal-title">Candidate Entry Form</h5>
                        </div>

                        <div class="modal-body">
                                <!-- The form is placed inside the body of modal -->
                            <form id="candidateEntryForm" method="post" class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">Full Name</label>
                                    <div class="col-xs-5">
                                        <input type="text" class="form-control" name="candidateName" id="candidateName" />
                                    </div>
                                </div>
                                <input type="hidden" class="form-control" name="leadId" id="leadId"/>

                                <div class="form-group">
                                    <label class="col-xs-3 control-label">Phone Number</label>
                                    <div class="col-xs-5">
                                        <input type="text" class="form-control" name="candidateMobile" id="candidateMobile"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-xs-3 control-label">Job</label>
                                    <div class="col-xs-5">
                                        <input type="text" class="form-control" name="candidateJobInterest" id="candidateJobInterest"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-xs-3 control-label">Locality</label>
                                    <div class="col-xs-5">
                                        <input type="text" class="form-control" name="candidateLocality" id="candidateLocality" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-xs-3 control-label">Add Note</label>
                                    <div class="col-xs-5">
                                        <textarea type="text" class="form-control" name="candidateNote" id="candidateNote" ></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-xs-5 col-xs-offset-3">
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

            <h2> Support Dashboard</h2>
            <form id="upload_csv" class="form-horizontal" name="upload_csv" enctype="multipart/form-data">
                <input type="file" name="file" id="csvfile" accept="text/csv">
                <p>
                    <input type="submit" value="Upload" id="submit">
                </p>
            </form>
            <table id="leadTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>GID</th>
                        <th>Status</th>
                        <th>Date</th>
                        <th>Channel</th>
                        <th>Lead Mobile</th>
                        <th>Lead Name</th>
                        <th>Lead Type</th>
                        <th>FUA</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <script type="text/javascript" src="assets/support/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="assets/support/js/datatables.min.js"></script>
        <script type="text/javascript" src="assets/support/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="assets/support/js/uploadController.js"></script>
        <script type="text/javascript" src="assets/support/js/nprogress.js"></script>
        <script type="text/javascript" src="assets/support/js/controller.js"></script>

    </body>
</html>