<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="assets/support/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
        <form id="upload_csv" class="form-horizontal" name="upload_csv" enctype="multipart/form-data">
            <h2 class="form-signin-heading">Trujobs CSV Upload Arena: <a href="/logout"><button class="btn btn-danger">Logout</button></a></h2>
            <label class="sr-only">Select Sorted File to Upload</label>
            <input type="file" name="file" id="csvfile" accept="text/csv">
            <p>
                <input type="submit" value="Upload" id="submit">
            </p>
        </form>
        </div> <!-- /container -->
        <script type="text/javascript" src="assets/support/js/jquery-1.12.0.min.js"></script>
        <script type="text/javascript" src="assets/support/js/uploadController.js"></script>
    </body>
</html>